<nav class="section section--indices" aria-labelledby="indices">
    <h1 class="section__title audible" id="indices">Browse {{ page.title }}</h1>

    <div class="nav nav--pagination">
    {% if paginator.next_page %}
        <a class="nav__item nav__item--prev" rel="prev" href="{{ paginator.next_page_path }}">
            {% asset nav__item__icon--prev.svg %}
            <span class="nav__item__label">Older</span>
        </a>
    {% endif %}

    {% if paginator.previous_page %}
        <a class="nav__item nav__item--next" rel="next" href="{{ paginator.previous_page_path }}">
            <span class="nav__item__label">Newer</span>
            {% asset nav__item__icon--next.svg %}
        </a>
    {% endif %}
    </div>
</nav>