<nav class="section section--pages" aria-labelledby="pagination">
    <h1 class="section__title  u-hidden" id="pagination">Browse</h1>

    <div class="nav nav--pages">
    {% if paginator.next_page %}
        <a class="nav__item nav__item--prev" rel="prev" href="{{ paginator.next_page_path }}">
            <span class="nav__item__label">Older</span>
        </a>
    {% endif %}

    {% if paginator.previous_page %}
        <a class="nav__item nav__item--next" rel="next" href="{{ paginator.previous_page_path }}">
            <span class="nav__item__label">Newer</span>
        </a>
    {% endif %}
    </div>
</nav>