<nav class="c-page__nav c-container" aria-labelledby="browse">
    <header class="c-container__header">
        <h1 class="c-container__title u-audible" id="browse">Browse Journal</h1>
    </header>

    <div class="c-nav c-nav--pagination">
    {% if page.previous != nil %}
        <a class="c-nav__item c-nav__item--prev" rel="next bookmark" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
            <span class="c-nav__item__label">Older</span>
        </a>
    {% endif %}

    {% if page.next != nil %}
        <a class="c-nav__item c-nav__item--next" rel="prev bookmark" href="{{ page.next.url }}" title="{{ page.next.title }}">
            <span class="c-nav__item__label">Newer</span>
        </a>
    {% endif %}
    </div>
</nav>
