<nav class="c-nav c-nav--pagination" aria-labelledby="indices">
    <h1 class="u-hidden" id="indices">Browse {{ page.title }}</h1>

    {% if paginator.next_page %}
    <a class="c-nav__item c-nav__item--prev" rel="prev" href="{{ paginator.next_page_path }}">
        <span class="c-nav__item__label">Older</span>
    </a>
    {% endif %}

    {% if paginator.previous_page %}
    <a class="c-nav__item c-nav__item--next" rel="next" href="{{ paginator.previous_page_path }}">
        <span class="c-nav__item__label">Newer</span>
    </a>
    {% endif %}
</nav>
