<nav class="c-page__nav c-container" aria-labelledby="pages">
    <header class="c-container__header">
        <h1 class="c-container__title u-audible" id="pages">Browse {{ page.categories | first }}</h1>
    </header>

    <div class="c-nav c-nav--pagination">
    {% if page.next_in_category != nil %}
        <a class="c-nav__item c-nav__item--prev" rel="prev bookmark" href="{{ page.next_in_category.url }}" title="{{ page.next_in_category.title }}">
            <span class="c-nav__item__label">Older</span>
        </a>
    {% endif %}

    {% if page.previous_in_category != nil %}
        <a class="c-nav__item c-nav__item--next" rel="next bookmark" href="{{ page.previous_in_category.url }}" title="{{ page.previous_in_category.title }}">
            <span class="c-nav__item__label">Newer</span>
        </a>
    {% endif %}
    </div>
</nav>
