<nav class="section section--more" role="navigation" aria-labelledby="more">
    <h1 class="section__title  u-hidden" id="more">More</h1>

    <ul class="nav nav--secondary">
        <li class="nav__item">
            <a class="nav__item__label" href="/archive/">Archive</a>
        </li>
        <li class="nav__item">
            <a class="nav__item__label" href="/essays/">Essays</a>
        </li>
        <li class="nav__item">
            <a class="nav__item__label" href="/about/colophon">Colophon</a>
        </li>
        <li class="nav__item">
            <a class="nav__item__label" href="/about/styleguide">Styleguide</a>
        </li>
        <li class="nav__item">
            <a class="nav__item__label" href="/feed" rel="alternate" type="application/atom+xml">RSS Feed</a>
        </li>
        <li class="nav__item">
            <a class="nav__item__label" href="https://twitter.com/{{ site.author.twitter }}" rel="me">{{ site.author.twitter }}</a>
        </li>
    </ul>
</nav>
