{% comment %}
    Use if statement until arrays can be combined in Liquid.
    See: https://github.com/Shopify/liquid/pull/429
{% endcomment %}
{% if page.path contains '_posts' %}
    {% assign series = site.posts | where: 'series', page.series | sort: date %}
{% else %}
    {% assign series = site.pages | where: 'series', page.series %}
{% endif %}
<nav class="section section--series  {{ include.class }}" aria-labelledby="series">
    <h1 class="section__title" id="series"><a href="{{ series[0].url }}">{{ page.series }}</a></h1>

    <ol class="nav nav--series">
    {% for item in series offset:1 %}
        <li class="nav__item{% if page.url == item.url %} is-active{% endif %}">
            <a class="nav__item__label" href="{{ item.url }}">{{ item.title }}</a>
        </li>
    {% endfor %}
    </ol>
</nav>
