<nav class="section section--years" aria-labelledby="years">
    <h1 class="section__title" id="years">Years</h1>

    <ol class="nav nav--years">
    {% for post in site.posts %}
        {% capture currentyear %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if currentyear != year %}
            {% unless forloop.first %}</ul>{% endunless %}
            <li class="nav__item">
                <a class="nav__item__label" href="/{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>
            </li>
            {% capture year %}{{ currentyear }}{% endcapture %} 
        {% endif %}
    {% endfor %}
    </ol>
</nav>
