/*  =========================================================================
    Page navigation
    ========================================================================= */
.navigation--pages {
    position: fixed;
    top: 50%;
    right: 2rem;
    left: 2rem;

    .navigation__item {
        position: absolute;
        margin-top: -1rem;

        &:before {
            display: block;
            transform: rotate(45deg);
            border-style: solid;
            border-color: $c__neutral-6;
            width: 2rem;
            height: 2rem;
            content: '';
        }

        &:hover {
            &:before {
                border-color: $c__neutral-5;
            }
        }
    }

    .navigation__item--prev {
        left: 0;

        &:before {
            border-width: 0 0 1px 1px;
        }
    }

    .navigation__item--next {
        right: 0;

        &:before {
            border-width: 1px 1px 0 0;
        }
    }

    .navigation__item__label {
        @extend %u-hidden;
    }
}
