/*  =========================================================================
    Page navigation
    ========================================================================= */
.navigation--pages {
    padding-bottom: 2em;
    overflow: hidden;

    .navigation__item {
        display: block;
        position: relative;
        border-top: 1px solid $c__neutral-7;
    }

    .navigation__item--prev {
        &:before {
            position: absolute;
            top: 0.25em;
            left: -1em;
            content: '\2190\00A0'; // Left pointing arrow
            speak: none;
        }
    }

    .navigation__item--next {
        text-align: right;

        &:after {
            position: absolute;
            top: 0.25em;
            right: -1em;
            content: '\00A0\2192'; // Right pointing arrow
            speak: none;
        }
    }

    .navigation__item__label {
        display: block;
        margin-bottom: 0.8571em; /* 12px */
        text-transform: uppercase;
        line-height: 1.4286; /* 20px */
        letter-spacing: 1px;
        font-size: 0.875em; /* 14px */
    }

    .navigation__item__title {
        margin: 0 0 0.6667em; /* 0 0 16px */
        letter-spacing: 0;
        font-size: 1.5em;
    }
}
