/*  =========================================================================
    Primary navigation
    ========================================================================= */

.navigation--primary {
    position: absolute;
    top: 0;
    right: 0;

    .navigation__title {
        @extend %u-hidden;
    }
}
