/* ==========================================================================
   Structure > Navigation
   ========================================================================== */
.navigation--primary {
    text-align: right;
    position: absolute;
    top: 2em;
    right: 0;
    left: 0;
}

.navigation--primary .inline-list {
    margin-right: 1em;
    margin-left: 1em;
}

.navigation--primary .inline-list > .inline-list__item {
    margin-left: 1em;
    padding: 0;
    display: inline-block;
}