/*  =========================================================================
    Charts - Converts tablular data into visual charts
    ========================================================================= */

/* Horizontal bar chart */
.chart--hbar {
    width: 100%;
    vertical-align: middle;

    .chart__label {
        width: 15%;
        white-space: nowrap;
    }

    .chart__value--percent {
        @include caption;
        display: block;
        margin-top: ($u__baseline / -5);
        margin-bottom: 0;
        background-color: $c__neutral--8;
        padding: ($u__baseline / 5);
        white-space: nowrap;
    }
}
