/*  =========================================================================
    Nav
    ========================================================================= */

.nav__item {
    &.is-active {
        font-weight: 700;
    }
}


/* Primary navigation  */
.nav--primary {
    @include clearfix;
    @include fs--english($line-height: 1);
    margin-top: ($u__baseline * 3);
    padding-top: ($u__baseline * 0.5);
    padding-bottom: ($u__baseline * 0.5);

    @include susy-media($b__a) {
        @include fs--double-brevier($line-height: 1);
        margin-top: 0;
        padding-top: ($u__baseline * 2);
        padding-bottom: ($u__baseline * 2);
        text-align: right;
    }

    .nav__item {
        float: left;
        margin-right: gutter();
        width: span(1 of 4);

        @include susy-media($b__a) {
            display: inline-block;
            float: none;
            margin-right: 0;
            text-align: right;
        }

        @include susy-media($b__b) {
            width: span(1 of 6);
        }

        @include susy-media($b__c) {
            width: span(1 of 8);
        }
    }

    .nav__item:last-child {
        margin-right: 0;
    }
}


/* Series navigation */
.nav--series,
.nav--years {
    @include ff--sans-serif();

    .nav__item__label {
        @include fs--english;
        display: block;
        border-top: 1px solid;
        padding-top: ($u__baseline / 4);
        padding-bottom: ($u__baseline / 2);
    }
}


/* Page navigation */
.nav--pagination {
    position: relative;
    border-top: 1px solid;
    height: ($u__baseline * 2);
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-right: 1px dashed;
        width: 1px;
        content: '';
    }

    .nav__item {
        line-height: ($u__baseline * 2);
    }

    .nav__item--prev {
        float: left;
    }

    .nav__item--next {
        float: right;
    }
}
