/*  =========================================================================
    Prose
    ========================================================================= */

.prose {
    @include ff--serif;
    font-feature-settings: 'liga', 'dlig', 'onum';

    @include susy-breakpoint(b__c) {
        @include fs--great-primer($line-height: (28/18));
    }

    h2 {
        @include ff--sans-serif(700);
        @include fs--paragon;
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--great-primer;
    }

    * + h2,
    * + h3 {
        margin-top: ($u__baseline * 2);
    }

    h4 {
        @include fs--double-brevier;
    }

    > pre,
    > blockquote,
    > table,
    > fieldset,
    > section,
    div[class*="highlighter-"],
    .embed,
    .figure {
        margin-top: ($u__baseline * 2);
        margin-bottom: ($u__baseline * 2);
    }

    pre {
        @include fs--english;
    }

    blockquote {
        @include ff--sans-serif;
        border-left: 0.5rem solid $c__neutral--8; // 8px
        padding-left: 0.75rem; // 12px
        color: $c__neutral--3;
    }

    strong {
        @include ff--sans-serif(700);
    }

    // Align element right or left
    .l-align-right {
        @include span(1.5 of 6 last);
        margin-left: gutter();
    }

    .l-align-left {
        @include span(2 of 6);
    }

    // Pull element right or left
    .l-pull-right {
        @include susy-breakpoint(b__a) {
            @include span(3 of 6 last);
            margin-right: -(span(1 wider));
            margin-left: gutter();
        }
    }

    .l-pull-left {
        @include susy-breakpoint(b__a) {
            @include span(3 of 6);
            margin-right: gutter();
            margin-left: -(span(1 wider));
        }
    }

    // On wider breakpoints elements that extends outwards by additional column
    .l-extend {
        @include extend;

        .embed--video {
            @include susy-breakpoint(b__a) {
                padding-bottom: 75%;
            }
        }
    }
}
