/*  =========================================================================
    Prose
    ========================================================================= */

.prose {
    @include ff--serif;
    font-feature-settings: 'liga', 'dlig', 'onum';

    @include susy-breakpoint(b__c) {
        @include fs--great-primer($line-height: (28/18));
    }

    h2 {
        @include ff--sans-serif(700);
        @include fs--paragon;
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--great-primer;
    }

    * + h2,
    * + h3 {
        margin-top: ($u__baseline * 2);
    }

    h4 {
        @include fs--double-brevier;
    }

    > pre,
    > blockquote,
    > table,
    > fieldset,
    > section,
    div[class*="highlighter-"],
    .embed,
    .figure {
        margin-top: ($u__baseline * 2);
        margin-bottom: ($u__baseline * 2);
    }

    pre {
        @include fs--english;
    }

    blockquote {
        @include ff--sans-serif;
        border-left: 0.5rem solid $c__neutral--8; // 8px
        padding-left: 0.75rem; // 12px
    }

    strong {
        @include ff--sans-serif(700);
    }
}
