/*  =========================================================================
    Remark
    ========================================================================= */
.remark {
    @include span(10 of 8);
    display: flex;
    position: relative;
    margin-left: -(span(1 wider));
    padding-left: span(1 wider);
    flex-direction: column;
}

.remark__header {
    order: 1;
}

.remark__main {
    order: 3;

    ol,
    ul {
        list-style-position: inside;
    }
}

.remark__footer {
    margin-bottom: 1rem;
    order: 2;
}

.remark__title {
    @include fs--great-primer;
    @include rule(before);
    font-weight: 700;
}

.remark__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: span(1 of 8);
    height: auto;
}

.remark__pubdate {
    @include caption;
}
