/*  =========================================================================
    Section
    ========================================================================= */

.section {
    margin-bottom: ($u__baseline * 2);
    overflow: hidden;
}

.section__title {
    @include ff--sans-serif;
    @include fs--double-pica;
    margin-bottom: ($u__baseline / 2);
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;

    .section--is-expandable & {
        display: inline-block;
    }
}

.section--series {
    @include clearfix;
    @include span(2 of 6 last);
    margin-right: -(span(1 wider));
    margin-left: gutter();
}

.section--intro {
    @include susy-media($b__b) {
        .section__header {
            @include span(2 of 8);
        }

        .section__main {
            @include span(6 of 8 last);
        }
    }

    .section__title {
        @include fs--double-english;

        @include susy-media($b__a) {
            @include fs--canon;
        }

        &::after {
            content: ',';
        }
    }
}

.section--pitch {
    @include susy-media($b__b) {
        @include span(5);
    }
}

.section--extra {
    @include susy-media($b__b) {
        @include span(3 last);
    }
}
