/*  =========================================================================
    Summary
    ========================================================================= */

.summary {
    display: flex;
    margin-bottom: $u__baseline;
    flex-direction: column;

    @include susy-media($b__a) {
        position: relative;
    }
}

.summary__header {
    order: 1;
}

.summary__footer {
    order: 2;
}

.summary__main {
    order: 3;
}

.summary__title {
    @include fs--paragon;
    font-weight: 700;
}

.summary__pubdate {
    @include caption;
}

/* Entry summary */
.summary--entry {
    .summary__title {
        @include fs--canon;
    }
}

/* Link summary */
.summary--link {
    .summary__link::after {
        content: ' \2192';
    }
}
