/*  =========================================================================
    Summary
    ========================================================================= */

.summary {
    display: flex;
    margin-bottom: $u__baseline;
    flex-direction: column;

    @include susy-breakpoint(b__a) {
        position: relative;
    }
}

.summary__header {
    order: 1;
}

.summary__footer {
    order: 2;
}

.summary__main {
    order: 3;
}

.summary__title {
    @include fs--paragon;
    font-weight: 700;

    .summary--related &,
    .summary--project & {
        @include rule(before, $c__accent);
    }
}

.summary__permalink {
    display: block;
}

.summary__pubdate {
    @include caption;
}

/* Entry summary */
.summary--entry {
//    margin-bottom: (4 * $u__baseline);

//    .summary__title {
//        @include fs--canon;
//        margin-bottom: $u__baseline;
//    }
}

/* Link summary */
.summary--link {
//    margin-bottom: ($u__baseline * 2);

//    .summary__title {
//        margin-bottom: ($u__baseline / 5);
//    }

    .summary__link::after {
        content: ' \2192';
    }
}
