/*  =========================================================================
    Tag
    ========================================================================= */

.tag {
    @include fs--english;
    text-transform: lowercase;
    word-spacing: -0.25em;

    &::before {
        opacity: 0.5;
        content: '#';
    }
}
