// ========================================================
// Mixins
// ========================================================

// Link
@mixin link {
  text-decoration: underline;
  text-decoration-color: $--color-primary;
  text-decoration-skip: ink;
  color: inherit;

  &:hover {
    color: $--color-primary;
  }

  &:active,
  &:focus {
    text-decoration-color: currentColor;
    color: $--color-secondary;
  }
}

// Line rule
@mixin rule($height: $--rule-thin, $width: 100%, $position: "before") {
  &::#{$position} {
    display: inline-block;
    border-top: $height solid rgba($--color-neutral-mid, 0.25);
    width: $width;
    content: "";
  }
}

// Vertically separate two strings with a middot
@mixin separate {
  &::after {
    color: rgba($--color-neutral-mid, 0.5);
    content: "\00a0\2219";
  }

  &:last-child::after {
    content: none;
  }
}
