// ========================================================
// Custom Properties
// ========================================================

:root {
  --page-gutter: #{$--space-medium};

  @media (min-width: $--breakpoint-a) {
    --page-gutter: #{$--space-large};
  }

  @media (min-width: $--breakpoint-c) {
    --page-gutter: 15vw;
  }
}
