---
layout: index
title: Articles
landing: true
articles:
  - title: 'Beyond the Style Guide'
    publication: '24 ways'
    date: '2015-12-16'
    url: https://24ways.org/2015/beyond-the-style-guide/

  - title: 'Thinking Responsively: A Framework for Future Learning'
    publication: 'A List Apart'
    date: '2015-08-25'
    url: http://alistapart.com/article/thinking-responsively-a-framework-for-future-learning

  - title: 'Naming Things'
    publication: '24 ways'
    date: '2014-12-21'
    url: https://24ways.org/2014/naming-things/

  - title: 'After Editorially: The Search For Alternative Collaborative Online Writing Tools'
    publication: 'Smashing Magazine'
    date: '2014-04-17'
    url: http://www.smashingmagazine.com/2014/04/17/after-editorially-alternative-collaborative-online-writing-tools/

  - title: 'Review: Adobe Edge CC'
    publication: 'Digital Arts'
    date: '2013-06-20'
    url: http://digitalartsonline.co.uk/reviews/creative-software/adobe-edge-review/

  - title: 'Review: Bohemian Coding Sketch 2'
    publication: 'Digital Arts'
    date: '2013-05-15'
    url: http://digitalartsonline.co.uk/reviews/interactive-design/bohemian-coding-sketch-2-review/

  - title: 'Responsive Images: What We Thought We Needed'
    publication: '24 ways'
    date: '2012-12-11'
    url: https://24ways.org/2012/responsive-images-what-we-thought-we-needed/

  - title: 'The Web Aesthetic'
    publication: 'A List Apart'
    date: '2012-09-25'
    url: http://alistapart.com/articles/the-web-aesthetic

  - title: 'Build a Responsive Website in a Week'
    publication: 'net Magazine'
    date: '2012-04-23'
    url: https://github.com/paulrobertlloyd/roadtrip

  - title: 'Collaborative Development for a Responsively Designed Web'
    publication: '24 ways'
    date: '2011-12-05'
    url: https://24ways.org/2011/collaborative-development-for-a-responsively-designed-web

  - title: 'Graphic Design on UK Terrestrial Television & the Effects of Multi-Channel Growth'
    publication: 'Disertation paper for BA(Hons) Graphic Design'
    date: '2002-06-01'
    url: /articles/dissertation/

  - title: 'FC/plc'
    publication: 'Research paper for BA(Hons) Graphic Design'
    date: '2002-05-01'
    url: /articles/fcplc

  - title: 'The World Wide Web: A New Medium for Design'
    publication: 'Essay for BA(Hons) Graphic Design'
    date: '2001-06-01'
    url: /articles/a_new_medium_for_design

  - title: 'Brand New Britain'
    publication: 'Essay for BA(Hons) Graphic Design' 
    date: '2000-05-01'
    url: /articles/britain_rebranded

  - title: 'Beige to Bondi-Blue'
    publication: 'Essay for BA(Hons) Graphic Design'
    date: '2000-04-01'
    url: /articles/biege_to_bondiblue

  - title: 'Early Graphic Design in Television'
    publication: 'Essay for Foundation Diploma in Art & Design'
    date: '1999-03-01'
    url: /articles/early_graphic_design_in_television/
---
{% for item in page.articles %}
    {% assign this_year = item.date | date:"%Y" %}

    {% if this_year != year %}
        {% unless forloop.first %}
    </div>
</section>
        {% endunless %}

<section class="c-section c-section--archive" aria-labelledby="year-{{ this_year }}">
    <header class="c-section__header">
        <h1 class="c-section__title" id="year-{{ this_year }}">{{ this_year }}</h1>
    </header>

    <div class="c-section__main">
        {% assign year = this_year %}
    {% endif %}

        {% include item/article.html %}

    {% if forloop.last %}
    </div>
</section>
    {% endif %}
{% endfor %}
