---
layout: index
title: Articles
intro: I like to share accumulated knowledge with my peers, and have written articles for publications like net Magazine, A List Apart and 24 ways.
---
{% for item in site.data.articles %}
    {% capture this_year %}{{ item.date | date: '%Y' }}{% endcapture %}

    {% if this_year != year %}
        {% capture year %}{{ this_year }}{% endcapture %}

        {% unless forloop.first %}
            </div>
        </section>
        {% endunless %}

        <section class="container container--year" aria-labelledby="year-{{ this_year }}">
            <header class="container__header">
                <h1 class="container__title" id="year-{{ this_year }}">{{ this_year }}</h1>
            </header>

            <div class="container__main">
    {% endif %}
                {% include components/item/article.html %}
{% endfor %}
