/*  =========================================================================
    Footnotes
    ========================================================================= */

.footnotes {
    @include fs--5;
    @include ff--sans-serif(400);
    margin-top: 2rem;
    color: $c__neutral-3;

    &:before {
        @include rule(2);
        margin: 2rem auto; // 32px auto
    }
}
