// ========================================================
// Prose
// ========================================================

.s-prose {
  --flow-space: 0.75rem;
  line-height: (24 / 16);
  font-variant: common-ligatures oldstyle-nums;
  hanging-punctuation: first;

  *:last-child {
    --flow-space: 0;
  }

  blockquote {
    > *:not(footer) {
      --flow-space: 0;
      padding-left: $--space-medium;
      border-left: $--rule-medium solid;
    }

    > * + *:not(footer) {
      padding-top: $--space-small;
    }

    footer {
      @include typeset("caption");
      margin-top: $--space-small;
      color: $--color-neutral-mid;
    }
  }

  figure {
    margin-bottom: $--space-medium;
  }

  ol:not([class]),
  ul:not([class]),
  dd:not([class]) {
    margin-left: $--space-large;
  }

  hr {
    @include rule($height: $--rule-medium);
    margin: $--space-medium auto;
    border: 0;
    line-height: 0;
  }

  table {
    caption-side: bottom;
  }

  tbody {
    margin-bottom: $--space-medium;
  }

  caption {
    @include typeset("caption");
    margin-top: $--space-small;
  }

  td,
  th {
    border-top: $--rule-thin solid;
    padding-right: $--space-medium;
    padding-bottom: $--space-small;
    vertical-align: top;
    white-space: nowrap;
    overflow-wrap: break-word;
  }

  td {
    border-color: rgba($--color-neutral-mid, 0.5);
  }

  th {
    border-top: $--rule-thin solid;
    padding-bottom: $--space-medium;
    font-weight: 700;
  }

  div.highlighter-rouge {
    margin: $--space-medium ($--space-small * -1);
    padding: $--space-small;
  }

  .caps {
    font-variant-caps: small-caps;
  }

  .footnotes {
    @include typeset("caption");
    @include rule($width: 20%);
    margin-bottom: $--space-medium;
    color: $--color-neutral-mid;
  }
}

// Body
.s-prose--body {
  @include typeset("body");

  h2 {
    @include typeset("heading-2");
    margin-bottom: $--space-small;
    font-weight: 700;
  }

  *:not(hr) + h2 {
    margin-top: $--space-xlarge;
  }

  h3 {
    @include typeset("heading-3");
    margin-bottom: $--space-small;
    font-weight: 700;
  }

  *:not(hr) + h3 {
    margin-top: $--space-large;
  }

  h4 {
    margin-bottom: 0;
    font-weight: 700;
  }

  * + table,
  * + figure {
    margin-top: $--space-xlarge;
  }

  hr {
    margin: $--space-xlarge auto;
  }

  pre {
    font-size: 90%;
  }

  li,
  li > * {
    margin-bottom: $--space-xsmall;
  }

  blockquote {
    margin-bottom: $--space-large;
  }

  figure {
    margin-bottom: $--space-xlarge;

    > * {
      margin-bottom: $--space-medium;
    }

    &.u-extend {
      @media (min-width: $--breakpoint-c) {
        display: grid;
        grid-template-columns: auto percentage(4/12);
        grid-column-gap: $--gutter;
        border-top: $--rule-thin solid rgba($--color-neutral-mid, 0.25);
        padding-top: ($--gutter / 3);
      }

      img {
        @media (min-width: $--breakpoint-c) {
          margin-bottom: 0;
        }
      }

      figcaption {
        @media (min-width: $--breakpoint-c) {
          grid-column-start: 2;
        }
      }
    }

    &.u-bleed {
      figcaption {
        padding-right: $--space-medium;
        padding-left: $--space-medium;

        @media (min-width: $--breakpoint-a) {
          padding-right: $--space-large;
          padding-left: $--space-large;
        }

        @media screen and (min-width: $--breakpoint-b) {
          padding-left: calc(#{percentage(2/9)} + $--space-medium);
        }

        @media screen and (min-width: $--breakpoint-c) {
          padding-left: percentage(2/9);
        }
      }
    }
  }

  figcaption,
  small {
    @include typeset("caption");
    color: $--color-neutral-mid;
  }

  figcaption {
    > * + * {
      margin-top: $--space-small;
    }

    li {
      list-style-position: inside;
    }
  }
}
