<div class="c-exif">
  <h2 class="c-exif__title">{{ photo.title }}</h2>
  <dl class="c-exif__values">
    <dt class="c-exif__title u-hidden">Date taken</dt>
    <dd class="c-exif__value c-exif__value--date-created" title="Date taken">
      <time datetime="{{ photo.date_created | date_to_xmlschema }}">
        {{ photo.date_created | date: "%e %B %Y" }}
      </time>
    </dd>
    <dt class="c-exif__title u-hidden">Model</dt>
    <dd class="c-exif__value c-exif__value--model" title="Model">
      {{ photo.model }}
    </dd>
    <dt class="c-exif__title u-hidden">Aperture</dt>
    <dd class="c-exif__value c-exif__value--f-number" title="Aperture">
      <i>f</i>/{{ photo.f_number }}
    </dd>
    <dt class="c-exif__title u-hidden">Exposure</dt>
    <dd class="c-exif__value c-exif__value--exposure-time" title="Exposure">
      {{ photo.exposure_time }}
    </dd>
    <dt class="c-exif__title u-hidden">Film speed</dt>
    <dd class="c-exif__value c-exif__value--iso-speed-ratings" title="Film speed">
      <abbr title="International Organization for Standardization ">ISO</abbr>{{ photo.iso }}
    </dd>
    <dt class="c-exif__title u-hidden">Focal Length</dt>
    <dd class="c-exif__value c-exif__value--focal-length" title="Focal Length">
      {{ photo.focal_length }}
    </dd>
  </dl>
</div>
