---
layout: index
title: Projects
theme: projects
---
{% assign projects = site.projects | sort:"date" %}
<div class="c-container c-container--case-studies">
    {% for item in projects reversed %}
        {% if item.featured %}
            {% include item/project.html %}
        {% endif %}
    {% endfor %}
</div>

<section class="c-container c-container--projects" aria-labelledby="projects">
    <header class="c-container__header">
        <h1 class="c-container__title" id="projects">Archived Projects</h1>
    </header>

    <ol class="c-nav c-nav--series o-list">
    {% for item in projects reversed %}
        {% if item.featured != true %}
            <li class="c-nav__item o-list__item" value="{{ post.date | date:"%-d" }}">
                <a class="c-nav__item__label" href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ol>
</section>
