---
layout: index
title: Projects
---
{% assign projects = site.projects | sort:"date" %}
<section class="c-section">
    <header class="c-section__header u-hidden">
        <h1 class="c-section__title" id="featured-projects">Featured Projects</h1>
    </header>

    <div class="c-section__main u-triad">
        {% for item in projects reversed %}
            {% if item.featured %}
                {% include item/project.html %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section class="c-section" aria-labelledby="archived-projects">
    <header class="c-section__header">
        <h1 class="c-section__title" id="archived-projects">Archived Projects</h1>
    </header>

    <div class="c-section__main u-triad">
        <ol class="c-nav c-nav--series c-list">
        {% for item in projects reversed %}
            {% if item.featured != true %}
                <li class="c-nav__item c-list__item" value="{{ post.date | date:"%-d" }}">
                    <a class="c-nav__item__label" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ol>
    </div>
</section>
