---
layout: index
title: Projects
---
{% assign projects = site.pages | where: 'layout','project' | sort: 'date' %}
{% for item in projects reversed %}
    {% if item.theme != null %}
        {% include components/item/project.html %}
    {% endif %}
{% endfor %}

<section class="container container--projects" aria-labelledby="projects">
    <h1 class="container__title" id="projects">Archived Projects</h1>

    <ol class="nav nav--series">
    {% for item in projects reversed %}
        {% if item.theme == null %}
            <li class="nav__item" value="{{ post.date | date: "%-d" }}">
                <a class="nav__item__label" href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ol>
</section>
