---
layout: default
title: Journal
landing: true
permalink: /journal/
pagination:
  enabled: true
  collection: posts, links, galleries
---
<section class="c-page c-page--index">
  {% include page/header.html title=page.title %}

  <div class="c-section">
  {% for item in paginator.posts %}
    {% case item.collection %}
    {% when "galleries" %}
      {% include item/gallery.html %}
    {% when "links" %}
      {% include item/link.html %}
    {% else %}
      {% include item/entry.html %}
    {% endcase %}
  {% endfor %}
  </div>
</section>

{% include nav/paginate-indices.html %}
