<template id="template--reference">
    <article class="response  p-comment h-cite">
        <div class="response-content  e-content">
            <p><cite><a class="title  p-name u-url"></a></cite> references this post.</p>
        </div>

        <footer class="response-footer">
            <p>
                <a class="author  p-author h-card"><img class="avatar  u-photo"> <span class="name  p-name"></span></a> published this on <time class="pubdate  dt-published"></time>.
            </p>
        </footer>
    </article>
</template>
