<template id="template--reference">
    <li>
        <article class="response p-comment h-cite">
            <div class="response-content e-content">
                <p><a class="title u-url p-name"></a> references this post.</p>
            </div>

            <footer class="response-footer">
                <p><a class="author p-author h-card"><img class="avatar u-photo"> <span class="name p-name"></span></a> published this on <time class="pubdate dt-published"></time>.</p>
            </footer>
        </article>
    </li>
</template>
