<template id="template--reply">
    <li>
        <article class="response p-comment h-cite">
            <div class="response-content e-content"></div>

            <footer class="response-footer">
                <p>
                    <a class="author p-author h-card"><img class="avatar u-photo"> <span class="name p-name"></span></a> responded on
                    <a class="permalink u-url"><time class="pubdate dt-published"></time></a>.
                </p>
            </footer>
        </article>
    </li>
</template>
