<template id="template--reply">
    <article class="c-item c-item--comment  p-comment h-cite">
        <header class="c-item__header">
            <h1 class="c-item__title  h-card">
                <a class="c-item__author-url   u-url">
                    <span class="c-item__author  p-author p-name"></span>
                    <img class="c-item__avatar  u-photo" src="https://images.paulrobertlloyd.com/unsafe/120x120/"/>
                </a>
            </h1>
        </header>

        <footer class="c-item__footer">
            <p class="c-item__meta">
                <a class="c-item__permalink  u-url">
                    <time class="c-item__pubdate  dt-published"></time>
                </a>
            </p>
        </footer>

        <div class="c-item__main s-prose s-prose--billboard  e-content"></div>
    </article>
</template>
