# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*.map
*~

# Files to ignore
.DS_Store
._*
*.jekyll-metadata

# Folders to ignore
etc/ssl
src/.asset-cache
www
