[submodule "source/assets/_javascripts/vendor/fontfaceobserver"]
	path = source/_assets/javascripts/vendor/fontfaceobserver
	url = https://github.com/bramstein/fontfaceobserver.git
[submodule "source/assets/_javascripts/vendor/picturefill"]
	path = source/_assets/javascripts/vendor/picturefill
	url = https://github.com/scottjehl/picturefill.git
[submodule "source/assets/_javascripts/vendor/Simple-Jekyll-Search"]
	path = source/_assets/javascripts/vendor/Simple-Jekyll-Search
	url = https://github.com/christian-fei/Simple-Jekyll-Search.git
[submodule "source/assets/_javascripts/vendor/RouterRouter"]
	path = source/_assets/javascripts/vendor/RouterRouter
	url = https://github.com/jgarber623/RouterRouter
[submodule "source/assets/_javascripts/vendor/what-input"]
	path = source/_assets/javascripts/vendor/what-input
	url = git@github.com:ten1seven/what-input.git
