# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*.map
*~

# OS or Editor folders
.DS_Store
._*

# Files to ignore

# Folders to ignore
node_modules
public
remarks
source/_assets
tmp
