---
layout: default
title: Home
---
<main class="main" role="main">
    <section class="section">
        <h1 class="section__title">Home</h1>

        <ul class="list">
        {% for summary in paginator.posts %}
            <li class="list__item">
                {% include summary.html %}
            </li>
        {% endfor %}
        </ul>
    </section>

    <div class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="/">Newer</a>
        {% else %}
        <a class="pagination-item newer" href="{{paginator.previous_page_path}}">Newer</a>
        {% endif %}
    {% else %}
        <span class="pagination-item newer">Newer</span>
    {% endif %}
    {% if paginator.next_page %}
        <a class="pagination-item older" href="{{paginator.next_page_path}}">Older</a>
    {% else %}
        <span class="pagination-item older">Older</span>
    {% endif %}
    </div>
</main><!--/@main-->