---
layout: index
title: Present&shy;ations
intro: I like to share accumulated knowledge with my peers, and have spoken at design conferences around the UK and Europe.
---
<section class="container container--appearances" aria-labelledby="appearances">
    <header class="container__header">
        <h1 class="container__title" id="appearances">Next…</h1>
    </header>

    <div class="container__main">
        {% for item in site.data.appearances %}
            {% include components/item/presentation.html %}
        {% endfor %}
    </div>
</section>

{% assign presentations = site.posts | where: 'layout', 'presentation' | sort: 'date' %}
{% for item in presentations reversed %}
    {% capture this_year %}{{ item.date | date: '%Y' }}{% endcapture %}
    {% if this_year != year %}
        {% capture year %}{{ this_year }}{% endcapture %}
        {% unless forloop.first %}
            </div>
        </section>
        {% endunless %}

        <section class="container container--year" aria-labelledby="year-{{ this_year }}">
            <header class="container__header">
                <h1 class="container__title" id="year-{{ this_year }}">{{ this_year }}</h1>
            </header>

            <div class="container__main">
    {% endif %}
                {% include components/item/presentation.html %}
{% endfor %}
