// ========================================================
// Abreast: Line up images side-by-side
// ========================================================

.u-abreast {
    display: flex;
    flex-wrap: wrap;

    > img {
        margin-right: 2%;
        // Ensure image maintains aspect ratio
        // (https://twitter.com/aperfect/status/666233230618714112)
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
    }

    > img:last-of-type,
    > img:nth-last-of-type(8):first-child ~ img:nth-child(4),
    > img:nth-last-of-type(12):first-child ~ img:nth-child(4),
    > img:nth-last-of-type(12):first-child ~ img:nth-child(8),
    > img:nth-last-of-type(16):first-child ~ img:nth-child(4),
    > img:nth-last-of-type(16):first-child ~ img:nth-child(8),
    > img:nth-last-of-type(16):first-child ~ img:nth-child(12) {
        margin-right: 0;
    }

    > img:nth-last-of-type(2):first-child,
    > img:nth-last-of-type(2):first-child ~ img {
        width: percentage(0.96 / 2);
    }

    > img:nth-last-of-type(3):first-child,
    > img:nth-last-of-type(3):first-child ~ img {
        width: percentage(0.94 / 3);
    }

    > img:nth-last-of-type(4):first-child,
    > img:nth-last-of-type(4):first-child ~ img,
    > img:nth-last-of-type(8):first-child,
    > img:nth-last-of-type(8):first-child ~ img,
    > img:nth-last-of-type(12):first-child,
    > img:nth-last-of-type(12):first-child ~ img,
    > img:nth-last-of-type(16):first-child,
    > img:nth-last-of-type(16):first-child ~ img {
        width: percentage(0.92 / 4);
    }

    > img:nth-last-of-type(5):first-child,
    > img:nth-last-of-type(5):first-child ~ img {
        width: percentage(0.9 / 5);
    }
}
