//  ===========================================================================
//  Block link
//  ===========================================================================

.u-block-link {
    @include text-decoration-color("none");
    display: block;
    background-image: none !important;
}
