/*  =========================================================================
    Button
    ========================================================================= */

.button {
    @include ff--sans-serif;
    display: inline-block;
    border: 0;
    background: $c__accent;
    padding: ($u__baseline / 2) $u__baseline;
    color: $c__neutral--9;

    &:active,
    &:hover {
        background-color: $c__link--hover;
        color: $c__neutral--9;
    }

    &:active {
        background-color: $c__link--active;
        color: $c__neutral--9;
    }
}
