/*  =========================================================================
    Conjunction
    ========================================================================= */

.u-conjunction {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
