// ========================================================
// Framed
// ========================================================

.u-framed {
    outline: 1px solid rgba($c__neutral-darkest, 0.2);
}
