// ========================================================
// Icons
// ========================================================

.u-icon {
  &::before {
    font-family: sans-serif;
    content: attr(data-icon);
    speak: none;
  }
}
