//  ===========================================================================
//  Layout
//  ===========================================================================

// Container
.u-container {
    @include container($u__max-width);
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: $b__a) {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @media (min-width: $b__c) {
        padding-right: 0;
        padding-left: 0;
    }
}

// Show two items abreast, three on wider breakpoints
.u-triad {
    .c-item,
    .c-nav__item {
        @include gallery(2 of 4);

        @media (min-width: $b__b) {
            @include gallery(2 of 6);
        }
    }
}

// Align element right or left
.u-align-right {
    float: right;
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
    margin-left: $gn__gutter !important;
    width: $gn__span2;
}

.u-align-left {
    float: left;
    margin-top: 0 !important;
    margin-right: $gn__gutter !important;
    margin-bottom: 0.5rem !important;
    width: $gn__span2;
}

// Pull element aside
.u-aside {
    margin-top: 0 !important;

    @media screen and (min-width: $b__b) {
        float: left;
        margin-right: $gn__gutter !important;
        margin-left: (-$gn__span3-wide) !important;
        width: $gn__span3;
    }

    + * {
        margin-top: 0 !important;
    }
}

// Pull element right or left
.u-pull-right {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

    @media (min-width: $b__a) {
        float: right;
        margin-left: $gn__gutter !important;
        width: $gn__span4;
    }

    @media screen and (min-width: $b__b) {
        margin-right: (-$gn__span1-wide);
    }
}

.u-pull-left {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

    @media (min-width: $b__a) {
        float: left;
        margin-right: $gn__gutter !important;
        width: $gn__span4;
    }

    @media screen and (min-width: $b__b) {
        margin-left: (-$gn__span3-wide);
    }
}

// Extend element to full width of .u-container
.u-extend,
%u-extend {
    clear: both;

    @media screen and (min-width: $b__b) {
        margin-right: (-$gn__span1-wide);
        margin-left: (-$gn__span3-wide);
    }
}

// On narrow breakpoints, bleed element to full width of viewport
.u-bleed {
    clear: both;
    margin-right: -1rem;
    margin-left: -1rem;

    @media (min-width: $b__a) {
        margin-right: -2rem;
        margin-left: -2rem;
    }

    @media screen and (min-width: $b__b) {
        margin-right: (-$gn__span1-wide);
        margin-right: calc(#{(-$gn__span1-wide)} - 2rem);
        margin-left: (-$gn__span3-wide);
        margin-left: calc(#{(-$gn__span3-wide)} - 2rem);
    }

    @media screen and (min-width: $b__c) {
        margin-right: (-$gn__span1-wide);
        margin-left: (-$gn__span3-wide);
    }
}
