// ========================================================
// Embedded content
// http://w3c.github.io/html/semantics-embedded-content.html
// ========================================================

// Remove border on images inside links in IE 10-
img {
  border-style: none;
}

@media print {
  img {
    page-break-inside: avoid;
  }
}

// 1. Hide overflow in IE
// 2. Fill with currentColor
svg:not(:root) {
  overflow: hidden; // [1]
  fill: currentColor; // [2]
}

iframe {
  border: 0;
}
