// ========================================================
// Grouping content
// http://w3c.github.io/html/grouping-content.html
// ========================================================

// 1. Add correct box sizing in Firefox
// 2. Show overflow in Edge and IE
hr {
  box-sizing: content-box; // [1]
  height: 0; // [1]
  overflow: visible; // [2]
}

pre {
  overflow: auto;
  white-space: pre;
  hyphens: none;
  tab-size: 2;
}

p,
blockquote,
ol,
ul,
dl {
  margin: 0 0 var(--flow-space, 0) 0;
}

figure {
  margin: 0;
}

// Default to ’bare’ lists
ol,
ul {
  padding: 0;
  list-style: none;
}

// Add correct display in IE
main {
  display: block;
}
