// ========================================================
// Interactive elements
// http://w3c.github.io/html/interactive-elements.html
// ========================================================

// Add correct display in Edge, IE, and Firefox
details,
summary {
  display: block;
}

// Add correct display in IE 10-
[hidden] {
  display: none;
}

// Add style for inert elements
[inert] {
  pointer-events: none;
  cursor: default;
}

[inert],
[inert] * {
  user-select: none;
}
