// ========================================================
// Sections
// http://w3c.github.io/html/sections.html
// ========================================================

// 1. Prevent adjustments of font size after orientation
//    change in IE on Windows Phone and iOS
html {
  position: relative;
  height: 100%;
  text-size-adjust: 100%; // [1]
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  @include ff--sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
  background-color: var(--page-background);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: var(--page-text);

  @media print {
    margin: 0 1cm;
    color: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-weight: inherit;

  @media print {
    page-break-after: avoid;
  }
}
