// ========================================================
// Tablular data
// http://w3c.github.io/html/tabular-data.html
// ========================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
}

caption,
td,
th {
  text-align: left;
}

@media print {
  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }
}
