//  ===========================================================================
//  Banner
//  ===========================================================================

.c-banner__title {
    line-height: 0;
}

.c-banner__home {
    display: inline-block;
}

.c-banner__logo {
    width: 3rem;
    height: 3rem;

    @media (min-width: $b__a) {
        width: 4rem;
        height: 4rem;
    }
}
