//  ===========================================================================
//  Button
//  ===========================================================================

.c-button {
    @include ff--sans-serif(700);
    display: inline-block;
    border: ($u__rule-height * 2) solid $c__primary;
    padding: 0.75rem;
    text-decoration: none;
    line-height: 1;

    &:focus {
        outline: 0;
        background-color: $c__focus;
        color: $c__neutral-darkest;
    }

    &:active {
        border-color: $c__secondary;
    }
}
