/*  =========================================================================
    Charts - Converts tablular data into visual charts
    ========================================================================= */

/* Horizontal bar chart */
.c-chart--hbar {
    width: 100%;
    vertical-align: middle;

    .c-chart__label {
        width: 15%;
        white-space: nowrap;
    }

    .c-chart__value {
        padding-top: ($u__baseline / 8);
        padding-right: 0;
    }

    .c-chart__value--percent {
        display: block;
        margin-bottom: 0;
        background-color: rgba($c__neutral-1, 0.2);
        padding: 0 ($u__baseline / 4);
        white-space: nowrap;
    }
}
