// ========================================================
// Content Info
// ========================================================

.c-contentinfo {
    @include fs--caption;
    margin-bottom: 2.5rem;
    color: $c__neutral-mid;
}

.c-contentinfo__main {
    position: relative;

    @media screen and (min-width: $b__b) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c-contentinfo__copyright {
    @media screen and (min-width: $b__b) {
        flex: 0 1 auto;
        width: percentage(3/12);
    }
}

.c-contentinfo__links {
    @media screen and (min-width: $b__b) {
        flex: 0 1 auto;
    }

    @media print {
        display: none;
    }
}

.c-contentinfo__social {
    display: flex;

    @media screen and (max-width: $b__ax) {
        margin-top: 1rem;
    }

    @media screen and (min-width: $b__a) and (max-width: $b__bx) {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media screen and (min-width: $b__b) {
        flex: 0 0 auto;
        margin-right: percentage(1/12);
        margin-left: auto;
    }

    @media print {
        display: none;
    }
}
