//  ===========================================================================
//  Content Info
//  ===========================================================================

.c-contentinfo {
    @include fs--caption;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $c__neutral-mid;
}

.c-contentinfo__main {
    border-top: $u__rule-height solid rgba($c__neutral-mid, 0.5); // 1.5px
    padding: 1rem 0;

    @media screen and (min-width: $b__a) {
        display: flex;
    }

    @media screen and (min-width: $b__b) {
        margin-left: span(3 wide);
    }
}

.c-contentinfo__license {
    margin-bottom: 1rem;

    @media screen and (min-width: $b__a) {
        flex: 1 1 auto;
    }
}

.c-contentinfo__social {
    @media screen and (min-width: $b__a) {
        flex: 0 0 auto;
    }

    @media print {
        display: none;
    }
}
