/*  =========================================================================
    Content Info
    ========================================================================= */

.c-contentinfo {
    @include fs--caption;
    margin-top: ($u__baseline * 2);
    margin-bottom: ($u__baseline * 2);
    color: $c__neutral-mid;
}

.c-contentinfo__main {
    border-top: ($u__rule-height / 2) solid rgba($c__neutral-mid, 0.5);
    padding: $u__baseline 0;

    @media screen and (min-width: $b__a) {
        display: flex;
    }

    @media screen and (min-width: $b__b) {
        margin-left: span(3 wide);
    }
}

.c-contentinfo__license {
    margin-bottom: ($u__baseline / 2);

    @media screen and (min-width: $b__a) {
        flex: 1 1 auto;
    }
}

.c-contentinfo__social {
    @media screen and (min-width: $b__a) {
        flex: 0 0 auto;
    }

    @media print {
        display: none;
    }
}

.c-social {
    display: inline-block;
    opacity: 0.5;
    padding: 0.25rem;

    &:hover {
        opacity: 1;
    }
}
