/*  =========================================================================
    Figure
    ========================================================================= */

.c-figure {
    @include clearfix;
    position: relative;
}

.c-figure__main {
    overflow: hidden;

    > *,
    p img {
        margin-bottom: 0.5rem;
    }

    p img:nth-last-of-type(2):first-child,
    p img:nth-last-of-type(2):first-child ~ img {
        @include gallery(4 of 8);
    }

    p img:nth-last-of-type(3):first-child,
    p img:nth-last-of-type(3):first-child ~ img {
        @include gallery(3 of 9);
    }

    p img:nth-last-of-type(4):first-child,
    p img:nth-last-of-type(4):first-child ~ img,
    p img:nth-last-of-type(8):first-child,
    p img:nth-last-of-type(8):first-child ~ img,
    p img:nth-last-of-type(12):first-child,
    p img:nth-last-of-type(12):first-child ~ img {
        @include gallery(2 of 8);
    }

    p img:nth-last-of-type(5):first-child,
    p img:nth-last-of-type(5):first-child ~ img {
        @include gallery(2 of 10);
    }
}

.c-figure__caption {
    @include fs--caption;
    margin-bottom: 1rem;
    color: $c__neutral-mid;

    .u-bleed & {
        margin-right: 1rem;
        margin-left: 1rem;

        @media (min-width: $b__a) {
            margin-right: 2rem;
            margin-left: 2rem;
        }

        @media screen and (min-width: $b__b) {
            margin-right: 0;
            margin-left: 0;
            padding-left: span(3 wide);
            padding-left: calc(#{span(3 wide)} + 1rem);
        }

        @media screen and (min-width: $b__c) {
            padding-left: span(3 wide);
        }
    }

    .u-extend & {
        @media screen and (min-width: $b__b) {
            padding-left: span(3 wide);
        }
    }
}


/* Caption positioning */
.c-figure--caption-right {
    @extend %u-extend;
    margin-bottom: 1rem;

    .c-figure__main {
        @media (min-width: $b__c) {
            @include span(8 first);
        }
    }

    .c-figure__caption {
        @media (min-width: $b__c) {
            @include span(4 last);
            margin-top: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }
}
