/*  =========================================================================
    Items
    ========================================================================= */

.c-item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: ($u__baseline * 2.5);
    }
}

.c-item__media,
.c-item__footer {
    margin-bottom: $u__baseline;
}

.c-item__title {
    @include fs--heading-2;
    margin-bottom: ($u__baseline / 4);
}

.c-item__title--promote {
    @include fs--heading-1;
    margin-bottom: ($u__baseline / 2);
    font-weight: 700;
}

.c-item__meta {
    @include fs--caption;
    color: $c__neutral-4;
}

.c-item__avatar {
    @include background-placeholder;
    width: span(1 of 8);
    height: auto;
}


/* Entry, link and gallery items */
.c-item--entry,
.c-item--gallery,
.c-item--link {
    @media (min-width: $b__b) {
        &:not(:last-child) {
            margin-bottom: ($u__baseline * 5);
        }
    }
}


/* Gallery item */
.c-item--gallery {
    padding-left: ($u__baseline * 7);
    min-height: ($u__baseline * 7);

    .c-item__cover {
        position: absolute;
        top: 0;
        left: 0;

        &::before,
        &::after {
            position: absolute;
            background: $c__neutral-7;
            height: 1px;
            content: '';
        }

        &::before {
            top: -4px;
            right: 8px;
            left: 8px;
        }

        &::after {
            top: -2px;
            right: 4px;
            left: 4px;
        }
    }

    .c-item__cover-photo {
        width: ($u__baseline * 6);
        height: ($u__baseline * 6);
    }
}


/* Project */
.c-item--project {
    .c-item__link {
        display: block;
    }
}


/* Comment (submitted remark or webmention response) */
.c-item--comment {
    padding-left: (span(1 of 8) + gutter());

    @media screen and (min-width: $b__b) {
        padding-left: 0;
    }

    .c-item__title {
        @include fs--heading-3;
    }

    .c-item__avatar {
        position: absolute;
        top: ($u__baseline / 4);
        left: 0;

        @media (min-width: $b__b) {
            left: ((span(1 of 8) + gutter()) * -1);
        }
    }
}


/* Profile (likes and shares) */
.c-item--profile {
    float: left;
    margin-right: ($u__baseline / 4);
    margin-bottom: ($u__baseline / 4);
    width: span(1 of 8);

    @media (min-width: $b__a) {
        width: span(1 of 12);
    }

    @media (min-width: $b__d) {
        width: span(1 of 16);
    }

    .c-item__avatar {
        width: 100%;
    }
}
