// ========================================================
// Items
// ========================================================

.c-item {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.c-item--entry {
    &:not(:last-child) {
        @media (min-width: $b__b) {
            margin-bottom: 5rem;
        }
    }
}

.c-item__media,
.c-item__footer {
    margin-bottom: 0.75rem;
}

.c-item__main {
    @media (min-width: $b__a) {
        .c-item--link &,
        .c-item--comment & {
            padding-right: percentage(1/8);
        }
    }
}

.c-item__title {
    @include fs--heading-2;
    hanging-punctuation: first;

    .c-item--entry & {
        @include fs--heading-1;
        font-weight: 700;
    }
}

.c-item__meta {
    @include fs--caption;
    color: $c__neutral-mid;
}

.c-item__avatar {
    @include background-placeholder;
    width: percentage(1/8);
    height: auto;
}

// Series items
.c-item--series:nth-child(n) {
    margin-bottom: 0;
}

// Gallery item
.c-item--gallery {
    padding-left: 7rem;
    min-height: 7rem;
}

.c-item__cover {
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
        position: absolute;
        background: $c__neutral-light;
        height: 1px;
        content: "";
    }

    &::before {
        top: -4px;
        right: 8px;
        left: 8px;
    }

    &::after {
        top: -2px;
        right: 4px;
        left: 4px;
    }
}

.c-item__cover-photo {
    width: 6rem;
    height: 6rem;
}

// Comment (submitted remark or webmention response)
.c-item--comment {
    padding-left: calc(#{percentage(1/8)} + #{$u__gutter});

    @media screen and (min-width: $b__b) {
        padding-left: 0;
    }

    .c-item__title {
        @include fs--heading-3;
    }

    .c-item__avatar {
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: $b__b) {
            left: calc((#{percentage(1/8)} + #{$u__gutter}) * -1);
        }
    }
}
