//  ===========================================================================
//  Items
//  ===========================================================================

.c-item {
    position: relative;
    margin-bottom: 2.5rem;
}

.c-item__media,
.c-item__footer {
    margin-bottom: 0.75rem;
}

.c-item__main {
    @media (min-width: $b__a) {
        .c-item--link &,
        .c-item--comment & {
            padding-right: span(1 of 8);
        }
    }
}

.c-item__title {
    @include fs--heading-2;
    margin-bottom: 0.25rem;
}

.c-item__title--promote {
    @include fs--heading-1;
    margin-bottom: 0.5rem;
    padding-top: 0;
    font-weight: 700;
}

.c-item__meta {
    @include fs--caption;
    color: $c__neutral-mid;
}

.c-item__avatar {
    @include background-placeholder;
    width: span(1 of 8);
    height: auto;
}

// Entry, link and gallery items
.c-item--entry,
.c-item--gallery,
.c-item--link {
    @media (min-width: $b__b) {
        margin-bottom: 5rem;
    }
}

// Gallery item
.c-item--gallery {
    padding-left: 7rem;
    min-height: 7rem;
}

.c-item__cover {
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
        position: absolute;
        background: $c__neutral-light;
        height: 1px;
        content: "";
    }

    &::before {
        top: -4px;
        right: 8px;
        left: 8px;
    }

    &::after {
        top: -2px;
        right: 4px;
        left: 4px;
    }
}

.c-item__cover-photo {
    width: 6rem;
    height: 6rem;
}

// Comment (submitted remark or webmention response)
.c-item--comment {
    padding-left: (span(1 of 8) + gutter());

    @media screen and (min-width: $b__b) {
        padding-left: 0;
    }

    .c-item__title {
        @include fs--heading-3;
    }

    .c-item__avatar {
        position: absolute;
        top: 0.5rem;
        left: 0;

        @media (min-width: $b__b) {
            left: ((span(1 of 8) + gutter()) * -1);
        }
    }
}
