/*  =========================================================================
    Meta
    ========================================================================= */

.c-meta {
    @include ff--sans-serif;
    @include fs--caption;
    margin-bottom: $u__baseline;
    overflow: hidden;
}

.c-meta__title {
    @media (max-width: ($b__bx)) {
        float: left;
        margin-bottom: $u__baseline;
        padding-right: ($u__baseline / 2);
        width: span(3);
    }
}

.c-meta__value {
    margin-bottom: $u__baseline;
    margin-left: 0;

    @media (max-width: ($b__bx)) {
        padding-left: span(3);
    }

    p {
        margin: 0;
    }

    li {
        list-style-position: inside;
    }
}
