//  ===========================================================================
//  Meta
//  ===========================================================================

.c-meta {
    @include fs--caption;
    margin-bottom: 1rem;
    overflow: hidden;
}

.c-meta__title {
    @media (max-width: ($b__bx)) {
        float: left;
        margin-bottom: 1rem;
        padding-right: 0.5rem;
        width: span(3);
    }
}

.c-meta__value {
    margin-bottom: 1rem;
    margin-left: 0;

    @media (max-width: ($b__bx)) {
        padding-left: span(3);
    }

    p {
        margin: 0;
    }

    li {
        list-style-position: inside;
    }
}
