//  ===========================================================================
//  Navigation
//  ===========================================================================

.c-navigation {
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    z-index: 1002;

    &.is-fixed {
        position: fixed;
        top: 0;
        box-shadow: 0 1px 2px rgba($c__neutral-darkest, 0.2);
    }

    @media (min-width: $b__a) {
        top: 0;
        height: 0;
    }

    @media print {
        display: none;
        position: static;
    }
}

.c-navigation__items {
    display: flex;
    white-space: nowrap;

    @media (min-width: $b__a) {
        margin-left: span(3 wide);
        width: span(9 at 2 last);
        line-height: (20 / 18);
        font-size: 1.125rem; // 18px
    }
}

.c-navigation__item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: -0.025rem;
    flex: 1 1 auto;

    @media (min-width: $b__a) {
        padding-top: 2rem;
        padding-bottom: 1rem;
        letter-spacing: 0;
    }
}

.c-navigation__item.is-active {
    font-weight: 700;

    .is-fixed & {
        box-shadow: inset 0 2px 0 0;
    }
}

.c-navigation__item:hover {
    .is-fixed & {
        box-shadow: inset 0 2px 0 0;
    }
}
