// ========================================================
// Navigation
// ========================================================

.c-navigation {
    position: absolute;
    top: units(4);
    right: 0;
    left: 0;
    z-index: 1002;

    &.is-fixed {
        position: fixed;
        top: 0;
        box-shadow: 0 1px 2px rgba($c__neutral-darkest, 0.2);
    }

    @media (min-width: $b__a) {
        top: 0;
        height: 0;
    }

    @media print {
        display: none;
        position: static;
    }
}

.c-navigation__items {
    display: flex;
    justify-content: space-between;
    line-height: (20 / 14);
    font-size: 0.875rem; // 14px
    white-space: nowrap;

    @media (min-width: $b__a) {
        margin-left: percentage(3/12);
        width: percentage(9/12);
        line-height: (20 / 16);
        font-size: 1rem; // 16px
    }

    @media (min-width: $b__b) {
        padding-right: percentage(1/12);
    }
}

.c-navigation__item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 0 0 auto;

    @media (min-width: $b__a) {
        padding-top: 2.5rem;
    }
}

.c-navigation__item.is-active {
    font-weight: 700;

    .is-fixed & {
        box-shadow: inset 0 2px 0 0;
    }
}

.c-navigation__item:hover {
    .is-fixed & {
        box-shadow: inset 0 2px 0 0;
    }
}
