/*  =========================================================================
    Page
    ========================================================================= */

.c-page__header,
.c-page__footer {
    margin-bottom: ($u__baseline / 2);

    @media screen and (min-width: $b__b) {
        padding-left: span(3 wide);
    }
}

.c-page__header {
    .c-page--index & {
        @media screen and (min-width: $b__b) {
            position: absolute;
            padding-left: 0;
            width: span(3 first);
        }
    }
}

.c-page__footer {
    margin-bottom: ($u__baseline * 2.5);
    color: $c__neutral-4;
}

.c-page__title {
    @include fs--title;
    font-weight: 700;

    .c-page--index & {
        font-weight: normal;

        @media (min-width: $b__b) {
            @include fs--heading-1;
        }
    }
}
