/*  =========================================================================
    Page
    ========================================================================= */

.c-page__header,
.c-page__footer {
    margin-bottom: $u__baseline;

    @media screen and (min-width: $b__b) {
        padding-left: span(3 wide);
    }
}

.c-page__header--aside {
    @media screen and (min-width: $b__b) {
        position: absolute;
        padding-left: 0;
        width: span(3 first);
    }

    .c-page__title {
        font-weight: normal;

        @media (min-width: $b__b) {
            @include fs--heading-1;
        }
    }
}

.c-page__footer {
    margin-bottom: ($u__baseline * 2.5);
    color: $c__neutral-mid;
}

.c-page__title {
    @include fs--title;
    font-weight: 700;
}
