/*  =========================================================================
    Section
    ========================================================================= */

.c-section {
    @include clearfix;
    margin-bottom: ($u__baseline * 2.5);

    @media screen and (min-width: $b__b) {
        padding-right: span(1 wide);
        padding-left: span(3 wide);
    }
}

.c-section__title {
    @include fs--heading-2;
    padding-top: ($u__baseline / 2);
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;
}


/* Archive */
.c-section--archive {
    @media (min-width: $b__a) {
        .c-section__header {
            @include span(3 of 12 first);
        }

        .c-section__main {
            @include span(9 of 12 last);
        }
    }
}


/* External link */
.c-section--link {
    @include ff--sans-serif(700);
    @include fs--body;
}
