//  ===========================================================================
//  Section
//  ===========================================================================

.c-section {
    @include clearfix;
    margin-bottom: 2rem;

    @media screen and (min-width: $b__b) {
        padding-right: span(1 wide);
        padding-left: span(3 wide);
    }
}

.c-section__title {
    @include fs--heading-2;
    margin-bottom: 0.5rem;
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;
}

// Archive
.c-section--archive {
    .c-section__header {
        @media (min-width: $b__a) {
            @include span(3 of 12 first);
        }
    }

    .c-section__main {
        @media (min-width: $b__a) {
            @include span(9 of 12 last);
        }
    }
}

// Complementary
.c-section--complementary {
    .c-section__header {
        @include rule($height: $u__rule-height, $position: "after");
        display: flex;
        align-items: center;
    }

    &::after {
        flex: 1 1 auto;
    }

    .c-section__title {
        @include fs--caption;
        padding-right: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.075rem;
        color: $c__neutral-mid;
        font-weight: normal;
        flex: 0 0 auto;
    }
}
