// ========================================================
// Social
// ========================================================

.c-social {
    opacity: 0.75;
    padding: 0 0.25rem;

    &:hover {
        opacity: 1;
    }
}
