/*  =========================================================================
    Social
    ========================================================================= */

.c-social {
    display: inline-block;
    opacity: 0.5;
    padding: 0.25rem;

    &:hover {
        opacity: 1;
    }
}
