//  ===========================================================================
//  Tag
//  ===========================================================================

.c-tag {
    display: inline-block;
    margin-right: 0.75rem;
    text-transform: lowercase;
    word-spacing: -0.2em;
    white-space: nowrap;

    &::before {
        color: rgba($c__neutral-mid, 0.5);
        content: "#\2009";
    }
}
