//  ===========================================================================
//  Tweet
//  ===========================================================================

.c-tweet {
    @include fs--lede;
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid rgba($c__neutral-dark, 0.2);
    background-color: $c__neutral-white;
    padding: 1rem;
    color: $c__neutral-dark;

    // Double colon not supported in IE8 so can use a transform
    &::before {
        display: block;
        position: absolute;
        top: auto;
        bottom: -1rem;
        left: 1rem;
        transform: rotate(-45deg);
        opacity: 1;
        border-bottom: 1px solid rgba($c__neutral-dark, 0.2);
        border-left: 1px solid rgba($c__neutral-dark, 0.2);
        background-color: $c__neutral-white;
        width: 1rem;
        height: 1rem;
        content: "";
        transform-origin: 0 0;
    }

    a {
        @include text-decoration-color("none");
        color: $c__neutral-darkest;
    }

    :last-child {
        margin-bottom: 0;
    }
}
