<form class="c-form c-form--search" role="search" action="https://duckduckgo.com/html/" method="get">
  <fieldset class="c-form__fieldset">
    <p class="c-form__field">
      <span class="c-form__input-submit">
        <svg class="c-form__icon" width="24" height="24" viewBox="0 0 160 160" aria-hidden="true" focusable="false">
          <path d="M160 146l-51-51c7-10 11-22 11-35 0-33-27-60-60-60S0 27 0 60s27 60 60 60c13 0 25-4 35-11l51 51 14-14zM20 60c0-22 18-40 40-40s40 18 40 40-18 40-40 40-40-18-40-40z"/>
        </svg>
        <input class="c-form__input" type="text" name="q" placeholder="e.g. Brasilia, Design, Olympics…" title="Enter search keywords"/>
        <input class="c-form__submit c-button" type="submit" value="Search with DuckDuckGo"/>
      </span>
    </p>
    <input class="c-form__hidden" type="hidden" name="sites" value="{{ site.url }}"/>
    <input class="c-form__hidden" type="hidden" name="kl" value="uk-en"/>
  </fieldset>
</form>
