/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    border-bottom: 1px solid rgba($c__accent, 0.4);
}

.banner__container {
    @include container($u__max-width);
    padding: 0 gutter() ($u__baseline * 3.5);

    @include susy-breakpoint(b__a) {
        padding: 0;
    }
}

.banner__title {
    text-align: center;
    line-height: 0.1;

    @include susy-breakpoint(b__a) {
        text-align: left;
    }
}

.banner__logo {
    width: ($u__baseline * 2);
    height: ($u__baseline * 2);
    fill: $c__accent;

    @include susy-breakpoint(b__a) {
        @include span(1 of 8);
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }
}
