/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    .l-container {
        border-bottom: 1px solid rgba($c__accent, 0.4);
    }
}

.banner__title {
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 0.1;

    @include susy-breakpoint(b__a) {
        text-align: left;
    }
}

.banner__logo {
    width: ($u__baseline * 2);
    height: ($u__baseline * 2);
    fill: $c__accent;

    @include susy-breakpoint(b__a) {
        @include span(1 of 8);
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }
}
