/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    border-bottom: 1px solid rgba($c__accent, 0.4);
    padding-bottom: ($u__baseline * 4);
}

.banner__container {
    @include container($u__max-width);
}

.banner__title {
    text-align: center;
    line-height: 0.1;
}

.banner__logo {
    fill: $c__accent;
}
