/*  =========================================================================
    Content Info
    ========================================================================= */

.contentinfo {
    @include fs--double-emerald;
    text-align: center;
    padding: $u__baseline 0;
}

.contentinfo__legal {
    margin-bottom: ($u__baseline / 2);

    &::before {
        display: block;
        opacity: 0.25;
        border-top: 1px solid;
        content: '';
    }

    a {
        color: inherit;
    }
}

.contentinfo__copyright {
    font-size: 100%;
}
