/*  =========================================================================
    Content Info
    ========================================================================= */
.contentinfo {
    display: none;
    border-top: 1px solid $c__neutral-7;
    padding: 2em 0;

    small {
        font-size: 1em;
    }
}

.contentinfo__copyright,
.contentinfo__feeds {
    font-size: 80%;
}
