/*  =========================================================================
    Navigation content
    ========================================================================= */

.navigation {
    position: absolute;
    top: ($u__baseline * 2.5);
    right: 0;
    left: 0;
    padding: 0 $u__baseline;

    @include susy-breakpoint(b__a) {
        top: ($u__baseline * 2.25);
    }
}

.navigation__container {
    @include container($u__max-width);
}
