/*  =========================================================================
    Navigation content
    ========================================================================= */

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
