/*  =========================================================================
    Navigation content
    ========================================================================= */

.navigation {
    position: absolute;
    top: ($u__baseline * 4);
    right: 0;
    left: 0;
}

.navigation__container {
    @include container($u__max-width);
}
