/*  =========================================================================
    Page
    ========================================================================= */

.page {
    display: flex;
    padding-right: span(1 wide);
    padding-left: span(1 wide);
    flex-direction: column;
}

.page__header {
    padding-top: ($u__baseline * 3);
    padding-bottom: ($u__baseline * 3);
    order: 1;
}

.page__main {
    order: 3;
}

.page__footer {
    margin-top: -($u__baseline * 3);
    margin-bottom: ($u__baseline * 3);
    order: 2;
}

.page__title {
    @include fs--double-english;
    color: $c__accent;
    font-weight: 600;

    @include susy-breakpoint(b__a) {
        @include fs--canon;
    }
}

.page__location {
    @include fs--english;
    @include ff--sans-serif;
    @include c2sc;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
    color: $c__neutral--2;
}

.page__pubdate {
    @include caption;
}
