/*  =========================================================================
    Page
    ========================================================================= */

.page__header {
    padding-bottom: 2rem;
}

.page__title {
    @include fs--double-english;
    color: $c__accent;
    font-weight: 600;
}

.page__location {
    @include fs--pica;
    @include ff--sans-serif;
    @include c2sc;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
    color: $c__neutral--2;
}

.page__pubdate {
    @include t-caption;
}

.page__footer .page__location::before,
.js .page__main .page__location::after {
    margin: 0 0.25rem; // 0 4px
    color: $c__neutral--5;
    content: '\2022';
}

.js .page__main .page__location::after {
    margin: 0 0.5rem 0 0.25rem; // 0 8px 0 4px
}
