/*  =========================================================================
    Page
    ========================================================================= */

.page {
    display: flex;
    padding-right: span(1 wide);
    padding-left: span(1 wide);
    flex-direction: column;
}

.page__header {
    padding-bottom: $u__baseline*2;
    order: 1;
}

.page__main {
    order: 3;
}

.page__footer {
    margin-top: -2rem;
    margin-bottom: 2rem;
    order: 2;
}

.page__title {
    @include fs--double-english;
    color: $c__accent;
    font-weight: 600;

    @include mq($b__a) {
        @include fs--canon;
    }
}

.page__location {
    @include fs--pica;
    @include ff--sans-serif;
    @include c2sc;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
    color: $c__neutral--2;
}

.page__pubdate {
    @include caption;
}

.page__footer .page__location::before,
.js .page__main .page__location::after {
    margin: 0 0.25rem; // 0 4px
    color: $c__neutral--5;
    content: '\2022';
}

.js .page__main .page__location::after {
    margin: 0 0.5rem 0 0.25rem; // 0 8px 0 4px
}
