/*  =========================================================================
    Theme: Dark
    ========================================================================= */

/* Variables */
$c__background: #332633;
$c__accent: #fc9656;
$c__mute: #634c53;

/* Adjustments */
.theme--dark {
    background-color: $c__background;
    color: #fff;

    a {
        color: #fff;
    }

    .banner__logo {
        fill: $c__accent;
    }

    .main,
    .contentinfo {
        a {
            @include text-decoration-color(lighten($c__mute, 25%), $c__background, $size: 3px);
        }
    }

    .navigation,
    .contentinfo {
        border-color: $c__mute;
    }

    .index__title,
    .section__title {
        color: $c__accent;
    }
}
