/*  =========================================================================
    Theme: Dark
    ========================================================================= */

/* Variables */
$c__background: #332532;
$c__accent: #fd9757;
$c__mute: #644d52;

/* Adjustments */
.theme--dark {
    background-color: $c__background;
    color: #fff;

    a {
        color: #fff;
        text-decoration-color: #644d52;
    }

    .banner__logo {
        fill: $c__accent;
    }

    .navigation,
    .contentinfo {
        border-color: $c__mute;
    }

    .section__title {
        color: $c__accent;
    }
}
