/*  =========================================================================
    Theme: Dark
    ========================================================================= */

.theme--dark {
    background-color: $c__identity--1;
    //background: linear-gradient(-17deg, $c__identity--1, $c__identity--2);
    color: $c__neutral--9;

    a {
        @include text-decoration-color($c__neutral--9);
        color: #fff;
    }

    .banner__logo {
        fill: #fff;
    }

    .index__title,
    .section__title {
        color: $c__neutral--9;
    }
}
