/*  =========================================================================
    Theme: Default
    ========================================================================= */

// Variables
// https://color.adobe.com/forge-color-theme-5030599/
$theme__background: lighten(#a39989, 33%);
$theme__accent: #fc9656;
$theme__text: #332633;
$theme__mute: #634c53;

/* Adjustments */
.theme--default {
    background-color: $theme__background;
    color: $theme__text;

    a {
        color: $theme__text;
    }

    .banner__logo {
        fill: $theme__accent;
    }

    .main,
    .contentinfo {
        a {
            @include text-decoration-color($theme__text, $theme__background);
        }
    }

    .navigation,
    .contentinfo {
        border-color: $theme__mute;
    }

    .index__title,
    .section__title {
        color: $theme__accent;
    }
}
