/*  =========================================================================
    Prose
    ========================================================================= */

.s-prose {
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @include ff--sans-serif(700);
        @include fs--heading-2;
        margin-bottom: ($u__baseline / 2);
    }

    * + h2,
    * + h3,
    * + h4,
    p + figure {
        margin-top: ($u__baseline * 2);
    }

    h3 {
        @include ff--sans-serif;
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 4);
    }

    h4 {
        @include ff--sans-serif;
        @include fs--heading-4;
        margin-bottom: ($u__baseline / 2);
        color: $c__neutral-4;
    }

    > p,
    > ul,
    > ol,
    > dl,
    > pre,
    > blockquote,
    > table,
    > fieldset,
    > .c-embed,
    .highlighter-rouge {
        margin-bottom: ($u__baseline * 1.25);
    }

    pre {
        font-size: 90%;
    }

    > dl dd,
    > * li p {
        margin-bottom: ($u__baseline / 2);
    }

    abbr[title]:hover {
        @include text-highlight;
    }
}


/* Lede */
.s-prose--lede {
    @include fs--lede;
}


/* Billboard */
.s-prose--billboard {
    @include fs--billboard;
}


/* Body */
.s-prose--body {
    @include ff--serif;
    @include fs--body;

    // Adjust font-size of san-serif emboldened text, so x-height matches serif
    > * strong,
    > * b,
    > blockquote strong,
    > dl dt:not([class]) {
        line-height: (100/120);
        font-size: 120%;
    }
}
