/*  =========================================================================
    Prose
    ========================================================================= */

.s-prose {
    @include ff--serif;
    @include fs--prose;
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @include ff--sans-serif(700);
        @include fs--heading-2;
        margin-bottom: $u__baseline;
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 4);
    }

    h4 {
        @include ff--sans-serif;
        @include fs--heading-4;
        margin-bottom: $u__baseline;
    }

    * + h2,
    * + h3,
    * + h4,
    p + figure {
        margin-top: ($u__baseline * 3);
    }

    > p,
    > ul,
    > ol,
    > dl,
    > pre,
    > blockquote,
    > table,
    > fieldset,
    > .c-embed,
    .highlighter-rouge {
        margin-bottom: ($u__baseline * 1.25);
    }

    // Adjust font-size of san-serif emboldened text, so x-height matches serif
    p > strong {
        font-size: 115%;
    }

    a::after {
        @media print {
            @include ff--monospace;
            font-size: 80%;
            content: '[' attr(href) ']';
        }
    }
}
