/*  =========================================================================
    Prose
    ========================================================================= */

.s-prose {
    font-feature-settings: 'liga', 'dlig', 'onum';

    > *:not(:last-child) {
        margin-bottom: $u__baseline;
    }
}


/* Body */
.s-prose--body {
    @include ff--serif;
    @include fs--body;

    > *:not(:last-child) {
        margin-bottom: ($u__baseline * 1.25);
    }

    h2 {
        @include ff--sans-serif(700);
        @include fs--heading-2;
        margin-bottom: ($u__baseline / 2);
    }

    h3 {
        @include ff--sans-serif;
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 4);
    }

    h4 {
        @include ff--sans-serif(700);
        @include fs--heading-4;
        margin-bottom: ($u__baseline / 2);
    }

    * + h2,
    * + h3,
    * + h4,
    p + figure {
        margin-top: ($u__baseline * 2);
    }

    pre {
        font-size: 90%;
    }

    dl dd:not([class]),
    li p {
        margin-bottom: $u__baseline;
    }

    abbr[title]:hover {
        @include text-highlight;
    }

    // Adjust font-size of san-serif emboldened text, so x-height matches serif
    > * strong,
    > * b,
    > blockquote strong,
    > dl dt:not([class]) {
        line-height: (100/120);
        font-size: 120%;
    }

    // Separate lede from body
    .s-prose--lede + & {
        margin-top: ($u__baseline * 2.5);
    }
}


/* Billboard */
.s-prose--billboard {
    @include fs--billboard;
}


/* Lede */
.s-prose--lede {
    @include fs--lede;
}
