<form class="form form--contact" action="//formspree.io/contact@public.paulrobertlloyd.com" method="POST">
    <fieldset class="c-form__fieldset">
        <label class="c-form__field">
            <span class="c-form__label">Your name</span>
            <input class="c-form__input c-form__input--text" name="name" type="text"/>
        </label>
        <label class="c-form__field">
            <span class="c-form__label" for="_replyto">Your email</span>
            <input class="c-form__input c-form__input--text" name="_replyto" type="email"/>
        </label>
        <label class="c-form__field">
            <span class="c-form__label" for="message">Message</span>
            <textarea class="c-form__input c-form__input--textarea" name="message" row="20" cols="40"></textarea>
        </label>
    </fieldset>
    <input class="c-form__hidden" name="_next" type="hidden" value="{{ site.url }}/contact/thanks"/>
    <input class="c-form__hidden" name="_subject" type="hidden" value="[{{ site.title }}] New message"/>
    <input class="c-form__submit c-button" type="submit" value="Send"/>
</form>
