<form class="form form--webmention" action="https://webmention.io/webmention" method="post">
    <fieldset class="c-form__fieldset">
        <div class="c-form__field s-prose s-prose--billboard">
            <label class="c-form__label" for="mention-url">Have you written a response to this? Let me know the <abbr title="Uniform Resource Locator">URL</abbr>:</label>
        </div>
        <div class="c-form__field c-form__field--with-submit">
            <input class="c-form__input c-form__input--text" type="url" id="mention-url" name="source" placeholder="http://…"/>
            <input class="c-form__submit c-button" type="submit" value="Ping!"/>
            <input class="c-form__hidden" name="target" type="hidden" value="{{ site.url }}{{ page.url }}"/>
        </div>
    </fieldset>
</form>
