<figcaption class="exif-info">
    <h2 class="exif-info__title audible">{{ file.url | exif: 'title' }}</h2>
    <dl class="exif-info__values">
        <dt class="exif-info__title">Date taken</dt>
        <dd class="exif-info__value" data-exif="date_time">{{ file.url | exif: 'date_time' | date: "%e %B %Y" }}</dd>
        <dt class="exif-info__title">Model</dt>
        <dd class="exif-info__value" data-exif="model">{{ file.url | exif: 'model' }}</dd>
        <dt class="exif-info__title">Aperture</dt>
        <dd class="exif-info__value" data-exif="f_number"><i>f</i>/{{ file.url | exif: 'f_number.to_f' }}</dd>
        <dt class="exif-info__title">Exposure</dt>
        <dd class="exif-info__value" data-exif="exposure_time">{{ file.url | exif: 'exposure_time.to_s' }}</dd>
        <dt class="exif-info__title">Film speed</dt>
        <dd class="exif-info__value" data-exif="iso_speed_ratings"><abbr title="International Organization for Standardization ">ISO</abbr>{{ file.url | exif: 'iso' }}</dd>
        <dt class="exif-info__title">Focal Length</dt>
        <dd class="exif-info__value" data-exif="focal_length">{{ file.url | exif: 'focal_length.to_f' }}</dd>
    </dl>
</figcaption>
