/*  =========================================================================
    Prose
    ========================================================================= */

.prose {
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @include ff--sans-serif(700);
        @include fs--heading-2;
        margin-bottom: ($u__baseline / 2);
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 2);
    }

    h4 {
        @include ff--sans-serif;
        @include fs--heading-4;
        margin-bottom: ($u__baseline / 2);
    }

    * + h2,
    * + h3,
    * + h4 {
        margin-top: ($u__baseline * 2);
    }

    p,
    ul,
    ol,
    dl,
    pre,
    blockquote,
    table,
    fieldset {
        margin-bottom: ($u__baseline * 1.25);
    }

    blockquote {
        position: relative;
        padding-right: $u__baseline;
        padding-left: $u__baseline;

        &:before {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid;
            content: '';
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
