---
layout: default
title: Journal
permalink: /journal/
---
<section class="c-page c-page--index">
  {% include page/header.html %}

  <div class="c-section">
  {% for item in site.posts limit:10 %}
    {% case item.layout %}
    {% when "gallery" %}
      {% include item/gallery.html %}
    {% when "link" %}
      {% include item/link.html %}
    {% when "note" %}
      {% include item/note.html %}
    {% else %}
      {% include item/post.html %}
    {% endcase %}
  {% endfor %}
  </div>
</section>

{% include nav/paginate-indices.html %}
