<nav class="navigation navigation--chapters" aria-labelledby="chapters">
    <h1 class="navigation__title" id="chapters">Chapters</h1>

    <ol class="list">
    {% for essay in site.pages | where: 'layout', 'essay' %}
        {% for tag in essay.tags %}
            {% if page.tags contains tag %}
                <li class="list__item"><a class="navigation__item{% if page.permalink == essay.url %} is-active{% endif %}" href="{{ essay.url | remove:'.html' }}">{% if essay.subtitle %}{{ essay.subtitle }}{% else %}Introduction{% endif %}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ol>
</nav>
