<nav class="nav nav--pagination grid">
    {% if page.next != nil %}
    <div class="grid__item">
        <a class="nav__item nav__item--prev" rel="prev bookmark" href="{{ page.next.url }}">
            <span class="nav__item__label">Previous</span>
            <h1 class="nav__item__title">{{ page.next.title | typeset }}</h1>
        </a>
    </div>
    {% endif %}

    {% if page.previous != nil %}
    <div class="grid__item">
        <a class="nav__item nav__item--next" rel="next bookmark" href="{{ page.previous.url }}">
            <span class="nav__item__label">Next</span>
            <h1 class="nav__item__title">{{ page.previous.title | typeset }}</h1>
        </a>
    </div>
    {% endif %}
</nav>
