<nav class="nav nav--pagination grid">
    {% if page.next_in_category != nil %}
    <div class="grid__item">
        <a class="nav__item nav__item--prev" rel="prev bookmark" href="{{ page.next_in_category.url }}">
            <span class="nav__item__label">Previous {{ page.next_in_category.category | capitalize }}</span>
            <h1 class="nav__item__title">{{ page.next_in_category.title | typeset }}</h1>
        </a>
    </div>
    {% endif %}

    {% if page.previous_in_category != nil %}
    <div class="grid__item">
        <a class="nav__item nav__item--next" rel="next bookmark" href="{{ page.previous_in_category.url }}">
            <span class="nav__item__label">Next {{ page.previous_in_category.category | capitalize }}</span>
            <h1 class="nav__item__title">{{ page.previous_in_category.title | typeset }}</h1>
        </a>
    </div>
    {% endif %}
</nav>
