<nav class="navigation navigation--secondary" role="navigation" aria-labelledby="more">
    <h1 class="navigation__title u--hidden" id="more">More</h1>

    <ul class="list">
        <li class="list__item"><a class="navigation__item" href="/archive/">Archive</a></li>
        <li class="list__item"><a class="navigation__item" href="/essays/">Essays</a></li>
        <li class="list__item"><a class="navigation__item" href="/about/colophon">Colophon</a></li>
        <li class="list__item"><a class="navigation__item" href="/about/styleguide">Styleguide</a></li>
        <li class="list__item"><a class="navigation__item" href="/feed" rel="alternate" type="application/atom+xml">RSS Feed</a></li>
        <li class="list__item"><a class="navigation__item" href="https://twitter.com/{{ author.twitter }}" rel="me">{{ author.twitter }}</a></li>
    </ul>
</nav>
