<nav class="navigation navigation--series" aria-labelledby="series">
    <h1 class="navigation__title" id="series">{{ page.series }}</h1>
    <ol class="list">
    {% for item in site.pages %}
        {% for series in item.series %}
            {% if page.series contains series %}
                <li class="list__item"><a class="navigation__item{% if page.permalink == item.url %} is-active{% endif %}" href="{{ item.url | remove:'.html' }}">{% if item.subtitle %}{{ item.subtitle }}{% else %}Introduction{% endif %}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ol>
</nav>
