/*  =========================================================================
    Footnotes
    ========================================================================= */

.s-footnotes {
    @include fs--caption;
    @include rule;
    margin-top: ($u__baseline * 2);
    color: $c__neutral-mid;

    ol {
        margin-top: $u__baseline;
    }

    li p {
        margin-bottom: ($u__baseline / 2);
    }
}
