/*  =========================================================================
    Prose
    ========================================================================= */

.s-prose {
    font-feature-settings: 'liga', 'dlig', 'onum';
}

/* Body */
.s-prose--body {
    @include fs--body;

    > * {
        margin-bottom: $u__baseline;
    }

    h2 {
        @include fs--heading-2;
        margin-bottom: ($u__baseline / 2);
        font-weight: 700;
    }

    h3 {
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 4);
        color: $c__neutral-mid;
    }

    h4 {
        @include fs--heading-4;
        margin-bottom: ($u__baseline / 2);
        font-weight: 700;
    }

    *:not(hr) + h2,
    * + h3,
    * + h4,
    p + figure {
        margin-top: ($u__baseline * 2);
    }

    pre {
        font-size: 90%;
    }

    dl dd:not([class]),
    li p {
        margin-bottom: $u__baseline;
    }

    abbr[title]:hover {
        @include text-highlight;
    }

    // Separate lede from body
    .s-prose--lede + & {
        margin-top: ($u__baseline * 2.5);
    }
}


/* Billboard */
/* TODO: Think of a better name for this class */
.s-prose--billboard {
    @include fs--billboard;

    > *:not(:last-of-type) {
        margin-bottom: 0.75rem;
    }
}


/* Lede */
.s-prose--lede {
    @include fs--lede;

    > * {
        margin-bottom: ($u__baseline * 1.25);
    }
}
