//  ===========================================================================
//  Prose
//  ===========================================================================

.s-prose {
    line-height: (24/18);
    font-feature-settings: 'liga', 'dlig', 'onum';

    > * {
        margin-bottom: 1rem;
    }

    .caps {
        @include c2sc;
    }
}


// Body
.s-prose--body {
    @include fs--body;

    > * {
        margin-bottom: 1.25rem;
    }

    h2 {
        @include fs--heading-2;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    *:not(hr) + h2 {
        margin-top: 3rem;
    }

    h3 {
        @include fs--heading-3;
        margin-bottom: 0.5rem;
        color: $c__neutral-mid;
    }

    h4 {
        margin-bottom: 0;
        font-weight: 700;
    }

    * + h3,
    * + h4,
    * + table,
    * + figure {
        margin-top: 1.5rem;
    }

    hr {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    pre {
        font-size: 90%;
    }

    li p {
        margin-bottom: 0.75rem;
    }

    figure {
        > * {
            margin-bottom: 0.75rem;
        }

        &.u-extend {
            @media (min-width: $b__c) {
                position: relative;
                padding-right: $gn__span4-wide;
                min-height: 6rem;
            }

            figcaption {
                @media screen and (min-width: $b__b) {
                    padding-left: span(3 wide);
                }

                @media (min-width: $b__c) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-left: 0;
                    width: span(4);
                }
            }
        }

        &.u-bleed {
            figcaption {
                padding-right: 1rem;
                padding-left: 1rem;

                @media (min-width: $b__a) {
                    padding-right: 2rem;
                    padding-left: 2rem;
                }

                @media screen and (min-width: $b__b) {
                    padding-left: span(3 wide);
                    padding-left: calc(#{span(3 wide)} + 1rem);
                }

                @media screen and (min-width: $b__c) {
                    padding-left: span(3 wide);
                }
            }
        }
    }

    figcaption {
        @include fs--caption;
        color: $c__neutral-mid;
    }

    small {
        @include fs--caption;
        display: inline-block;
        color: $c__neutral-mid;
    }

    abbr[title]:hover {
        @include text-highlight;
    }

    > .highlighter-rouge {
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        padding: 0.5rem;
    }

    .footnotes {
        @include fs--caption;
        @include rule($width: 20%);
        margin-top: 4rem;
        color: $c__neutral-mid;

        ol {
            margin-top: 0.75rem;
        }
    }
}


// Lede
.s-prose--lede {
    @include fs--lede;

    > * {
        margin-bottom: 1rem;
    }

    > :last-child {
        margin-bottom: 2rem;
    }
}
