/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    margin-bottom: ($u__baseline * 4);
    padding-bottom: ($u__baseline * 2);
    overflow: hidden;
    text-align: center;

    @include susy-media($b__a) {
        padding-bottom: 0;
        text-align: left;
    }
}

.banner__home {
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 0.1;

    @include susy-media($b__a) {
        @include span(1 of 8);
    }
}

.banner__logo {
    width: ($u__baseline * 3);
    height: ($u__baseline * 3);

    @include susy-media($b__a) {
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }
}
