/*  =========================================================================
    Content Info
    ========================================================================= */

.contentinfo {
    @include fs--double-emerald;
    margin: 0 auto;
    border-top: 1px solid $c__neutral--5;
    padding: $u__baseline 0;
    text-align: center;

    @include susy-breakpoint(b__c) {
        max-width: span(6);
    }
}

.contentinfo__legal {
    margin-bottom: ($u__baseline / 2);

    a {
        color: inherit;
    }
}

.contentinfo__copyright {
    font-size: 100%;
}
