/*  =========================================================================
    Content Info
    ========================================================================= */

.contentinfo {
    @include fs--double-emerald;
    margin: 0 auto;
    padding: $u__baseline 0;
    text-align: center;

    @include susy-media($b__c) {
        max-width: span(6);
    }

    &::before {
        content: '';
        display: block;
        border-top: 1px solid;
        opacity: 0.5;
        margin-bottom: $u__baseline;
    }
}

.contentinfo__legal {
    margin-bottom: ($u__baseline / 2);

    a {
        color: inherit;
    }
}

.contentinfo__copyright {
    font-size: 100%;
}
