/*  =========================================================================
    Navigation
    ========================================================================= */

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 gutter();
    max-width: $u__max-width;
    border-bottom: 2px solid;

    @include susy-media($b__c) {
        margin: 0 auto;
    }
}
