/*  =========================================================================
    Containers
    ========================================================================= */
.container {
    margin: 0 auto;
    padding: 1em;
}
@media screen and (min-width: 32em) {
    .container {
        padding-right: var(--v_padding-a);
        padding-left: var(--v_padding-a);
    }
}
@media screen and (min-width: 48em) {
    .container {
        padding-right: var(--v_padding-b);
        padding-left: var(--v_padding-b);
    }
}
@media screen and (min-width: 64em) {
    .container {
        padding-right: var(--v_padding-c);
        padding-left: var(--v_padding-c);
    }
}