/*  =========================================================================
    Containers
    ========================================================================= */
.container {
    padding: 1em 0;
    max-width: 45em;
}
@media screen and (min-width: 50em) {
    .container {
        margin: 0 auto;
        width: 80%;
    }
}