/*  =========================================================================
    Prose
    ========================================================================= */
.prose {
    font-family: var(--f_serif);
    line-height: 1.75; /* 28px */
}
@media screen and (min-width: 48em) {
    .prose {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.25em; /* 20px */
        line-height: 1.4; /* 28px */
    }
    .prose figcaption,
    .prose caption,
    .prose .footnotes {
        font-family: var(--f_sans-serif);
        font-size: 1rem; /* 16px */
        line-height: 1.25; /* 20px */
    }
}

.prose strong {
    font-family: var(--f_sans-serif);
}

.prose .caps {
    font-size: 90%;
    font-feature-settings: "c2sc" 1;
    letter-spacing: 0.0625rem; /* 1px */
}