<footer class="c-page__footer">
  <p>
    <span class="u-hidden">Published on </span>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}{% if include.time %}<span aria-label=","> ·</span>{{ page.date | date: "%l:%M%P" }}{% endif %}</time>
    {% if page.event %}
      <span aria-label=",">·</span> {{ page.event }}
    {% endif %}
    {% if page.location %}
      {% assign page_location = page.location | split: ", " %}
      <span aria-label=",">·</span> <span class="p-location h-adr"><span class="p-locality">{{ page_location[0] }}</span>, <span class="p-country-name">{{ page_location[1] }}</span></span>
    {% endif %}
  </p>
</footer>
