<section class="c-section" aria-labelledby="webmentions">
  <header class="c-section__header">
    <h2 class="c-section__title" id="webmentions">Responses</h2>
  </header>

  <div class="c-section__main">
    <script id="webmention-hosted">
      (function () {
        var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
        url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
        url = url && url[0] ? url[0].href : false;
        sn.type = "text/javascript"; sn.async = true;
        sn.src = "//webmention.herokuapp.com/api/embed?cutting-edge&url=" + encodeURIComponent(url || window.location);
        s.parentNode.insertBefore(sn, s);
      }());
    </script>
  </div>
</section>
