{% if page.series %}
  {% assign items = site.documents | where: "series", page.series | sort: "date" %}
  {% assign title = "Also in this series" %}
{% elsif site.related_posts.size >= 1 %}
  {% assign items = site.related_posts %}
  {% assign title = "Somewhat related" %}
{% endif %}
<aside class="c-section" role="complementary" aria-labelledby="related">
  <header class="c-section__header">
    <h1 class="c-section__title" id="related">{{ title }}</h1>
  </header>

  <div class="c-section__main u-triad">
  {% for item in items limit: 3 %}
    {% if item.url != page.url %}
      {% include item/series.html %}
    {% endif %}
  {% endfor %}
  </div>
</aside>
