/*  =========================================================================
    Edits
    http://developers.whatwg.org/edits.html
    ========================================================================= */

mark {
    padding: 0 0.125rem; // 0 2px
    background: #ffc;
}
