//  ===========================================================================
//  Embedded content
//  http://developers.whatwg.org/embedded-content-1
//  ===========================================================================

img {
    // Remove border when inside `a` element in IE 8/9
    display: block;
    border: 0;
    max-width: 100%;
}

svg:not(:root) {
    // Correct overflow displayed oddly in IE 9
    overflow: hidden;
    fill: currentColor;
}
