// ========================================================
// Forms
// https://w3c.github.io/html/sec-forms.html
// ========================================================

fieldset {
  // Define consistent border, margin, and padding
  margin: 0;
  border: 0;
  padding: 0;
}

legend {
  // Correct `color` not being inherited in IE 8/9
  border: 0;
  // Remove padding so people aren’t caught out if they zero out fieldsets
  padding: 0;
}

label {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  // Address margins set differently in Firefox 4+, Safari and Chrome
  margin: 0;
  // Correct color not being inherited
  // Known issue: affects color of disabled elements
  background: none;
  color: inherit;
  // Correct font properties not being inherited
  font: inherit;
  // Remove default styling on iOS
  -webkit-appearance: none;
}

button,
input {
  // Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet
  line-height: normal;
}

[data-whatinput="mouse"] button:focus,
[data-whatinput="touch"] button:focus,
[data-whatinput="mouse"] input:focus,
[data-whatinput="touch"] input:focus {
  outline: 0;
}

button,
select {
  // Address inconsistent `text-transform` inheritance for `button` and `select`
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
  // Improve usability and consistency of cursor style between image-type `input` and others
  cursor: pointer;
  // Address `overflow` set to `hidden` in IE 8/9/10/11
  overflow: visible;
}

[type="checkbox"],
[type="radio"] {
  // Remove excess padding in IE 8/9
  padding: 0;
}

[type="search"] {
  // Address `appearance` set to `searchfield` in Safari and Chrome
  -webkit-appearance: textfield;
  // Address `box-sizing` set to `border-box` in Safari and Chrome
  box-sizing: content-box;

  &::-webkit-search-cancel-button {
    // Remove inner padding and search cancel button in Safari and Chrome on OS X
    -webkit-appearance: none;
  }
}

[hidden] {
  display: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  // Remove inner padding and border in Firefox 4+
  border: 0;
  padding: 0;
}

input {
  // Address Firefox 4+ setting `line-height` on `input`
  line-height: normal;
}

textarea {
  // Remove default vertical scrollbar in IE 8/9
  overflow: auto;
}

/* Placeholder */
::placeholder {
  color: $c__neutral-mid;
}

:focus::placeholder {
  opacity: 0.5;
}
