//  ===========================================================================
//  Grouping content
//  http://developers.whatwg.org/grouping-content.html
//  ===========================================================================

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    margin: 0;
    orphans: 3;
    widows: 3;
}

pre {
    overflow: auto;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
}

blockquote {
    position: relative;
    padding-right: 1rem;
    padding-left: 1.5rem;

    @media print {
        page-break-inside: avoid;
    }

    > * {
        opacity: 0.8;
        margin-bottom: 0.75rem;
    }

    &::before {
        display: block;
        position: absolute;
        top: ((1 / 3) + em);
        bottom: 0;
        left: 0;
        opacity: 0.25;
        border-left: 0.5rem solid;
        content: "";
    }
}

figure,
figcaption {
    // Correct `block` display for `figure` and `figcaption` elements in IE 8/9
    display: block;
}

ol,
ul {
    padding: 0;
    list-style-position: inside;

    @media (min-width: $b__a) {
        list-style-position: outside;
    }

    blockquote & {
        list-style-position: inside;
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

dt {
    font-weight: 700;
}

li li,
dd {
    margin-left: 1.5rem;
}
