// ========================================================
// Grouping content
// https://w3c.github.io/html/grouping-content.html
// ========================================================

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  margin: 0;
  orphans: 3;
  widows: 3;
}

pre {
  overflow: auto;
  white-space: pre;
  hyphens: none;
  tab-size: 4;
}

blockquote {
  @media print {
    page-break-inside: avoid;
  }
}

figure,
figcaption {
  // Correct display for `figure` and `figcaption` elements in IE 8/9
  display: block;
}

ol,
ul {
  padding: 0;
  list-style-position: inside;

  @media (min-width: $b__a) {
    list-style-position: outside;
  }

  blockquote & {
    list-style-position: inside;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

dt {
  font-weight: 700;
}

li li,
dd {
  margin-left: 1.5rem;
}
