/*  =========================================================================
    Links
    http://developers.whatwg.org/links.html
    ========================================================================= */

a {
/*  Remove gray background color from active links in IE 10 */
    background-color: transparent;
    text-decoration: none;
    color: inherit;

    &:active,
    &:hover {
    /*  Improve readability when focused and mouse hovered in all browsers */
        outline: 0;
    }

    &:focus {
        outline: 2px solid $c__focus;
        background-color: $c__focus;
        color: $c__neutral-1;
    }
}

[data-whatinput="mouse"] a:focus,
[data-whatinput="touch"] a:focus {
    outline: 0;
    background-color: transparent;
    color: inherit;
}

@media print {
    a,
    a:visited {
        color: #000 !important;
    }
}
