/*  =========================================================================
    Links
    http://developers.whatwg.org/links.html
    ========================================================================= */

a {
    &:active,
    &:hover {
    /*  Improve readability when focused and also mouse hovered in all browsers */
        outline: 0;
    }

    &:active {
    /*  Remove gray background color from active links in IE 10 */
        background-color: transparent;
    }
}

@media print {
    a,
    a:visited {
        color: #000 !important;
    }
}
