/*  =========================================================================
    Tablular data
    http://developers.whatwg.org/tabular-data.html
    ========================================================================= */

table {
    @include fs--billboard;
    caption-side: bottom;
    border-spacing: 0;
}

tbody {
    margin-bottom: $u__baseline;
}

caption {
    @include fs--caption;
    margin-top: ($u__baseline / 2);
    text-align: left;
}

td,
th {
    border-top: 1px solid;
    padding-right: $u__baseline;
    padding-bottom: ($u__baseline / 2);
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    overflow-wrap: break-word;
}

td {
    border-color: rgba($c__neutral-4, 0.5);
}

th {
    border-top: $u__rule-height solid;
    padding-bottom: $u__baseline;
    font-weight: 700;
}

@media print {
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
}
