// 56/56
%fs--1 {
    text-rendering: optimizeLegibility;
    line-height: 1; // 56px
    letter-spacing: -0.125rem; // 2px
    font-size: 3.5rem; // 56px
}

// 32/36
%fs--2 {
    text-rendering: optimizeLegibility;
    line-height: 1.125; // 27px
    font-size: 1.5rem; // 24px
}

// 18/27
%fs--3 {
    text-rendering: optimizeLegibility;
    line-height: 1.5; // 27px
    font-size: 1.125rem; // 18px
}

// 16/20
%fs--4 {
    text-rendering: optimizeLegibility;
    line-height: 1.25; // 20px
    font-size: 1rem; // 16px
}

// 14/16
%fs--5 {
    line-height: 1.1429; // 16px
    font-size: 0.875rem; // 14px
}

// 13/16
%fs--6 {
    line-height: 1.2308; // 16px
    font-size: 0.8125rem; // 13px
}
