//  ============================================================================
//  Utilities helpers
//  ============================================================================

// Clearfix
.u-cf,
%u-cf {
    &::before,
    &::after {
        display: table;
        content: ' ';
    }

    &::after {
        clear: both;
    }
}

// Visually hidden, but still audible
.u-hidden,
%u-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
