/*  =========================================================================
    Layout: Album
    ========================================================================= */

.page--album .figure {
    margin-bottom: ($u__baseline * 3);
    min-height: 10rem;
    max-height: 40rem;
}

.page--album .figure__main {
    background-color: rgba(0, 0, 0, 0.1);

    img {
        margin: 0 auto;
        max-height: 100%;
    }
}
