/* ==========================================================================
   All
   ========================================================================== */
.nav {
    list-style-type: none;
    margin: 0;
}

.nav__item {
    margin: 0;
    }
    .nav__item:hover {
        
    }
    .nav__item:active {
        
    }

.nav__item {
    padding: 0.25em 0;
}
.nav__item a {
    display: block;
}

.nav__item.is-active {
    font-weight: 700;
}
