<aside class="meta meta--presentation">
    <h2 class="meta__title audible">About This Presentation</h2>
    <dl class="meta__values">
    {% if page.meta.event %}
        <dt class="meta__title">Event</dt>
        <dd class="meta__value">{{ page.meta.event | smartify }}</dd>
    {% endif %}
    {% if page.meta.location %}
        <dt class="meta__title">Location</dt>
        <dd class="meta__value">{{ page.meta.location | smartify }}</dd>
    {% endif %}
    {% if page.meta.resources %}
        <dt class="meta__title">Resources</dt>
        <dd class="meta__value">
            <ul class="summary__meta list list--inline list--inline--separated">
            {% for resource in page.meta.resources %}
                <li class="list__item"><a href="{{ resource[1] }}">{{ resource[0] | capitalize }}</a></li>
            {% endfor %}
            </ul>
        </dd>
    {% endif %}
    </dl>
</aside>
