// ========================================================
// Banner
// ========================================================

.c-banner {
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);

  @media (min-width: $--breakpoint-a) {
    margin-bottom: $--space-xxlarge;
  }
}

.c-banner__home {
  display: inline-block;
  line-height: 0;
  color: inherit;
}

.c-banner__logo {
  width: $--size-small;
  height: $--size-small;

  @media (min-width: $--breakpoint-a) {
    width: $--size-medium;
    height: $--size-medium;
  }
}
