// ========================================================
// Button
// ========================================================

.c-button {
  @include ff--sans-serif(700);
  display: inline-block;
  border: $--rule-medium solid $--color-primary;
  padding: 0.75rem;
  text-decoration: none;
  line-height: 1;

  &:hover {
    color: $--color-primary;
  }

  &:active {
    color: $--color-secondary;
    border-color: currentColor;
  }

  &:focus {
    outline: $--rule-medium solid Highlight;
  }
}
