// ========================================================
// Content Info
// ========================================================

.c-contentinfo {
  @include typeset("label");
  padding: $--space-medium var(--page-gutter);
  background-color: $--color-neutral-lighter;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.c-contentinfo__main {
  @media screen and (min-width: $--breakpoint-b) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-contentinfo__social {
  @media screen and (min-width: $--breakpoint-b) {
    display: flex;
    flex: 0 0 auto;
    width: percentage(2/9);
  }

  @media print {
    display: none;
  }

  a {
    opacity: 0.75;
    line-height: 0;
    margin-right: $--space-small;

    &:hover {
      opacity: 1;
    }
  }
}

.c-contentinfo__links {
  padding-top: $--space-small;
  padding-bottom: $--space-small;

  @media screen and (min-width: $--breakpoint-b) {
    flex: 0 1 auto;
  }

  @media print {
    display: none;
  }

  a {
    @include separate;
  }
}

.c-contentinfo__copyright {
  @media screen and (min-width: $--breakpoint-b) {
    flex: 0 0 auto;
    margin-left: auto;
  }

  @media screen and (min-width: $--breakpoint-c) {
    margin-right: percentage(1/9);
  }
}
