// ========================================================
// Form
// ========================================================

.c-form__title {
  @include typeset("heading-3");
  padding-bottom: $--space-medium;
}

.c-form__field {
  font-size: 1rem;
  position: relative;
  margin-bottom: $--space-medium;
}

.c-form__icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);

  + .c-form__input {
    padding-left: 2.5rem;
  }
}

.c-form__label {
  .c-form__label-inline & {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border: dotted;
    border-width: 0 0 $--rule-medium;
    padding: 0.75rem;
    font-weight: 700;

    @media (min-width: $--breakpoint-a) {
      bottom: 0;
      border-width: 0 $--rule-medium 0 0;
      width: percentage(2/9);
    }
  }
}

.c-form__label::after {
  content: ":";

  @media (min-width: $--breakpoint-a) {
    content: "";
  }
}

.c-form__label-inline {
  display: block;
  position: relative;
}

.c-form__input {
  outline: 0;
  border: $--rule-medium solid;
  border-radius: 0;
  padding: 0.75rem;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 2px Highlight;
  }

  &[required]:valid {
    box-shadow: inset 0 0 0 2px $--color-valid;
  }

  .c-form__label-inline & {
    display: block;
    padding-top: 3.75rem;

    @media (min-width: $--breakpoint-a) {
      padding-top: 0.75rem;
      padding-left: calc(#{percentage(2/9)} + 0.75rem);
    }
  }

  .c-form__input-submit & {
    flex: 1 1 auto;
  }
}

.c-form__submit {
  font-weight: 700;

  .c-form__input-submit & {
    margin-left: 0.75rem;
    flex: 0 0 auto;
  }
}

.c-form__input-submit {
  display: flex;
}

.c-form__input--textarea {
  height: 12rem;
}
