// ========================================================
// Items
// ========================================================

.c-item {
  flex-direction: column;
  margin-bottom: $--space-xlarge;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-item--about {
  background-color: $--color-neutral-lighter;
  margin-right: ($--space-medium * -1);
  margin-left: ($--space-medium * -1);
  padding: $--space-medium;

  @media (min-width: $--breakpoint-a) {
    margin-right: ($--space-large * -1);
    margin-left: ($--space-large * -1);
    padding: $--space-large;
  }

  .c-item__main {
    margin-bottom: 0;
  }
}

.c-item--article,
.c-item--talk {
  margin-bottom: $--space-large;
}

.c-item__media,
.c-item__footer {
  margin-bottom: $--space-medium;
}

.c-item__header {
  margin-bottom: $--space-small;
}

.c-item__main {
  margin-bottom: $--space-small;

  @media (min-width: $--breakpoint-a) {
    .c-item--link &,
    .c-item--comment & {
      padding-right: percentage(1/8);
    }
  }
}

.c-item__title {
  @include fs--heading-3;
  hanging-punctuation: first;
  font-weight: 700;

  a {
    color: $--color-primary;
  }

  .c-item--entry &,
  .c-item--gallery & {
    @include fs--heading-2;
  }
}

.c-item__footer {
  @include fs--caption;
  color: $--color-neutral-mid;

  a {
    text-decoration: none;
  }
}

.c-item--link {
  display: flex;
  flex-direction: column;

  .c-item__media {
    order: -1;
  }
}

.c-item__avatar {
  height: auto;
  width: percentage(1/8);
  background-color: $--color-neutral-mid;
}

// Gallery
.c-item--gallery {
  position: relative;
  padding-left: ($--size-medium + $--gutter);
  min-height: ($--size-medium + $--gutter);

  .c-item__cover {
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
      position: absolute;
      background: $--color-neutral-mid;
      height: 1px;
      content: "";
    }

    &::before {
      top: -4px;
      right: 8px;
      left: 8px;
    }

    &::after {
      top: -2px;
      right: 4px;
      left: 4px;
    }
  }

  .c-item__cover-photo {
    width: $--size-medium;
    height: $--size-medium;
  }
}

// Comment
.c-item--comment {
  position: relative;
  padding-left: calc(#{percentage(1/8)} + #{$--gutter});

  @media screen and (min-width: $--breakpoint-b) {
    padding-left: 0;
  }

  .c-item__avatar {
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $--breakpoint-b) {
      left: calc((#{percentage(1/8)} + #{$--gutter}) * -1);
    }
  }
}
