// ========================================================
// List
// ========================================================

.c-list {
  margin-bottom: 0;
}

.c-list__item {
  list-style: none;
}

.c-list--inline {
  @media (max-width: ($--breakpoint-ax)) {
    line-height: 2;
  }

  .c-list__item {
    @include separate;
    display: inline;
  }
}
