// ========================================================
// Main content
// ========================================================

.c-main {
  position: relative;
  flex: 1;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  margin-bottom: $--space-large;
}

.c-main__title {
  @include typeset("heading-1");
  margin-bottom: $--space-large;
  font-weight: 700;

  @media screen and (min-width: $--breakpoint-b) {
    margin-bottom: $--space-xlarge;
    padding-right: percentage(1/9);
    padding-left: percentage(2/9);
  }
}
