// ========================================================
// Meta
// ========================================================

.c-meta {
  @include typeset("caption");
  margin-bottom: $--space-medium;
  overflow: hidden;
}

.c-meta__title {
  font-weight: 700;
  color: $--color-neutral-mid;

  @media (max-width: ($--breakpoint-bx)) {
    float: left;
    margin-bottom: $--space-medium;
    padding-right: $--space-small;
    width: percentage(2/9);
  }
}

.c-meta__value {
  margin-bottom: $--space-medium;
  margin-left: 0;

  @media (max-width: ($--breakpoint-bx)) {
    padding-left: percentage(2/9);
  }

  p {
    margin: 0;
  }

  li {
    list-style-position: inside;
  }
}
