// ========================================================
// Pagination
// ========================================================

.c-pagination {
  display: flex;

  @media (min-width: $b__b) {
    padding-left: percentage(2/9);
  }

  @media print {
    display: none;
  }
}

.c-pagination__item {
  margin-right: 1rem;
  font-weight: 700;
  text-decoration: none;
}
