// ========================================================
// Nav
// ========================================================

.c-nav__item {
  text-decoration: none;

  [aria-current] {
    font-weight: 700;
  }
}

// Page navigation
.c-nav--pagination {
  display: flex;

  @media (min-width: $b__b) {
    padding-left: percentage(2/9);
  }

  @media print {
    display: none;
  }

  .c-nav__item {
    margin-right: 1rem;
    font-weight: 700;
  }
}
