.c-offline {
  @include fs--caption;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba($--color-primary, 0.9);
  backdrop-filter: blur(4px);
  color: white;
}

.c-offline__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $--space-small var(--page-gutter);

  a:hover {
    color: white !important;
  }
}

.c-offline__dismiss {
  border: 0;
  margin-right: ($--space-xsmall * -1);
  padding: $--space-xsmall;

  &:hover {
    color: white;
  }
}
