// ========================================================
// Page
// ========================================================

.c-page {
  display: flex;
  flex-direction: column;
}

.c-page__header,
.c-page__footer {
  order: -1;

  @media screen and (min-width: $--breakpoint-b) {
    padding-right: percentage(1/9);
    padding-left: percentage(2/9);
  }

  .c-page--link &,
  .c-page--note & {
    order: 0;
  }
}

.c-page__footer {
  margin-bottom: $--space-xlarge;
  color: $--color-neutral-mid;

  a {
    text-decoration: none;
  }
}

.c-page__title {
  @include typeset("title");
  margin-bottom: $--space-medium;

  .c-page--link &,
  .c-page--note & {
    @include typeset("heading-2");
  }
}

.c-page__excerpt {
  margin-bottom: $--space-large;
}
