// ========================================================
// Project
// ========================================================

.c-project {
  @include typeset("label", $line-height: $--line-height-loose);
  display: block;
  position: relative;
}

.c-project__logo {
  display: block;
  margin-bottom: $--space-small;

  .c-project:hover & {
    color: $--color-primary;
  }

  .c-project:active &,
  .c-project:focus & {
    color: $--color-secondary;
  }
}

.c-project__title {
  @include separate;
  display: inline;
  font-weight: 700;

  a {
    display: inline-block;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
    }
  }
}

.c-project__meta {
  display: inline;
  color: $--color-neutral-mid;
}
