// ========================================================
// Section
// ========================================================

.c-section {
  margin-bottom: $--space-xlarge;

  @media screen and (min-width: $--breakpoint-b) {
    margin-right: percentage(1/9);
    margin-left: percentage(2/9);
  }
}

.c-section__header {
  display: flex;
  align-items: center;
  margin-bottom: $--space-medium;
}

.c-section__title {
  @include typeset("caption", $font-weight: 700);
  flex: 0 0 auto;
  color: $--color-neutral-dark;

  a {
    text-decoration: none;
  }
}
