// ========================================================
// Section
// ========================================================

.c-section {
  margin-bottom: $--space-xlarge;

  @media screen and (min-width: $--breakpoint-b) {
    margin-right: percentage(1/9);
    margin-left: percentage(2/9);
  }
}

.c-section__header {
  @include rule($position: "after");
  display: flex;
  align-items: center;
  margin-bottom: $--space-medium;
}

.c-section__title {
  @include typeset("label");
  flex: 0 0 auto;
  padding-right: $--space-xsmall;
  word-break: break-word;
  hyphens: auto;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: $--color-neutral-mid;

  a {
    text-decoration: none;
  }
}
