// ========================================================
// Section
// ========================================================

.c-section {
  margin-bottom: units(4);

  @media screen and (min-width: $b__b) {
    margin-right: percentage(1/9);
    margin-left: percentage(2/9);
  }
}

.c-section__header {
  @include rule($height: $u__rule-height, $position: "after");
  display: flex;
  align-items: center;
  margin-bottom: units(1);
}

.c-section__title {
  @include fs--caption;
  flex: 0 0 auto;
  padding-right: 0.25rem;
  word-break: break-word;
  hyphens: auto;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  color: $c__neutral-mid;

  a {
    text-decoration: none;
  }
}
