.c-year {
  margin-bottom: $--space-large;

  a {
    display: block;
    height: 100%;
    text-decoration: none;
  }
}

.c-year__title {
  @include typeset("heading-3");
  text-decoration: underline;
  font-weight: 700;
}

.c-year__meta {
  @include typeset("label");
  margin-bottom: $--space-small;
  color: $--color-neutral-mid;
}

.c-year__graph {
  display: block;
  height: $--size-large;
  width: 100%;
  pointer-events: none;
}
