
<footer class="contentinfo" role="contentinfo">
    <p class="contentinfo__copyright">
        <small><strong>© <abbr title="2014">MMXIV</abbr> Paul Robert Lloyd</strong> All content <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons Attribution-Non-Commercial-Share Alike 2.0 UK: England &amp; Wales">Creative Commons licensed</a> unless otherwise stated.</small>
    </p>
    <ul class="list">
        <li class="list__item"><a href="/archive/">Archive</a></li>
        <li class="list__item"><a href="/about/colophon/">Colophon</a></li>
        <li class="list__item"><a href="/about/styleguide/">Styleguide</a></li>
    </ul>
    <ul class="contentinfo__elsewhere list">
        <li class="list__item"><a rel="me" href="https://twitter.com/paulrobertlloyd" data-icon="&#xe002;">Twitter</a></li>
        <li class="list__item"><a rel="me" href="/feeds/" data-icon="&#xe001;">Feeds</a></li>
    </ul>
</footer><!--/@contentinfo-->
