{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<nav class="navigation" role="navigation" id="menu">
    <ul class="list">
        <li class="list__item{% if location == 'journal' %} is-active{% endif %}"><a href="/journal/">Journal</a></li>
        <li class="list__item{% if location == 'projects' %} is-active{% endif %}"><a href="/projects/">Projects</a></li>
        <li class="list__item{% if location == 'articles' %} is-active{% endif %}"><a href="/articles/">Articles</a></li>
        <li class="list__item{% if location == 'archives' %} is-active{% endif %}"><a href="/archives/">Archive</a></li>
        <li class="list__item{% if location == 'about' %} is-active{% endif %}"><a href="/about/">About</a></li>
    </ul>
</nav><!--/@navigation-->
