
<section class="section section--chapters" id="chapters">
    <h1 class="section__title">Chapters</h1>
    <ul class="list">
    {% for post in site.posts reversed %}
        {% for tag in post.tags %}
            {% if page.tags contains tag %}
                <li class="list__item{% if page.permalink == post.url %} is-active{% endif %}"><a href="{{ post.url }}">{% if post.chapter-title %}{{ post.chapter-title }}{% else %}Introduction{% endif %}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
</section>
