<section class="section section--comments" id="comments">
    {% case page.comment_count %}
    {% when 0 %}
    {% when 1 %}
    <h1 class="section__title">1 comment</h1>
    {% else %}
    <h1 class="section__title">{{ page.comment_count }} Comments</h1>
    {% endcase %}
    {% for c in page.comments reversed %}
    <article class="comment">
        <header class="comment__header">
            <h1><a href="{{c.url}}">
                {% if c.url and c.url != '' %}
                    {{ c.author }}
                {% else %}
                    {{ c.author }}
                {% endif %}
                <img src="{{ c.email | to_gravatar }}?s=96" width="64" height="64" alt=""/>
            </a></h1>
        </header>
        <div class="comment__main">
            {{ c.content | abbr | ampersand | markdownify }}
        </div>
        <footer class="comment__footer">
            <time class="comment__pubdate" datetime="{{ c.date | date_to_xmlschema }}">{{ c.date | date: "%e %B %Y" }}</time>
        </footer>
    </article>
    {% endfor %}
</section>
