<article class="c-item c-item--gallery  h-entry">
    <header class="c-item__header">
        <h1 class="c-item__title c-item__title--promote  p-name">
            <a class="c-item__link  u-url" href="{{ item.url }}" rel="bookmark">
                <span class="c-item__cover">
                    <img class="c-item__cover-photo" src="{{ site.picture.cdn }}/180x180/80q{{ item.image.url }}" alt=""/>
                </span>
                {{ item.title | smartify }}
            </a>
        </h1>
    </header>

    <footer class="c-item__footer">
        <p class="c-item__meta">
            <strong class="u-separate  p-category">Gallery</strong>
            <a href="{{ item.url }}" rel="bookmark">
                <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date:"%e %B %Y" }}</time>
            </a>
        </p>
    </footer>

    <div class="c-item__main">
        <div class="s-prose s-prose--billboard  p-summary">
            {{ item.excerpt | markdownify | typogrify | namespace }}
        </div>
    </div>
</article>
