<article class="c-item c-item--link  h-entry">
    <a class="c-item__link u-block-link  u-url" href="{{ item.url }}" rel="bookmark">
        <header class="c-item__header">
            <h1 class="c-item__title p-name">{{ item.title | smartify | typogrify }}</h1>
        </header>

        <footer class="c-item__footer">
            <p class="c-item__meta">
                <strong class="u-separate  p-category">Link</strong> <time class="c-item__pubdate  dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date:"%e %B %Y" }}</time>
            </p>
        </footer>
    </a>

    <div class="c-item__main s-prose s-prose--billboard  p-summary">
        {% if item.link.embed == "photo" or item.link.embed == "video" %}
        <div class="c-item__media u-bleed">
            {% embed {{ item.link.url }} %}
        </div>
        {% endif %}

        {{ item.content | markdownify | typogrify | namespace }}
    </div>
</article>
