<article class="c-item c-item--comment{% if item.gravatar == "15091a37bacfa4bdd011282627eaca2b" %} c-item--comment-author{% endif %}" id="remark-{{ forloop.rindex }}  p-comment h-entry">
  <header class="c-item__header">
    <h1 class="c-item__title  h-card">
      {% if item.url %}<a class="c-item__author-url  u-url" href="{{ item.url }}">{% endif %}
      <span class="c-item__author  p-author p-name">{{ item.author }}</span>
      <img class="c-item__avatar  u-photo" src="https://gravatar.com/avatar/{{ item.gravatar }}?s=96&38;d={{ site.url | uri_escape }}%2Fimages%2Fgravatar.png" alt=""/>
      {% if item.url %}</a>{% endif %}
    </h1>
  </header>

  <footer class="c-item__footer">
    <p class="c-item__meta">
      <a class="u-url" href="#remark-{{ forloop.rindex }}">
        <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date:"%e %B %Y" }}</time>
      </a>
    </p>
  </footer>

  <div class="c-item__main">
    <div class="s-prose  e-content">
      {{ item.content | markdownify }}
    </div>
  </div>
</article>
