<article class="c-item c-item--series  h-entry">
    <a class="c-item__link u-block-link  u-url" href="{{ item.url }}" rel="bookmark">
        <h1 class="c-item__title  p-name">{{ item.title | smartify | typogrify }}</h1>

        <p class="c-item__meta">
            {% if item.layout == "post-gallery" %}<strong class="u-separate  p-category">Gallery</strong> {% endif %}<time class="c-item__pubdate  dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date:"%e %B %Y" }}</time>
        </p>
    </a>
</article>
