---
layout: default
---
<article class="page page--album  h-entry">
    {% include html/structure/page__header.html %}

    <div class="page__main">
        <div class="prose  e-content">
            {{ content | widont }}
        </div>

        {% capture album_path %}{{ page.path | replace: 'photos/_posts/','assets/images/photos/' | remove: '.markdown' }}{% endcapture %}
        {% directory path: album_path %}
        <figure class="figure l-pull-left">
            <div class="figure__main">
                <img src="{{ site.img_url }}/800w/80{{ file.url | remove: 'assets/images/' }}" alt="{{ file.name }}" datetime="{{ file.date | date_to_xmlschema }}" />
            </div>
            {% include html/content/exif-info.html %}
        </figure>
        {% enddirectory %}

        {% if page.tags %}
            {% include html/sections/tags.html %}
        {% endif %}

        {% if page.series %}
            {% include html/nav/series.html %}
        {% endif %}
    </div>

    {% include html/structure/page__footer.html %}
</article>

{% include html/nav/entries.html %}
