---
layout: index
---
{% for item in page.posts %}
    {% if page.type == "year" %}
        {% capture this_year %}{{ item.date | date:"%Y" }}{% endcapture %}
        {% capture this_month %}{{ item.date | date:"%m" }}{% endcapture %}
        {% capture this_month-name %}{{ item.date | date:"%B" }}{% endcapture %}
        {% if this_month != month %}
            {% capture month %}{{ this_month }}{% endcapture %}
            {% unless forloop.first %}
                    </ol>
                </div>
            </section>
            {% endunless %}

            <section class="c-container c-container--month" aria-labelledby="month-{{ this_year }}{{ this_month }}">
                <header class="c-container__header">
                    <h1 class="c-container__title" id="month-{{ this_year }}{{ this_month }}"><a href="/{{ this_year }}/{{ this_month }}/">{{ this_month-name }}</a></h1>
                </header>

                <div class="c-container__main">
                    <ol class="o-list o-list--inline" reversed>
        {% endif %}
                        <li class="c-item--{{ item.layout }} o-list__item u-separate" value="{{ item.date | date:"%-d" }}">
                            <a class="c-item__link" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
    {% else %}
        {% include item/entry.html %}
    {% endif %}
{% endfor %}
