---
layout: default
---
<article class="c-page  h-entry">
    {% unless page.home %}
        {% include page/header.html %}
    {% endunless %}

    <div class="c-section c-section--body">
        {% if page.excerpt %}
        <div class="s-prose s-prose--lede  p-summary">
            {{ page.excerpt | markdownify | improve }}
        </div>
        {% endif %}

        <div class="s-prose s-prose--body  e-content">
            {% if page.image %}
                {% figure caption:"{{ page.image.caption }}" class:"u-bleed" %}
{% picture feature {{ page.image.url }} alt="" %}
                {% endfigure %}
            {% endif %}

            {% if page.series %}
                {% include nav/series.html class="u-aside" %}
            {% endif %}

            {{ content | improve }}
        </div>
    </div>
</article>
