{% capture location %}{{ page.path | split:'/' | first }}{% endcapture %}
<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="en-gb" class="fonts-loaded">
<!--#else -->
<html lang="en-gb">
<!--#endif -->
<head>
    <link rel="dns-prefetch" href="//hello.myfonts.net"/>
    {% if page.discussion %}<link rel="dns-prefetch" href="//gravatar.com"/>{% endif %}
    {% if location == 'index.html' or location == 'journal' %}<link rel="alternate" href="/journal/feed" type="application/atom+xml" title="Journal feed"/>{% endif %}
    {% if location == 'index.html' or location == 'projects' %}<link rel="alternate" href="/projects/feed" type="application/atom+xml" title="Project feed"/>{% endif %}
    {% if location == 'index.html' or location == 'photos' %}<link rel="alternate" href="/photos/feed" type="application/atom+xml" title="Photos feed"/>{% endif %}
    {% if location != 'index.html' %}<link rel="canonical" href="{{ page.url | remove:'.html' }}"/>{% endif %}
    <link rel="icon" type="image/ico" href="{% asset_path favicon.ico %}"/>
    <link rel="apple-touch-icon" type="image/png" href="{% asset_path apple-touch-icon.png %}"/>

    <meta charset="utf-8"/>
    <meta name="author" content="{{ site.author.name }}"/>
    <meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fulljs" content="{% asset_path global.js %}">

{% if page.path contains '_posts' %}
    <meta name="twitter:site" content="{{ site.author.handle }}"/>
    <meta name="twitter:creator" content="{{ site.author.handle }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>
    {% if page.image %}<meta name="twitter:image" content="{{ site.img_url }}/assets/images{{ page.image.url }}"/>{% endif %}
{% endif %}

    <script>
        {% asset head.js %}
    </script>

    {% stylesheet global %}

{% if page.style %}
    <style>
        {{ page.style }}
    </style>
{% endif %}

    <title>{% include structure/title.html %} / {{ site.title }}</title>
</head>

<body id="top" class="layout--{{ page.layout }} page--{{ page.title | slugify | replace: '_','-' }}">
    {% include structure/banner.html %}
    {% include structure/main.html %}
    {% include structure/navigation.html %}
    {% include structure/contentinfo.html %}
    <script>
        {% asset foot.js %}
    </script>
</body>
</html>
