---
layout: compress
---
{% capture section %}{{ page.path | split:'/' | first | remove:'.html' }}{% endcapture %}
<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/"-->
<html lang="en-gb" class="fonts-loaded">
<!--#else-->
<html lang="en-gb">
<!--#endif-->
<head>
    <link rel="dns-prefetch" href="//hello.myfonts.net"/>
    <link rel="dns-prefetch" href="{{ site.picture.url }}"/>
    {% if page.discussion %}<link rel="dns-prefetch" href="//gravatar.com"/>{% endif %}
    {% if section == 'index.html' or location == 'journal' %}<link rel="alternate" href="/journal/feed" type="application/atom+xml" title="Journal feed"/>{% endif %}
    {% if section == 'index.html' or location == 'projects' %}<link rel="alternate" href="/projects/feed" type="application/atom+xml" title="Project feed"/>{% endif %}
    {% if section == 'index.html' or location == 'photos' %}<link rel="alternate" href="/photos/feed" type="application/atom+xml" title="Photos feed"/>{% endif %}

    {% if section != 'index.html' %}<link rel="canonical" href="{{ page.url | remove:'.html' }}"/>{% endif %}
    {% if page.previous_in_category != nil %}<link rel="prev bookmark" href="{{ page.previous_in_category.url }}" title="{{ page.previous_in_category.title }}"/>{% endif %}
    {% if page.next_in_category != nil %}<link rel="next bookmark" href="{{ page.next_in_category.url }}" title="{{ page.next_in_category.title }}"/>{% endif %}

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <link rel="apple-touch-icon" type="image/png" href="{% asset_path icon--192x192.png %}"/>
    <link rel="manifest" href="/manifest.json"/>

    <meta charset="utf-8"/>
    <meta name="author" content="{{ site.author.name }}"/>
    <meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="theme-color" content="#1122cc">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fullcss"  content="{% asset_path global.css %}">
    <meta name="fulljs" content="{% asset_path global.js %}">

{% if page.path contains '_posts' %}
    <meta name="twitter:site" content="@paulrobertlloyd"/>
    <meta name="twitter:creator" content="@paulrobertlloyd"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>
    {% if page.image %}<meta name="twitter:image" content="{{ site.img_url }}/180w/80/{{ page.image.url }}"/>{% endif %}
{% endif %}

    <noscript><link rel="stylesheet" href="{% asset_path global.css %}"></noscript>
<!--#if expr="$HTTP_COOKIE=/fullcss\=true/"-->
    <link rel="stylesheet" href="{% asset_path global.css %}"/>
<!--#else-->
    <style>
        {% asset critical.css %}
    </style>
<!--#endif-->

{% if page.style %}
    <style>
        {{ page.style }}
    </style>
{% endif %}

    <script>
        {% asset head.js %}
    </script>

    <title>{% if page.title %}{% include structure/title.html %} / {% endif %}{{ site.title }}</title>
</head>

<body id="top" class="theme--{{ page.theme }}">
    {% include structure/banner.html %}
    {% include structure/main.html %}
    {% include structure/navigation.html %}
    {% include structure/contentinfo.html %}
</body>
</html>
