---
layout: default
---
{% capture discussion_id %}{{ page.path | remove:"_discussions/" | remove:".markdown" }}{% endcapture %}
{% for entry in site.posts %}
    {% capture entry_id %}{{ entry.path | remove:"_posts/entries/" | remove:"_posts/links/" | remove:".markdown" }}{% endcapture %}
    {% if entry_id == discussion_id %}
        {% capture entry_title %}{{ entry.title }}{% endcapture %}
        {% capture entry_url %}{{ entry.url }}{% endcapture %}
    {% endif %}
{% endfor %}
<article class="c-page  h-entry">
    <header class="c-page__header">
        <h1 class="c-page__title  p-name">{{ entry_title | smartypants }}</h1>
    </header>

    <footer class="c-page__footer">
        <p><a href="{{ entry_url }}"><span class="u-icon" data-icon="&#10216;" aria-hidden="true"></span> Return to entry</a></p>
    </footer>

    <section class="c-section c-section--remarks" aria-labelledby="remarks">
        <header class="c-section__header">
            <h1 class="c-section__title" id="remarks">Remarks</h1>
        </header>

        <div class="c-section__main">
            {% for item in page.remarks reversed %}
                {% include item/remark.html %}
            {% endfor %}
        </div>
    </section>
</article>
