---
layout: default
---
<article class="c-page  h-entry">
  {% include page/header.html %}

  <footer class="c-page__footer">
    <p><a href="{{ page.url | remove: "/discussion" }}"><span class="u-icon" data-icon="&#10216;" aria-hidden="true"></span> Return to entry</a></p>
  </footer>

  <section class="c-section c-section--remarks" aria-labelledby="remarks">
    <header class="c-section__header">
      <h1 class="c-section__title" id="remarks">Remarks</h1>
    </header>

    <div class="c-section__main">
      {% for item in page.remarks reversed %}
        {% include item/remark.html %}
      {% endfor %}
    </div>
  </section>
</article>
