---
layout: default
---
<main class="main" role="main">
    <article class="page page--entry  h-entry">
        {% include articles/page__header.html %}

        {% capture page_url %}{{ site.url }}{{ page.url | remove:'.html' }}{% endcapture %}

        <p>Page URL: {{ page_url }}</p>

        {% webmentions page_url %}

        <div class="page__main">
            <div class="prose  e-content">
                {{ content | widont }}
            </div>

            {% if page.tags %}
                {% include sections/tags.html %}
            {% endif %}

            {% if page.series %}
                {% include nav/series.html %}
            {% endif %}

            {% include sections/related.html %}

            {% if page.discussion %}
                {% include sections/discussion.html %}
            {% endif %}
        </div>

        {% include articles/page__footer.html %}
    </article>

    {% include nav/pages--post.html %}
</main>
