---
layout: default
---
<article class="article article--entry">
    <header class="article__header">
        <h1 class="article__title">{{ page.title | typeset }}</h1>
    </header>

    <div class="article__main prose">
        {{ content | typeset }}
    </div>

    <footer class="article__footer">
        <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>

{% include sections/discussion.html %}
{% include navigation/nav--pagination.html %}