---
layout: default
---
<article class="page page--entry  h-entry">
    {% include page/header.html %}

    <div class="page__main">
        {% if page.image.caption %}
            {% figure l-extend '{{ page.image.caption }}' %}
{% picture showcase {{ page.image.url }} %}
            {% endfigure %}
        {% endif %}

        {% if page.series %}
            {% include components/nav/series.html class='l-aside-right' %}
        {% endif %}

        <div class="prose  e-content">
            {{ content | typogrify }}
        </div>
    </div>

    {% if page.discussion %}
        {% include components/container/discussion.html %}
    {% endif %}

    {% if page.tags %}
        {% include components/container/tags.html %}
    {% endif %}

    {% include page/footer.html %}
</article>
