---
layout: default
---
<main class="main" role="main">
    <article class="article article--essay">
        <header class="article__header">
            <h1 class="article__title">{{ page.title }}</h1>
            {% if page.chapter-title %}<h2 class="article__subtitle">{{ page.chapter-title }}</h2>{% endif %}
        </header>

        <div class="article__main prose">
            {{ content | widont }}
        </div>

        {% if page.chapter %}{% include sections/chapters.html %}{% endif %}

        <footer class="article__footer">
            <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}"><span class="u--hidden">Published on </span>{{ page.date | date: "%e %B %Y" }}</time>
        </footer>
    </article>
</main>
