---
layout: default
---
<article class="article article--essay">
    <header class="article__header">
        <h1 class="article__title">{{ page.title | typeset }}</h1>
        {% if page.chapter-title %}
        <h2>{{ page.chapter-title }}</h2>
        {% endif %}

        {% if page.chapter-title == null %}
        <nav class="nav nav--traverse">
        {% assign previous = page.previous %}
            {% if previous.url %}<a rel="prev bookmark" href="{{ previous.url }}" title="{{ previous.title | typeset }}">Previous entry</a>{% endif %}
        {% assign next = page.next %}
            {% if next.url %}<a rel="next bookmark"  href="{{ next.url }}" title="{{ next.title | typeset }}">Next entry</a>{% endif %}
        </nav>
        {% endif %}
    </header>

    <div class="article__main prose">
        {{ content | typeset }}
    </div>

    <footer class="article__footer">
        <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>

{% if page.chapters == true %}
{% include sections/chapters.html %}
{% endif %}