---
layout: default
---
<article class="c-page  h-entry">
    {% include page/header.html %}

    {% include page/footer.html %}

    <div class="c-section c-section--body">
        <div class="s-prose s-prose--body  e-content">
            {{ content | improve | namespace }}

            {% capture gallery_path %}{{ page.path | replace:"_galleries/","images/galleries/" | remove:".markdown" }}{% endcapture %}
            {% directory path: gallery_path %}
            <figure class="u-extend">
                {% picture {{ file.url | remove:"images/" }} alt="" %}
                <figcaption>
                    {% include exif.html url=file.url %}
                </figcaption>
            </figure>
            {% enddirectory %}
        </div>
    </div>

    {% include page/section--series.html %}

    {% include page/section--tags.html %}
</article>

{% include nav/paginate-posts.html %}
