---
layout: default
---
<section class="section section--intro">
    <header class="section__header">
        <h1 class="section__title">{{ page.section.intro.title | smart }}</h1>
    </header>

    <div class="section__main">
        <div class="prose">
            {{ page.section.intro.text | markdownify | typogrify }}
        </div>
    </div>
</section>

<section class="section section--pitch">
    <header class="section__header">
        <h1 class="section__title">{{ page.section.pitch.title | smart }}</h1>
    </header>

    <div class="section__main">
        {{ page.section.pitch.text | markdownify | typogrify }}
    </div>
</section>

<section class="section section--extra">
    <header class="section__header">
        <h1 class="section__title">{{ page.section.extra.title | smart }}</h1>
    </header>

    <div class="section__main">
        {{ page.section.extra.text | markdownify | typogrify }}
    </div>
</section>
