---
layout: default
---
<section class="c-page c-page--index">
    <header class="c-page__header{% if page.path contains "index.html" %} u-hidden-on-mobile{% endif %}">
        <h1 class="c-page__title">{% include title.html %}</h1>
    </header>

    <div class="c-page__section">
        {% if page.excerpt %}
        <div class="c-page__excerpt s-prose s-prose--lede">
            {{ page.excerpt | markdownify | typogrify | namespace }}
        </div>
        {% endif %}

        {{ content }}
    </div>

    {% if page.path contains "journal" or page.type == "year" or page.type == "month" %}
    <div class="c-page__section s-prose">
        <p>
            {% if page.path != "journal/archive.html" %}<span class="u-sepatate"><strong>Looking for older posts?</strong> Browse <a href="/archive/">the archive</a>.</span>{% endif %}
            Subscribe to the <a href="/journal/feed" rel="alternate"><abbr class=".u-caps" title="Really Simple Syndication">RSS</abbr> feed</a>.
        </p>
    </div>
    {% endif %}
</section>

{% if paginator.next_page or paginator.previous_page %}
    {% include nav/paginate-indices.html %}
{% endif %}
