---
layout: default
---
<section class="c-index{% if page.path contains "journal" or "projects" or "photos" or "contact" %} c-index--landing{% endif %}">
    <header class="c-index__header">
        <h1 class="c-index__title">{% include title.html %}</h1>
    </header>

    <div class="c-index__main">
        {% if page.excerpt %}
            <div class="c-index__excerpt s-lede">
                {{ page.excerpt | markdownify | typogrify | namespace }}
            </div>
        {% endif %}
        {{ content }}
    </div>

    {% if paginator.next_page or paginator.previous_page %}
        {% include nav/paginate-indices.html %}
    {% endif %}
</section>
