---
layout: default
---
<article class="article article--link">
    <header class="article__header">
        <h1 class="article__title">{{ page.title | typeset }}</h1>
    </header>

    <div class="article__main prose">
        {% if page.embed %}
            {% embed {{ page.link }} %}
        {% endif %}

        <script>
            (function (win, doc) {
                'use strict';
                if (!doc.getElementsByClassName || !win.getComputedStyle || !win.innerWidth) {
                    // doesn't cut the mustard.
                    return;
                }
                var embed = doc.getElementsByClassName('embed')[0],
                    src;
                if (embed) {
                    if (win.innerWidth > 400) {
                        src = embed.getAttribute('data-src');
                        embed.className += " js-enhanced"
                        embed.innerHTML = '<iframe src="' + src + '" width="500" height="300" frameborder="0" allowfullscreen></iframe>';
                    }
                }
            }(this, this.document)); // TODO: Abstract this into separate file
        </script>

        {{ content | typeset | widont }}

        {% if page.embed == null %}<p><a class="btn" href="{{ page.link }}">Visit this link</a></p>{% endif %}
    </div>

    <footer class="article__footer">
        <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>
