---
layout: default
---
<article class="c-page h-entry">
    {% include page/header.html %}

    <div class="c-page__main">
        {% if page.image.caption %}
            {% figure u-extend '{{ page.image.caption }}' %}
{% picture showcase {{ page.image.url }} %}
            {% endfigure %}
        {% endif %}

        {% if page.excerpt %}
            <div class="s-lede p-summary">
                {{ page.excerpt | markdownify | typogrify | namespace }}
            </div>
        {% endif %}

        {% if page.series %}
            {% include nav/series.html class='u-aside' %}
        {% endif %}

        <div class="s-prose e-content">
            {{ content | typogrify | namespace }}
        </div>
    </div>
</article>
