---
layout: default
---
<article class="article article--photo">
    <header class="article__header">
        <h1 class="article__title">{{ page.title | typeset }}</h1>
    </header>

    <div class="article__main prose">
        {% if page.embed %}{% oembed {{ page.link }} %}{% endif %}

        {{ content | typeset }}
    </div>

    <footer class="article__footer">
        <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>

{% include navigation/nav--pagination.html %}