---
layout: default
---
<article class="c-page c-page--album h-entry">
    {% include page/header.html %}

    <div class="c-page__section s-prose s-prose--body e-content">
        {{ content | typogrify | namespace }}

        {% capture album_path %}{{ page.path | replace:"_posts/photos/","assets/images/photos/" | remove:".markdown" }}{% endcapture %}
        {% directory path: album_path %}
        <figure class="c-figure c-figure--caption-right">
            <p class="c-figure__main">
                {% picture {{ file.url | remove:"assets/images/" }} alt="" %}
            </p>
            <figcaption class="c-figure__caption">
                {% include exif.html url=file.url %}
            </figcaption>
        </figure>
        {% enddirectory %}
    </div>

    {% include page/series.html %}

    {% include page/footer.html %}
</article>

{% include nav/paginate-posts.html %}
