---
layout: default
---
<article class="c-page c-page--entry h-entry">
    {% include page/header.html %}

    <div class="c-page__section s-prose s-prose--body e-content">
        {% if page.image %}
            {% figure u-bleed "{{ page.image.caption }}" %}
{% picture feature {{ page.image.url }} alt="" %}
            {% endfigure %}
        {% endif %}

        {% if page.embed %}
            {% figure u-bleed "{{ page.embed.caption }}" %}
{% embed {{ page.embed.url }} %}
            {% endfigure %}
        {% endif %}

        {{ content | typogrify | namespace }}
    </div>

    {% include page/footer.html %}

    {% include page/series.html %}

    {% include page/discussion.html %}

    {% include page/tags.html %}

    {% include nav/paginate-posts.html %}
</article>
