---
layout: default
---
<article class="c-page  h-entry">
    {% include page/header.html %}

    {% include page/footer.html %}

    <div class="c-section c-section--body">
        <div class="s-prose s-prose--body  e-content">
            {% if page.link.embed %}
                {% figure u-bleed %}
{% embed {{ page.link.url }} %}
                {% endfigure %}
            {% endif %}

            {{ content | typogrify | namespace }}
        </div>
    </div>

    <div class="c-section c-section--link">
        <a href="{{ page.link.url }}">
            Visit this link <span class="u-icon" data-icon="&#10217;" aria-hidden="true"/>
        </a>
    </div>

    {% include page/section--remarks.html %}

    {% include page/section--tags.html %}
</article>

{% include nav/paginate-posts.html %}
