---
layout: default
---
<article class="c-page c-page--presentation h-entry">
    {% include page/header.html %}

    <div class="c-page__main">
        {% if page.link %}
            <!-- embed {{ page.link }} -->
        {% endif %}

        {% if page.meta %}
            {% include meta.html class="u-aside" %}
        {% endif %}

        {% if page.excerpt %}
            <div class="s-lede p-summary">
                {{ page.excerpt | markdownify | typogrify | namespace }}
            </div>
        {% endif %}

        <div class="s-prose e-content">
            {{ content | typogrify | namespace }}
        </div>
    </div>

    {% if page.tags %}
        {% include page/tags.html %}
    {% endif %}

    {% include page/footer.html %}

    {% include nav/paginate-pages.html %}
</article>
