---
layout: default
---
<article class="page page--presentation  h-entry">
    {% include page/header.html %}

    {% if page.link %}
    <div class="page__media page-container">
        <!-- embed {{ page.link }} -->
    </div>
    {% endif %}

    <div class="page__main page-container">
        {% if page.excerpt %}
        <div class="lede  p-summary">
            {{ page.excerpt | markdownify | typogrify }}
        </div>
        {% endif %}

        {% if page.meta %}
            {% include components/meta.html class='l-aside-right' %}
        {% endif %}

        <div class="prose  e-content">
            {{ content | typogrify }}
        </div>
    </div>

    {% if page.tags %}
        {% include components/container/tags.html %}
    {% endif %}

    {% include page/footer.html %}
</article>
