---
layout: default
---
<article class="page page--presentation  h-entry">
    {% include components/page/header.html %}

    <div class="page__main">
        {% if page.link %}
            {% embed {{ page.link }} %}
        {% endif %}

        {% if page.meta %}
            {% include components/meta.html class='u-aside' %}
        {% endif %}

        {% if page.excerpt %}
            <div class="s-lede  p-summary">
                {{ page.excerpt | markdownify | typogrify | namespace }}
            </div>
        {% endif %}

        <div class="s-prose  e-content">
            {{ content | typogrify | namespace }}
        </div>
    </div>

    {% if page.tags %}
        {% include components/container/tags.html %}
    {% endif %}

    {% include components/page/footer.html %}
</article>
