---
layout: default
---
<main class="main" role="main">
    <article class="article article--project">
        <header class="article__header">
            <h1 class="article__title">{{ page.title | replace:" '",' ‘' | replace:"'",'’' }}</h1>
        </header>

        <p>{{ location }}</p>
        <p>{{ page.categories | first }}</p>

        <div class="article__main prose">
            {{ content | widont }}
        </div>

        <footer class="article__footer">
            <time class="article__pubdate" datetime="{{ page.date | date_to_xmlschema }}"><span class="u--hidden">Published on </span>{{ page.date | date: "%e %B %Y" }}</time>
        </footer>
    </article>

    {% include navigation/nav--pagination.html %}
</main>
