---
layout: default
---
<article class="page page--project  h-entry">
    <header class="page__header">
        <h1 class="page__title  p-name">{{ page.title }}</h1>
    </header>

    <div class="page__main">
        {% if page.project_info %}
            {% include html/content/project-info.html %}
        {% endif %}

        <div class="prose  e-content">
            {{ content | typogrify }}
        </div>

        {% if page.tags %}
            {% include html/sections/tags.html %}
        {% endif %}

        {% if page.related_posts %}
            {% include html/sections/related.html %}
        {% endif %}

        {% include html/nav/entries.html %}
    </div>
</article>
