---
layout: default
---
<article class="page page--project  h-entry">
    <header class="page__header page-container">
        <h1 class="page__title  p-name">
            {% if page.theme != 'default' %}
                {% capture page_logo %}logo--{{ page.theme }}.svg{% endcapture %}
                {{ page_logo | asset }}
            {% else %}
                {{ page.title }}
            {% endif %}
        </h1>
    </header>

    <div class="page__intro page-container">
        <div class="prose lede  p-summary">
            {{ page.excerpt | markdownify | typogrify }}
        </div>
    </div>

    <div class="page__main page-container">
        {% if page.meta %}
            {% include content/meta.html %}
        {% endif %}

        <div class="prose  e-content">
            {{ content | typogrify }}
        </div>
    </div>

    {% if page.tags %}
        {% include page/tags.html %}
    {% endif %}
</article>
