---
layout: default
---
<article class="c-page c-page--presentation h-entry">
    {% include page/header.html %}

    <div class="c-page__main s-prose e-content">
        {% if page.link.embed %}
            <!-- embed {{ page.link.url }} -->
        {% endif %}

        {{ content | typogrify | namespace }}
    </div>

    {% if page.meta %}
        <div class="c-page__aside">
            {% include meta.html %}
        </div>
    {% endif %}

    {% include page/discussion.html %}

    {% include page/tags.html %}

    {% include page/footer.html %}

    {% include nav/paginate-posts.html %}
</article>
