/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/grouping-content.html
    ========================================================================= */
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
    orphans: 3;
    widows: 3;
    margin: 0 0 0.75em 0; /* 0 0 12px 0 */
}

pre {
    font-size: 0.875em; /* 14px */
    line-height: 1.4286; /* 20px */
    white-space: pre;
    tab-size: 4;
    hyphens: none;
    margin: 1em -0.5em;
    padding: 0 0.5em;
}

blockquote {
    color: var(--c_neutral-3);
    font-family: var(--f_sans-serif);
    border-left: 0.25rem solid var(--c_neutral-7);
    padding-left: 0.875rem; /* 14px */
}
@media print {
    blockquote {
        page-break-inside: avoid;
    }
}

ol {
    list-style-position: inside;
    list-style-type: decimal;
    padding: 0;
}

ul {
    list-style-position: inside;
    list-style-type: square;
    padding: 0;
}
@media screen and (min-width: 45em) {
    ol,
    ul {
        list-style-position: outside;
    }
}

ul li li {
    list-style-type: circle;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

dt {
    font-family: var(--f_sans-serif);
    font-weight: 700;
}

li li,
dd {
    margin-left: 2rem;
}

li > *,
dd > * {
    margin-top: 0;
}

figure {
    margin: 1.5em 0; /* 24px 0 */
}
figure img {
    max-width: 100%;
}
figcaption {
    color: var(--c_neutral-3);
    font-size: 0.875em; /* 14px */
    line-height: 1.4286; /* 20px */
    border-bottom: 1px solid var(--c_neutral-7);
    padding: 0.5714em 0; /* 8px 0 */
    display: block;
    clear: left;
}