---
layout: default
---
<h1 class="c-main__title">{{ page.title | smartify }}</h1>

<div class="c-section">
{% assign page_month = page.date | date: "%B %Y" %}
{% assign items = site.documents | where: "archive", true | sort: "date" | reverse %}
{% for item in items %}
  {% assign item_month = item.date | date: "%B %Y" %}
  {% if page_month == item_month %}
    {% case item.layout %}
    {% when "gallery" %}
      {% include item/gallery.html showtype=true %}
    {% when "link" %}
      {% include item/link.html showtype=true %}
    {% when "note" %}
      {% include item/note.html showtype=true %}
    {% else %}
      {% include item/post.html showtype=true %}
    {% endcase %}
  {% endif %}
{% endfor %}
</div>
