---
layout: default
---
<section class="c-page c-page--index">
  {% include page/header.html %}

  {% for item in site.posts %}
    {% assign this_year = item.date | date: "%Y" %}
    {% assign this_month = item.date | date: "%m" %}
    {% assign this_month_name = item.date | date: "%B" %}

    {% if this_year == page.title %}
      {% if this_month != month %}
        {% unless forloop.first %}
      </div>
    </section>
        {% endunless %}

    <section class="c-section" aria-labelledby="month-{{ this_year }}{{ this_month }}">
      <header class="c-section__header">
        <h2 class="c-section__title" id="month-{{ this_year }}{{ this_month }}"><a href="/{{ this_year }}/{{ this_month }}/">{{ this_month_name }}</a></h2>
      </header>

      <div class="c-section__main">
        {% assign month = this_month %}
      {% endif %}
        {% if item.layout != "micropubpost" %}
          {% include item/item.html %}
        {% endif %}
      {% if forloop.last %}
      </div>
    </section>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>
