---
layout: default
---
<section class="c-page c-page--index">
  {% if page.type == "month" %}
    {% assign title = page.date | date:"%B %Y" %}
  {% else %}
    {% assign title = page.title | smartypants %}
  {% endif %}

  {% include page/header.html title=title %}

  <div class="c-section">
  {% for item in page.posts %}
    {% if item.collection == "links" %}
      {% include item/link.html %}
    {% elsif item.collection == "galleries" %}
      {% include item/gallery.html %}
    {% elsif item.collection == "notes" %}
      {% include item/entry.html %}
    {% else %}
      {% include item/entry.html %}
    {% endif %}
  {% endfor %}
  </div>
</section>
