<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/"-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#" class="{% if page.theme %}t-{{ page.theme }}{% endif %} fonts-loaded">
<!--#else-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#" class="{% if page.theme %}t-{{ page.theme }}{% endif %}">
<!--#endif-->
<head>
  <link rel="preload" href="/assets/fonts/calibre-regular.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="stylesheet" href="/assets/stylesheets/main.css"/>
  <link rel="serviceworker" href="/serviceworker.js"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
  <link rel="apple-touch-icon" href="{{ site.images.url }}/icon.png" type="image/png"/>
  <link rel="mask-icon" href="{{ site.images.url }}/icon.svg" color="{{ site.theme_color }}"/>
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove:"index.html" | remove:".html" }}"/>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="me" href="https://paulrobertlloyd.com"/>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>
  <link rel="micropub" href="https://paulrobertlloyd-micropub.herokuapp.com/micropub/main"/>
  <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Journal (XML Atom)"/>
  <link rel="alternate" href="/feed.json" type="application/json" title="Journal (JSON Feed)"/>

  <script src="/assets/javascripts/main.js" async></script>

  <meta charset="utf-8"/>
  <meta name="referrer" content="origin"/>
  <meta name="robots" content="index, follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% if page.path contains ".markdown" %}
  <meta property="og:title" content="{{ page.title | xml_escape | smartify }}"/>
  <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.image.src %}
  <meta property="og:image" content="{{ site.url }}/image/640x360/100q/{{ page.image.src }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  {% else %}
  <meta property="og:image" content="{{ site.images.url }}/icon.png"/>
  <meta name="twitter:card" content="summary"/>
  {% endif %}
  <meta name="twitter:site" content="@paulrobertlloyd"/>
{% endif %}
  <title>{% if page.title != "" %}{{ page.title | smartify }} / {% endif %}{{ site.title }}</title>
</head>

<body>
  {% include banner.html %}
  {% include navigation.html %}

  <main class="c-main" role="main">
    {{ content }}
  </main>

  {% include contentinfo.html %}
  {% include offline.html %}
</body>
</html>
