<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/"-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#" class="fonts-loaded">
<!--#else-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
<!--#endif-->
<head>
  <link href="{% asset calibre-regular.woff2 @path %}" rel="preload" type="font/woff2" as="font" crossorigin/>
  <link href="{% asset site.css @path %}" rel="stylesheet"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/ico"/>
  <link href="{% asset icon.png @path %}" rel="apple-touch-icon" type="image/png"/>
  <link href="{% asset icon.svg @path %}" rel="mask-icon" color="{{ site.theme_color }}"/>
  <link href="{{ site.url }}{{ page.url | remove:"index.html" | remove:".html" }}" rel="canonical"/>
  <link href="/site.webmanifest" rel="manifest"/>
  <link href="/serviceworker.js" rel="serviceworker"/>
  <link href="/feed.xml" rel="alternate" type="application/atom+xml" title="Journal (XML Atom)"/>
  <link href="/feed.json" rel="alternate" type="application/json" title="Journal (JSON Feed)"/>
  <link href="https://paulrobertlloyd.com" rel="me"/>
  <link href="https://indieauth.com/auth" rel="authorization_endpoint"/>
  <link href="https://tokens.indieauth.com/token" rel="token_endpoint"/>
  <link href="https://sitewriter.net/paulrobertlloyd.com/micropub" rel="micropub"/>
  <link href="https://aperture.p3k.io/microsub/32" rel="microsub"/>

  <script src="{% asset site.js @path %}" async></script>

  <meta charset="utf-8"/>
  <meta name="referrer" content="origin"/>
  <meta name="robots" content="index, follow"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="{{ site.theme_color }}"/>
{% if page.path contains ".md" %}
  <meta property="og:title" content="{{ page.title | xml_escape | smartify }}"/>
  <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  {% if page.images %}
  <meta property="og:image" content="{{ site.url }}/image/640x360/100q/{{ page.images.first }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  {% else %}
  <meta property="og:image" content="{{ site.author.avatar }}"/>
  <meta name="twitter:card" content="summary"/>
  {% endif %}
  <meta name="twitter:site" content="@paulrobertlloyd"/>
{% endif %}
  <title>{% if page.title != "" %}{{ page.title | smartify }} / {% endif %}{{ site.title }}</title>
</head>

<body>
  {% include banner.html %}
  {% include navigation.html %}

  <main class="c-main">
    {{ content }}
  </main>

  {% include contentinfo.html %}
  {% include offline.html %}
</body>
</html>
