---
layout: compress
---
<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/"-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#" class="{% if page.theme %}t-{{ page.theme }}{% else %}t-light{% endif %} fonts-loaded">
<!--#else-->
<html lang="en-gb" prefix="og: http://ogp.me/ns#" class="{% if page.theme %}t-{{ page.theme }}{% else %}t-light{% endif %}">
<!--#endif-->
<head>
  <link rel="serviceworker" href="/serviceworker.js"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
  <link rel="apple-touch-icon" href="{% asset_path icon.png %}" type="image/png"/>
  <link rel="mask-icon" href="{% asset_path icon.svg %}" color="{{ site.theme_color }}"/>
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove:"index.html" | remove:".html" }}"/>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="me" href="https://micro.blog/paulrobertlloyd"/>
  {% if page.path contains "_posts" or page.url contains "journal" %}
  <link rel="alternate" href="/journal/feed.xml" type="application/atom+xml" title="Journal (XML Atom)"/>
  <link rel="alternate" href="/journal/feed.json" type="application/json" title="Journal (JSON Feed)"/>
  {% endif %}

  <meta charset="utf-8"/>
  <meta name="author" content="{{ site.author.name }}"/>
  <meta name="referrer" content="origin"/>
  <meta name="robots" content="index, follow"/>
  <meta name="theme-color" content="{{ site.theme_color }}"/>
  <meta name="application-name" content="{{ site.title }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="fullcss"  content="{% asset_path global.css %}"/>
  <meta name="fulljs" content="{% asset_path global.js %}"/>

{% if page.path contains ".markdown" %}
  <meta property="og:title" content="{% unless page.home %}{{ page.title | xml_escape | smartypants }}{% else %}{{ site.title }}{% endunless %}"/>
  <meta property="og:description" content="{% unless page.home %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endunless %}"/>
  <meta property="og:url" content="{{ site.url }}{% unless page.home %}{{ page.url }}{% endunless %}"/>
  {% if page.image.url %}
  <meta property="og:image" content="{{ site.url }}/image/640x360/100q/{{ page.image.url }}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  {% else %}
  <meta property="og:image" content="{{ site.url }}{% asset_path icon.png %}"/>
  <meta name="twitter:card" content="summary"/>
  {% endif %}
  <meta name="twitter:site" content="@paulrobertlloyd"/>
{% endif %}

<!--#if expr="$HTTP_COOKIE=/fullcss\=true/"-->
  <link rel="stylesheet" href="{% asset_path global.css %}"/>
<!--#else-->
  <style>
    {% asset_source critical.css %}
  </style>
  <link rel="preload" href="{% asset_path global.css %}" as="style" onload="this.rel='stylesheet'">
<!--#endif-->

{% if page.style %}
  <style>
    {{ page.style }}
  </style>
{% endif %}

  <script>
    {% asset_source head.js %}
  </script>
  <noscript><link rel="stylesheet" href="{% asset_path global.css %}"/></noscript>

  <title>{% unless page.home %}{% include title.html %} / {% endunless %}{{ site.title }}</title>
</head>

<body>
  {% include body/banner.html %}
  {% include body/navigation.html %}
  {% include body/main.html %}
  {% include body/contentinfo.html %}
  {% include body/offline.html %}
</body>
</html>
