---
layout: default
---
<article class="c-page  h-entry">
  {% include page/header.html %}

  <div class="c-section c-section--body">
    <div class="s-prose s-prose--body  e-content">
      {% if page.image.url %}
        {% figure caption:"{{ page.image.caption }}" class:"u-bleed" %}
{% picture {{ page.image.preset }} {{ page.image.url }} alt="" %}
        {% endfigure %}
      {% endif %}

      {% if page.embed %}
        {% figure class:"u-bleed" %}
{% include embed.html url=page.link title=page.title %}
        {% endfigure %}
      {% endif %}

      {{ content | improve }}
    </div>
  </div>

  {% include page/section--link.html %}

  {% include page/section--discussion.html %}

  {% include page/section--series.html %}

  {% include page/footer.html %}
</article>

{% include nav/paginate-posts.html %}
