---
layout: default
---
<article class="c-page  h-entry">
  {% include page/header.html %}

  <div class="c-section c-section--body">
    <div class="s-prose s-prose--body  e-content">
      {{ content | smartify }}

      {% for photo in page.photos %}
      <figure class="u-extend">
        {% capture photo_path %}{{ page.path | replace:"_posts/galleries/","galleries/" | remove:".markdown" }}/{{ photo.id }}.jpg{% endcapture %}
        {% include image.html src=photo_path %}
        <figcaption>
          {% include exif.html %}
        </figcaption>
      </figure>
      {% endfor %}
    </div>
  </div>

  {% if page.series %}
    {% include page/section--related.html %}
  {% endif %}

  {% include page/footer.html %}
</article>
