---
layout: default
---
<section class="c-page c-page--index">
  <header class="c-page__header c-page__header--aside{% if page.landing %} u-hidden@b{% endif %}">
    <h1 class="c-page__title">{% include title.html %}</h1>
  </header>

  {{ content }}

  {% unless page.path == "journal/archive.html" %}
  {% if page.path contains "journal" or page.type == "year" or page.type == "month" or page.type == "tag" %}
  <div class="c-section">
    <div class="s-ui">
      <p><strong>Looking for older posts?</strong> <a href="/archive/">Browse the archive</a></p>
    </div>
  </div>
  {% endif %}
  {% endunless %}
</section>

{% include nav/paginate-indices.html %}
