---
layout: default
---
<article class="c-page c-page--link  h-entry">
  <header class="c-page__header">
    <h1 class="c-page__title  p-name">
      <a rel="external" href="{{ page.link }}">{{ page.title | smartify }}</a>
    </h1>
  </header>

  <div class="c-section">
    <div class="s-prose s-prose--body  e-content">
      {% if page.embed.src %}
        {% include embed.html
          title=page.title
          src=page.embed.src
          ratio=page.embed.ratio
          class="u-bleed"
        %}
      {% endif %}

      {{ content | smartify }}
    </div>
  </div>

  {% include page/footer.html %}
</article>

{% include page/section--webmentions.html %}
