---
layout: default
---
<article class="c-page  h-entry">
  {% include page/header.html %}

  <div class="c-section">
    <div class="s-prose s-prose--body  e-content">
      {% if page.embed.src %}
        {% include embed.html
          title=page.title
          src=page.embed.src
          ratio=page.embed.ratio
          class="u-bleed"
        %}
      {% endif %}

      {{ content | smartify }}

      {% include button.html text="Visit this link" url=page.link %}
    </div>
  </div>

  {% include page/footer.html %}
</article>

{% include page/section--webmentions.html %}
