---
layout: default
---
<article class="c-page c-page--note  h-entry">
  {% if page.title != "" %}
    {% include page/header.html %}
  {% endif %}

  <div class="c-section">
    <div class="s-prose s-prose--body  e-content">
      {% if page.images %}
        {% capture images %}{{ page.images | join: "," }}{% endcapture %}
        {% include figure.html
          src=images
          class="u-bleed"
        %}
      {% endif %}
      {{ content | smartify }}
    </div>
  </div>

  {% include page/footer.html time=true %}
</article>
