---
layout: default
---
<article class="c-page  h-entry">
  {% include page/header.html %}

  <div class="c-section">
    <div class="s-prose s-prose--body  e-content">
      {% if page.image.src %}
        {% include figure.html
          caption=page.image.caption
          src=page.image.src
          preset=page.image.preset
          class="u-bleed"
        %}
      {% endif %}
      {% if page.embed.src %}
        {% include embed.html
          title=page.title
          src=page.embed.src
          ratio=page.embed.ratio
          class="u-bleed"
        %}
      {% endif %}

      {{ content | smartify }}
    </div>
  </div>

  {% if page.discussion %}
    {% include page/section--discussion.html %}
  {% endif %}

  {% if page.series %}
    {% include page/section--related.html %}
  {% endif %}

  {% include page/footer.html %}
</article>
