body {
    color: var(c--neutral-1);
    font-family: var(f--serif);
    margin: 0 auto;
    width: 80%;
    max-width: 45em;
}

hr {
    clear: both;
}

figure {
    clear: both;
    overflow: hidden;
}
figcaption,
footer {
    color: var(c--neutral-3);
    font-family: var(f--sans-serif);
    clear: left;
}

img {
    max-width: 100%;
}
img.pull-left {
    float: left;
    margin: 0 1em 1em 0;
}
img.pull-right {
    float: right;
    margin: 0 0 1em 1em;
}

.embed {
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}
.embed iframe,
.embed embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}