/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */
body {
    color: var(--c_neutral-1);
    font-family: var(--f_sans-serif);
    font-weight: 400;
    font-size: 1em; /* 16px */
    line-height: 1; /* 16px */
    background-color: var(--c_neutral-8);
    margin: 0;
    position: relative;
}

h1 {
    font-family: var(--f_serif);
    font-weight: 700;
    font-size: 3rem; /* 48px */
    line-height: 1; /* 48px */
    letter-spacing: -0.0625rem; /* 1px */
    text-rendering: optimizeLegibility;
    margin: 0 0 0.3333em; /* 0 0 16px */
}

h2 {
    font-family: var(--f_sans-serif);
    font-weight: 500;
    font-size: 1.5em; /* 24px */
    line-height: 1.1667; /* 28px */
    letter-spacing: -0.0625rem; /* 1px */
    text-rendering: optimizeLegibility;
    margin: 1.7778em 0 0.5em; /* 32px 0 12px */
}

h3 {
    font-family: var(--f_sans-serif);
    font-weight: 700;
    font-size: 1.25em; /* 20px */
    line-height: 1.2; /* 24px */
    text-rendering: optimizeLegibility;
    margin: 2em 0 0.6em; /* 32px 0 12px */
}

h4 {
    font-weight: 400;
    font-size: 1em; /* 16px */
    line-height: 1.25; /* 20px */
    text-rendering: optimizeLegibility;
    margin: 2rem 0 0.75em; /* 32px 0 12px */
    opacity: 0.9;
}

h5 {
    font-size: 1rem; /* 16px */
    line-height: 1; /* 16px */
    text-rendering: optimizeLegibility;
    margin: 1.5rem 0 0.75em; /* 24px 0 8px */
}

h6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.1429; /* 16px */
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 0.125rem; /* 2px */
    margin: 1.5rem 0 0.5em; /* 24px 0 8px */
}

hr {
    line-height: 0;
    text-align: center;
    margin: 2em 0; /* 32px 0 */
    border: 0;
    height: 0;
}
hr::after {
    content: "\25C6 \25C6 \25C6";
    letter-spacing: 0.75rem; /* 12px */
    height: 0;
}

@media print {
    h1, h2, h3, h4 {
        page-break-after: avoid;
    }
}

nav h1 {
    display: none;
}