/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */
body {
    color: var(c--neutral-1);
    font-family: var(f--sans-serif);
    font-weight: 400;
    font-size: 1em; /* 16px */
    line-height: 1.5; /* 24px */
    background-color: var(c--neutral-8);
    margin: 0 auto;
    width: 80%;
    max-width: 45em;
}

h1 {
    font-size: 2rem; /* 32px */
    font-weight: 400;
    line-height: 1.125; /* 36px */
    letter-spacing: -0.0625rem;
    text-rendering: optimizeLegibility;
    margin: 1.5em 0 0.5em; /* 24px 0 8px */
}

h2 {
    font-size: 1.125em; /* 18px */
    line-height: 1.1111; /* 20px */
    font-weight: 700;
    letter-spacing: 0.05rem; /* 1px */
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin: 1.7778em 0 0; /* 32px 0 0 */
}

h3 {
    font-size: 1em; /* 16px */
    font-weight: 700;
    line-height: 1.25; /* 20px */
    text-rendering: optimizeLegibility;
    margin: 2em 0 0; /* 32px 0 0 */
}

h4 {
    font-size: 1em; /* 16px */
    font-weight: 400;
    line-height: 1.25; /* 20px */
    text-rendering: optimizeLegibility;
    margin: 2rem 0 0.5em; /* 32px 0 8px */
    opacity: 0.9;
}

h5 {
    font-size: 1rem; /* 16px */
    line-height: 1; /* 16px */
    text-rendering: optimizeLegibility;
    margin: 1.5rem 0 0.5em; /* 24px 0 8px */
}

h6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.1429; /* 16px */
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 0.125rem; /* 2px */
    margin: 1.5rem 0 0.5em; /* 24px 0 8px */
}

hr {
    line-height: 0;
    text-align: center;
    margin: 2em 0; /* 32px 0 */
    border: 0;
    height: 0;
}
hr::after {
    content: "\25C6 \25C6 \25C6";
    letter-spacing: 0.75rem; /* 12px */
    height: 0;
}

@media print {
    h1, h2, h3, h4 {
        page-break-after: avoid;
    }
}