[class*="language-"] { background: #FFF; }
[class*="language-"] .c { color: #998; font-style: italic } /* Comment */
[class*="language-"] .err { color: #a61717; background-color: #e3d2d2 } /* Error */
[class*="language-"] .k { font-weight: 600 } /* Keyword */
[class*="language-"] .o { font-weight: 600 } /* Operator */
[class*="language-"] .cm { color: #988; font-style: italic } /* Comment.Multiline */
[class*="language-"] .cp { color: #999; font-weight: 600 } /* Comment.Preproc */
[class*="language-"] .c1 { color: #998; font-style: italic } /* Comment.Single */
[class*="language-"] .cs { color: #999; font-weight: 600; font-style: italic } /* Comment.Special */
[class*="language-"] .gd { color: #000; background-color: #FDD } /* Generic.Deleted */
[class*="language-"] .gd .x { color: #000; background-color: #FAA } /* Generic.Deleted.Specific */
[class*="language-"] .ge { font-style: italic } /* Generic.Emph */
[class*="language-"] .gr { color: #A00 } /* Generic.Error */
[class*="language-"] .gh { color: #999 } /* Generic.Heading */
[class*="language-"] .gi { color: #000; background-color: #DFD } /* Generic.Inserted */
[class*="language-"] .gi .x { color: #000; background-color: #AFA } /* Generic.Inserted.Specific */
[class*="language-"] .go { color: #888 } /* Generic.Output */
[class*="language-"] .gp { color: #555 } /* Generic.Prompt */
[class*="language-"] .gs { font-weight: 600 } /* Generic.Strong */
[class*="language-"] .gu { color: #AAA } /* Generic.Subheading */
[class*="language-"] .gt { color: #A00 } /* Generic.Traceback */
[class*="language-"] .kc { font-weight: 600 } /* Keyword.Constant */
[class*="language-"] .kd { font-weight: 600 } /* Keyword.Declaration */
[class*="language-"] .kp { font-weight: 600 } /* Keyword.Pseudo */
[class*="language-"] .kr { font-weight: 600 } /* Keyword.Reserved */
[class*="language-"] .kt { color: #458; font-weight: 600 } /* Keyword.Type */
[class*="language-"] .m { color: #099 } /* Literal.Number */
[class*="language-"] .s { color: #D14 } /* Literal.String */
[class*="language-"] .na { color: #008080 } /* Name.Attribute */
[class*="language-"] .nb { color: #0086B3 } /* Name.Builtin */
[class*="language-"] .nc { color: #458; font-weight: 600 } /* Name.Class */
[class*="language-"] .no { color: #008080 } /* Name.Constant */
[class*="language-"] .ni { color: #800080 } /* Name.Entity */
[class*="language-"] .ne { color: #900; font-weight: 600 } /* Name.Exception */
[class*="language-"] .nf { color: #900; font-weight: 600 } /* Name.Function */
[class*="language-"] .nn { color: #555 } /* Name.Namespace */
[class*="language-"] .nt { color: #000080 } /* Name.Tag */
[class*="language-"] .nv { color: #008080 } /* Name.Variable */
[class*="language-"] .ow { font-weight: 600 } /* Operator.Word */
[class*="language-"] .w { color: #bbbbbb } /* Text.Whitespace */
[class*="language-"] .mf { color: #099 } /* Literal.Number.Float */
[class*="language-"] .mh { color: #099 } /* Literal.Number.Hex */
[class*="language-"] .mi { color: #099 } /* Literal.Number.Integer */
[class*="language-"] .mo { color: #099 } /* Literal.Number.Oct */
[class*="language-"] .sb { color: #D14 } /* Literal.String.Backtick */
[class*="language-"] .sc { color: #D14 } /* Literal.String.Char */
[class*="language-"] .sd { color: #D14 } /* Literal.String.Doc */
[class*="language-"] .s2 { color: #D14 } /* Literal.String.Double */
[class*="language-"] .se { color: #D14 } /* Literal.String.Escape */
[class*="language-"] .sh { color: #D14 } /* Literal.String.Heredoc */
[class*="language-"] .si { color: #D14 } /* Literal.String.Interpol */
[class*="language-"] .sx { color: #D14 } /* Literal.String.Other */
[class*="language-"] .sr { color: #009926 } /* Literal.String.Regex */
[class*="language-"] .s1 { color: #D14 } /* Literal.String.Single */
[class*="language-"] .ss { color: #990073 } /* Literal.String.Symbol */
[class*="language-"] .bp { color: #999 } /* Name.Builtin.Pseudo */
[class*="language-"] .vc { color: #008080 } /* Name.Variable.Class */
[class*="language-"] .vg { color: #008080 } /* Name.Variable.Global */
[class*="language-"] .vi { color: #008080 } /* Name.Variable.Instance */
[class*="language-"] .il { color: #099 } /* Literal.Number.Integer.Long */
