/*  =========================================================================
    Embeded content
    ========================================================================= */

.embed {
    position: relative;
    margin: ($u__baseline * 1.5) 0;
    height: 0;

    .embed__iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.embed--video {
    background-color: $c__neutral--1;
    padding-bottom: percentage(9/16);
}

.embed--slidedeck {
    background-color: $c__neutral--1;
    padding-bottom: percentage(3/4);
}
