/*  =========================================================================
    Items
    ========================================================================= */

.item {
    display: flex;
    position: relative;
    margin-bottom: ($u__baseline * 1.5);
    flex-direction: column;
}

.item__header {
    order: 1;
}

.item__footer {
    order: 2;
}

.item__main {
    order: 3;

    ol,
    ul {
        list-style-position: inside;
    }
}

.item__title {
    @include fs--heading-3;
}

.item__meta {
    @include caption;
}

.item__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: span(1 of 8);
    height: auto;
}

/* Entry item */
.item--entry {
    .item__title {
        @include fs--heading-2;
    }
}

/* Link item */
.item--link {
    .item__title a[href^="http://"]::after {
        content: ' \2192';
    }
}
