/*  =========================================================================
    Nav
    ========================================================================= */

.nav__item {
    &.is-active {
        font-weight: 700;
    }
}


/* Primary navigation */
.nav--primary {
    @include clearfix;
    margin-top: ($u__baseline * 3);
    padding-top: ($u__baseline * 0.5);
    padding-bottom: ($u__baseline * 0.5);
    line-height: 1;
    font-size: 1rem;

    @include susy-media($b__a) {
        margin-top: 0;
        padding-top: ($u__baseline * 2);
        padding-bottom: ($u__baseline * 2);
        text-align: right;
    }

    .nav__item {
        @include span(1 of 4);

        @include susy-media($b__a) {
            display: inline-block;
            float: none;
            margin-right: gutter();
            text-align: right;
        }

        @include susy-media($b__b) {
            width: span(1 of 6);
        }

        @include susy-media($b__c) {
            width: span(1 of 8);
        }
    }

    .nav__item:last-child {
        margin-right: 0;
    }
}


/* Series navigation */
.nav--series {
    @include ff--sans-serif();

    .nav__item__label {
        @include text-decoration-color($color: 'none');
        display: block;
        border-top: 1px solid;
        padding-top: ($u__baseline / 4);
        padding-bottom: ($u__baseline / 2);
    }
}


/* Page navigation */
.nav--pagination {
    overflow: hidden;

    .nav__item {
        text-decoration: none;
        line-height: ($u__baseline * 2);

        @include susy-media($b__c) {
            position: fixed;
            top: 50%;
            bottom: 50%;
            transition: all 0.2s;
            margin-top: -3rem;
            padding: 0 ($u__baseline / 2);
        }
    }

    .nav__item__label {
        @include susy-media($b__c) {
            display: none;
        }
    }

    .nav__item:hover {
        .nav__item__label {
            @include susy-media($b__c) {
                display: inline-block;
            }
        }
    }

    .nav__item--prev {
        float: left;

        @include susy-media($b__c) {
            left: 0;
        }
    }

    .nav__item--next {
        float: right;

        @include susy-media($b__c) {
            right: 0;
        }
    }
}
