/*  =========================================================================
    Prose
    ========================================================================= */

.prose {
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @include ff--sans-serif(700);
        @include fs--double-pica;
        margin-bottom: ($u__baseline / 2);
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--paragon;
        margin-bottom: ($u__baseline / 2);
    }

    h4 {
        @include ff--sans-serif;
        @include fs--great-primer;
        margin-bottom: ($u__baseline / 2);
    }

    * + h2,
    * + h3,
    * + h4 {
        margin-top: ($u__baseline * 2);
    }

    p,
    ul,
    ol,
    dl {
        margin-bottom: ($u__baseline / 2);
    }

    > pre,
    > blockquote,
    > table,
    > fieldset {
        margin-top: ($u__baseline * 1.5);
        margin-bottom: ($u__baseline * 1.5);
    }

    > pre {
        @include fs--english;
    }

    > blockquote {
        @include ff--sans-serif;
        position: relative;
        padding-left: 1.25rem; // 20px

        &:before {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0.1;
            border-left: 0.5em solid; // 8px
            content: '';
        }
    }

    strong {
        @include ff--sans-serif(700);
    }
}
