/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/grouping-content.html
    ========================================================================= */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    margin: 0;
    orphans: 3;
    widows: 3;
}

pre {
    overflow: auto;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
}

@media print {
    blockquote {
        page-break-inside: avoid;
    }
}

figure,
figcaption {
/*  Correct `block` display for `figure` and `figcaption` elements in IE 8/9 */
    display: block;
}

ol,
ul {
    padding: 0;
    list-style-position: inside;

    @include susy-breakpoint(b__a) {
        list-style-position: outside;
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

nav li {
    margin: 0;
    list-style-type: none;
}

dt {
    @include ff--sans-serif(600);
}

li li,
dd {
    margin-left: ($u__baseline * 2);
}

li > *,
dd > * {
    margin-top: 0;
}
