/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/grouping-content.html
    ========================================================================= */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    margin: 0;
    orphans: 3;
    widows: 3;
}

pre {
    overflow: auto;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
}

@media print {
    blockquote {
        page-break-inside: avoid;
    }
}

ol {
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
}

ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
}

@media screen and (min-width: 45em) {
    ol,
    ul {
        list-style-position: outside;
    }
}

nav li {
    margin: 0;
    list-style-type: none;
}

dt {
    font-weight: bold;
}

li li,
dd {
    margin-left: 2rem;
}

li > *,
dd > * {
    margin-top: 0;
}
