/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/grouping-content.html
    ========================================================================= */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    @include fs--5;
    orphans: 3;
    widows: 3;
}

pre {
    margin: 0 -0.5em 1.5em;
    padding: 0 0.5em;
    overflow: auto;
    line-height: 1.4286; /* 20px */
    white-space: pre;
    font-size: 0.875em; /* 14px */
    hyphens: none;
    tab-size: 4;
}

blockquote {
    @include ff--sans-serif(400);
    margin: 0.5rem 0 1rem; // 8px 0 16px
    border-left: 0.0625rem solid $c__accent-light; // 1px
    padding-left: 1rem; // 16px
    color: $c__neutral-4;
}

@media print {
    blockquote {
        page-break-inside: avoid;
    }
}

ol {
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
}

ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
}

@media screen and (min-width: 45em) {
    ol,
    ul {
        list-style-position: outside;
    }
}

nav li {
    margin: 0;
    list-style-type: none;
}

dt {
    font-weight: 700;
}

li li,
dd {
    margin-left: 2rem;
}

li > *,
dd > * {
    margin-top: 0;
}
