/*  =========================================================================
    Links
    http://developers.whatwg.org/links.html
    ========================================================================= */

a {
    text-decoration: none;
    color: $c__link;
}

a:active,
a:hover {
/*  Improve readability when focused and also mouse hovered in all browsers */
    outline: 0;
    color: $c__link-hover;
}

a:active {
/*  Remove gray background color from active links in IE 10 */
    background-color: transparent;
    color: $c__link-active;
}

@media print {
    a,
    a:visited {
        color: #000 !important;
    }
}
