/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */

body {
    @include ff--sans-serif;
    margin: 0;
    background-color: $c__neutral--9;
    line-height: $u__baseline-unitless;
    color: $c__neutral--1;
    font-size: $u__font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include ff--sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: 1; // 16px
    font-size: 1em; // 16px

    @media print {
        page-break-after: avoid;
    }
}

hr {
    @include rule;
    margin: 2rem auto; // 32px auto
    border: 0;
    height: 0;
    line-height: 0;
}
