/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */

body {
    @include ff--sans-serif(400);
    margin: 0 auto;
    background-color: $c__neutral-8;
    max-width: 37.5em;
    line-height: 1; // 16px
    color: $c__neutral-2;
    font-size: 1em; // 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include ff--sans-serif(400);
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: 1; // 16px
    font-size: 1em; // 16px

    @media print {
        page-break-after: avoid;
    }
}

hr {
    margin: 2rem auto; // 32px auto
    border: 0;
    height: 0;
    line-height: 0;

    &:before {
        @include rule(2);
        margin: 0 auto;
    }
}
