/*  =========================================================================
    Tablular data
    http://developers.whatwg.org/tabular-data.html
    ========================================================================= */

table {
    @include ff--sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    margin-bottom: $u__baseline;
}

caption {
    @include caption;
    @include rule;
    margin-bottom: ($u__baseline / 2);
    text-align: left;
}

td,
th {
    border-top: 1px solid $c__neutral--7;
    padding-top: ($u__baseline / 4);
    padding-right: gutter();
    padding-bottom: ($u__baseline / 2);
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    overflow-wrap: break-word;
}

th {
    border-top-color: $c__neutral--5;
    padding-bottom: $u__baseline;
    font-weight: 700;
}

@media print {
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }
}
