/*  =========================================================================
    Text-level semantics
    http://developers.whatwg.org/text-level-semantics.html
    ========================================================================= */
b,
strong {
/*  Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome */
    font-weight: 600;
}

small {
/*  Address inconsistent and variable font size in all browsers */
    font-size: 80%;
}

:lang(en-gb) > q {
/*  Set consistent quote types */
    quotes: '\2018' '\2019' '\201c' '\201d';
}

dfn {
/*  Address styling not present in Safari 5 and Chrome */
    font-style: italic;
}

abbr {
    font-feature-settings: 'c2sc' 1;
}

abbr[title]:hover {
/*  Address styling not present in IE 8/9, Safari 5, and Chrome */
    border-bottom: 1px dotted $c__neutral-5;
    cursor: help;
}

pre,
code,
kbd,
samp {
    font-family: $f__monospace;
}

code {
    color: #008;
}

pre code {
    background-color: transparent;
    padding: 0;
}

kbd {
    margin: 0 0.25rem; /* 0 4px */
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem; /* 4px */
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0.125rem 0.5rem; /* 4px 8px */
    line-height: 1.1429; /* 16px */
    font-family: inherit;
    font-size: 0.875em; /* 14px */
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
/*  Prevent `sub` and `sup` affecting `line-height` in all browsers */
    line-height: 0;
    font-size: 75%;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
