/*  =========================================================================
    Lede
    ========================================================================= */

.s-lede {
    @include ff--sans-serif;
    @include fs--heading-3;
    margin-bottom: ($u__baseline * 2);
    font-feature-settings: 'liga', 'dlig', 'onum';

    > p,
    > ul,
    > ol,
    > dl {
        margin-bottom: ($u__baseline * 0.75);
    }

    a {
        @include text-decoration-color($c__identity--1);

        .t-dark &,
        .t-home & {
            @include text-decoration-color($c__neutral--8);
        }
    }

    a:hover {
        @include text-decoration-color($c__identity--2);

        .t-dark &,
        .t-home & {
            @include text-decoration-color($c__neutral--9);
        }
    }

    a:active {
        @include text-decoration-color(lighten($c__identity--2, 10%));

        .t-dark &,
        .t-home & {
            @include text-decoration-color(lighten($c__neutral--9, 10%));
        }
    }
}
