/*  =========================================================================
    Prose
    ========================================================================= */

.s-prose {
    @include ff--serif;
    @include fs--body;
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @include ff--sans-serif(700);
        @include fs--heading-2;
        margin-bottom: ($u__baseline / 2);
    }

    h3 {
        @include ff--sans-serif(700);
        @include fs--heading-3;
        margin-bottom: ($u__baseline / 2);
    }

    h4 {
        @include ff--sans-serif;
        @include fs--heading-4;
        margin-bottom: ($u__baseline / 2);
    }

    * + h2,
    * + h3,
    * + h4 {
        margin-top: ($u__baseline * 2);
    }

    > p,
    > ul,
    > ol,
    > dl,
    > pre,
    > blockquote,
    > table,
    > fieldset,
    .highlighter-rouge {
        margin-bottom: ($u__baseline * 1.25);
    }

    a:not(.c-button) {
        @include text-decoration-color($c__identity--1);
    }

    a:not(.c-button):hover {
        @include text-decoration-color($c__identity--2);
    }

    a:not(.c-button):active {
        @include text-decoration-color(lighten($c__identity--2, 10%));
    }
}
