/*  =========================================================================
    Container
    ========================================================================= */

.u-container {
    @include container($u__max-width);
    margin-right: $u__baseline;
    margin-left: $u__baseline;

    @media (min-width: $b__a) {
        margin-right: ($u__baseline * 2);
        margin-left: ($u__baseline * 2);
    }

    @media (min-width: $b__c) {
        margin-right: auto;
        margin-left: auto;
    }
}
