/*  =========================================================================
    Container
    ========================================================================= */

.u-container {
    @include container($u__max-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: $u__baseline;
    padding-left: $u__baseline;

    @media (min-width: $b__a) {
        padding-right: ($u__baseline * 2);
        padding-left: ($u__baseline * 2);
    }

    @media (min-width: $b__c) {
        padding-right: 0;
        padding-left: 0;
    }
}
