/*  =========================================================================
    Layout
    ========================================================================= */

// Page margin
$margin__a: $u__baseline;
$margin__b: ($u__baseline * 2);

// Nested grid constructs
$r: (12/8); // Ratio: outer columns/inner columns
$r__gutter: (gutter() * $r);

$r__span1: (span(1) * $r);
$r__span1-wide: ($r__span1 + $r__gutter);

$r__span2: (span(2) * $r);
$r__span2-wide: ($r__span2 + $r__gutter);

$r__span3: (span(3) * $r);
$r__span3-wide: ($r__span3 + $r__gutter);

$r__span4: (span(4) * $r);
$r__span4-wide: ($r__span4 + $r__gutter);


/* Container */
.u-container {
    @include container($u__max-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: $margin__a;
    padding-left: $margin__a;

    @media (min-width: $b__a) {
        padding-right: $margin__b;
        padding-left: $margin__b;
    }

    @media (min-width: $b__c) {
        padding-right: 0;
        padding-left: 0;
    }
}


/* Align element right or left */
.u-align-right {
    float: right;
    margin-top: 0;
    margin-bottom: ($u__baseline / 2);
    margin-left: $r__gutter;
    width: $r__span2;
}

.u-align-left {
    float: left;
    margin-top: 0;
    margin-right: $r__gutter;
    margin-bottom: ($u__baseline / 2);
    width: $r__span2;
}


/* Pull element aside */
.u-aside {
    @media screen and (min-width: $b__b) {
        float: left;
        margin-right: $r__gutter;
        margin-left: (-$r__span3-wide);
        width: $r__span3;
    }

    + * {
        margin-top: 0 !important;
    }
}


/* Pull element right or left */
.u-pull-right {
    @media (min-width: $b__a) {
        float: right;
        margin-left: $r__gutter;
        width: $r__span4;
    }

    @media screen and (min-width: $b__b) {
        margin-right: (-$r__span1-wide);
    }
}

.u-pull-left {
    @media (min-width: $b__a) {
        float: left;
        margin-right: $r__gutter;
        width: $r__span4;
    }

    @media screen and (min-width: $b__b) {
        margin-left: (-$r__span3-wide);
    }
}


/* On wider breakpoints, extend element outwards by an additional column */
.u-extend,
%u-extend {
    @media screen and (min-width: $b__b) {
        margin-right: (-$r__span1-wide);
        margin-left: (-$r__span3-wide);
    }
}


/* On wider breakpoints, bleed element to edges of the main container */
.u-bleed {
    margin-right: (-$margin__a);
    margin-left: (-$margin__a);

    @media (min-width: $b__a) {
        margin-right: (-$margin__b);
        margin-left: (-$margin__b);
    }

    @media screen and (min-width: $b__b) {
        margin-right: (-$r__span1-wide);
        margin-right: calc(#{(-$r__span1-wide)} + #{(-$margin__b)});
        margin-left: (-$r__span3-wide);
        margin-left: calc(#{(-$r__span3-wide)} + #{(-$margin__b)});
    }

    @media screen and (min-width: $b__c) {
        margin-right: (-$r__span1-wide);
        margin-left: (-$r__span3-wide);
    }
}


/* Vertically separate two strings with a slash */
.u-separate {
    &::after {
        margin: 0 ($u__baseline / 4);
        color: $c__neutral-4;
        font-weight: normal;
        content: '\00a0/';
    }

    &:nth-child(n+2):last-child::after {
        content: none;
    }
}
