/*  =========================================================================
    Layout hints
    ========================================================================= */

/* Align element right or left */
.u-align-right {
    float: right;
    margin-top: 0;
    margin-bottom: ($u__baseline / 2);
    margin-left: gutter();
    width: percentage(1/3);

    @media (min-width: $b__b) {
        width: span(1 of $g__inner);
    }
}

.u-align-left {
    float: left;
    margin-top: 0;
    margin-right: gutter();
    margin-bottom: ($u__baseline / 2);
    width: percentage(1/3);

    @media (min-width: $b__b) {
        width: span(1 of $g__inner);
    }
}


/* Pull element aside */
.u-aside {
    @media (min-width: $b__b) {
        float: left;
        margin-left: (percentage(1/3) * -1);
        width: (percentage(1/3) - gutter());
    }
}


/* Pull element right or left */
.u-pull-right {
    max-width: 100%;

    @media (min-width: $b__a) {
        @include span(2 of $g__inner last);
        margin-left: gutter();
    }
}

.u-pull-left {
    max-width: 100%;

    @media (min-width: $b__a) {
        @include span(2 of $g__inner first);
        margin-left: (percentage(1/3) * -1);
    }
}


/* On wider breakpoints, extend element outwards by an additional column */
.u-extend {
    $margin-left: percentage(1/3);

    .s-prose & {
        @media (min-width: $b__b) {
            margin-left: ($margin-left * -1);
        }
    }
}



/* On wider breakpoints, bleed element to edges of the main container */
.u-bleed {
    $margin-left: percentage(1/3);
    $gutter-left: ($u__baseline * 2);

    margin-right: ($u__baseline * -1);
    margin-left: ($u__baseline * -1);

    @media (min-width: $b__a) {
        margin-right: ($u__baseline * -2);
        margin-left: ($u__baseline * -2);
    }

    @media (min-width: $b__c) {
        margin-right: 0;
        margin-left: 0;
    }

    .s-prose & {
        @media (min-width: $b__b) {
            margin-left: ($margin-left * -1);
            margin-left: calc((#{$margin-left} + #{$gutter-left}) * -1);
        }

        @media (min-width: $b__c) {
            margin-left: ($margin-left * -1);
        }
    }
}
