/*  =========================================================================
    Layout hints
    ========================================================================= */

/* Align element right or left */
.u-align-right {
    @include span(1.5 of 6 last);
    margin-top: ($u__baseline / 2);
    margin-left: gutter();
}

.u-align-left {
    @include span(1.5 of 6);
    margin-top: ($u__baseline / 2);
}


/* Pull element aside */
.u-aside {
    @include susy-media($b__b) {
        @include span(1 of (4 3 3 3 3));
        margin-left: (percentage(1/3) * -1);
    }
}


/* Pull element right or left */
.u-pull-right {
    @include susy-media($b__a) {
        @include span(3 of 6 last);
        margin-top: ($u__baseline / 2);
        margin-right: (span(1 wider) * -1);
        margin-left: gutter();
    }
}

.u-pull-left {
    @include susy-media($b__a) {
        @include span(3 of 6);
        margin-top: 0;
        margin-right: gutter();
        margin-left: -(span(1 wider));
    }
}


/* On wider breakpoints elements that extends outwards by additional column */
.u-extend {
    margin-right: (gutter() * -1);
    margin-left: (gutter() * -1);

    @include susy-media($b__b) {
        margin-left: (percentage(1/3) * -1);
    }
}
