/*  =========================================================================
    Separate
    ========================================================================= */

.u-separate {
    &::after {
        opacity: 0.5;
        margin: 0 ($u__baseline * 0.5) 0 ($u__baseline * 0.75);
        font-weight: normal;
        content: '/';
    }

    &:nth-child(n+2):last-child::after {
        content: none;
    }
}
