/*  =========================================================================
    Helpers
    ========================================================================= */

/* Clearfix */
.u--cf:before,
.u--cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.u--cf:after {
    clear: both;
}

/* Visually hidden, but still audible */
.u--hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
