/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($c__neutral--9, 0.95);
    padding: 0 gutter() ($u__baseline * 2);
    text-align: center;

    @include susy-media($b__a) {
        text-align: left;
        padding-bottom: 0;
    }

    @include susy-media($b__c) {
        padding: 0;
    }

    .t-dark & {
        background-color: rgba($c__neutral--1, 0.95);
    }

    .t-home & {
        background-color: rgba($c__identity--1, 0.95);
    }
}

.banner__title {
    line-height: 0;

    @include susy-media($b__c) {
        margin: 0 auto;
        max-width: $u__max-width;
    }
}

.banner__home {
    display: inline-block;
}

.banner__logo {
    width: ($u__baseline * 3);
    height: ($u__baseline * 3);
    fill: $c__neutral--2;

    @include susy-media($b__a) {
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }

    .t-dark &,
    .t-home & {
        fill: $c__neutral--9;
    }
}
