/*  =========================================================================
    Banner
    ========================================================================= */

.banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 0 gutter() ($u__baseline * 2);
    text-align: center;

    @include susy-media($b__a) {
        padding: 0;
        text-align: left;
    }
}

.banner__title {
    @include text-decoration-color('none');
    position: relative;
    z-index: 2;

    @include susy-media($b__a) {
        margin: 0 auto;
        max-width: $u__max-width;
    }
}

.banner__home {
    @include text-decoration-color('none');
    display: inline-block;
    line-height: 0.1;
}

.banner__logo {
    width: ($u__baseline * 3);
    height: ($u__baseline * 3);

    @include susy-media($b__a) {
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }
}
