/*  =========================================================================
    Content Info
    ========================================================================= */

.contentinfo {
    @include container($u__max-width);
    margin: 0 auto;
    border-top: 0.05rem solid;
    padding: $u__baseline gutter();
    text-align: center;
    line-height: (16 / 14);
    font-size: 0.875rem; // 14px

    @include susy-media($b__b) {
        @include span(4 at 2);
        padding: $u__baseline 0;
        text-align: left;
    }
}

.contentinfo__legal {
    margin-bottom: ($u__baseline / 2);

    a {
        color: inherit;
    }
}

.contentinfo__copyright {
    font-size: 100%;
}
