/*  =========================================================================
    Content Info
    ========================================================================= */

.contentinfo {
    @include container($u__max-width);
    margin: $u__baseline auto;
    max-width: $u__max-width;
    text-align: center;
    line-height: (16 / 14);
    font-size: 0.875rem; // 14px

    @include susy-media($b__b) {
        text-align: left;
    }
}

.contentinfo__legal {
    border-top: 0.05rem solid;
    padding: ($u__baseline / 2) 0;

    @include susy-media($b__b) {
        margin-left: span(1 wide);
    }
}

.contentinfo__copyright {
    font-size: 100%;
}

.contentinfo__links {
    @include susy-media($b__b) {
        margin-left: span(1 wide);
    }
}
