// ========================================================
// Prose
// ========================================================

.s-prose {
  line-height: (24 / 16);
  font-variant: common-ligatures oldstyle-nums;
  hanging-punctuation: first;

  > * {
    margin-bottom: units(1);
  }

  blockquote {
    > *:not(footer) {
      margin-bottom: 0;
      padding-left: 1rem;
      border-left: 0.125rem solid;
    }

    > * + *:not(footer) {
      padding-top: 0.5rem;
    }

    footer {
      @include fs--caption;
      margin-top: 0.5rem;
      color: $c__neutral-mid;
    }
  }

  hr {
    margin-top: units(1);
    margin-bottom: units(2);
  }

  .caps {
    font-variant-caps: small-caps;
  }
}

// Body
.s-prose--body {
  @include fs--body;

  > * {
    margin-bottom: units(2);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    @include fs--heading-2;
    margin-bottom: units(1);
    font-weight: 700;
  }

  *:not(hr) + h2 {
    margin-top: units(4);
  }

  h3 {
    @include fs--heading-3;
    margin-bottom: units(1/3);
    font-weight: 700;
  }

  *:not(hr) + h3 {
    margin-top: units(3);
  }

  h4 {
    margin-bottom: 0;
    font-weight: 700;
  }

  * + table,
  * + figure {
    margin-top: units(2);
  }

  hr {
    margin-top: units(3);
    margin-bottom: units(4);
  }

  pre {
    font-size: 90%;
  }

  li,
  li > * {
    margin-bottom: units(1/3);
  }

  figure {
    margin-bottom: units(3);

    > * {
      margin-bottom: units(1);
    }

    &.u-extend {
      @media (min-width: $b__c) {
        display: grid;
        grid-template-columns: auto percentage(4/12);
        grid-column-gap: $u__gutter;
      }

      img {
        @media (min-width: $b__c) {
          margin-bottom: 0;
        }
      }

      figcaption {
        @media (min-width: $b__c) {
          grid-column-start: 2;
        }
      }
    }

    &.u-bleed {
      figcaption {
        padding-right: 1rem;
        padding-left: 1rem;

        @media (min-width: $b__a) {
          padding-right: 2rem;
          padding-left: 2rem;
        }

        @media screen and (min-width: $b__b) {
          padding-left: calc(#{percentage(2/9)} + 1rem);
        }

        @media screen and (min-width: $b__c) {
          padding-left: percentage(2/9);
        }
      }
    }
  }

  figcaption,
  small {
    @include fs--caption;
    color: $c__neutral-mid;
  }

  figcaption {
    > * + * {
      margin-top: units(2/3);
    }

    li {
      list-style-position: inside;
    }
  }

  > .highlighter-rouge {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    padding: 0.5rem;
  }

  .footnotes {
    @include fs--caption;
    @include rule($width: 20%);
    margin-bottom: units(3);
    color: $c__neutral-mid;

    &:not(:last-child) {
      margin-bottom: units(4);
    }

    ol {
      margin-top: units(1);
    }
  }
}

// Lede
.s-prose--lede {
  @include fs--lede;

  > * {
    margin-bottom: units(2);
  }
}
