/*  =========================================================================
    Post
    ========================================================================= */
.post {
    position: relative;
    margin-top: 2em;
    padding-top: 2em;
}

.post__header {
    margin-bottom: 4em;
}

.post__footer {
    position: absolute;
    top: 0;
}

.post__pubdate {
    color: var(--c_neutral-3);
    font-size: 0.875em; /* 14px */
    line-height: 1.4286; /* 20px */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.4286em; /* 6px */
    display: block;
}