
<article class="summary">
    <header class="summary__header">
        <h1 class="summary__title"><a href="{{ summary.url }}">{{ summary.title | ampersand | replace: "'","&#8217;" }}</a></h1>
    </header>
    <footer class="summary__footer">
        <time class="summary__pubdate" datetime="{{ summary.date | date_to_xmlschema }}">{{ summary.date | date: "%e %B %Y" }}</time>
    </footer>
    <div class="summary__main">
        {% if summary.excerpt %}
        {{ summary.excerpt | markdownify }}
        {% else %}
        {{ summary.content | markdownify }}
        {% endif %}
    </div>
</article>
