/* ==========================================================================
   Structure > Banner
   ========================================================================== */
.banner.container {
    padding-bottom: 4em;
}

.banner__title {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.banner__menu {
    display: none;
}