// ========================================================
// Global Variables
// ========================================================

// Units
$u__max-width: 60rem;
$u__rule-height: 0.0625rem;
$u__unit-height: 0.75rem;

// Units > Grids
$nested-ratio: (12 / 8);
$u__colspan1: (percentage(1/9) * $nested-ratio);
$u__colspan2: (percentage(2/12) * $nested-ratio);
$u__colspan3: (percentage(2/9) * $nested-ratio);
$u__colspan4: (percentage(4/12) * $nested-ratio);
$u__gutter: 1.5rem;

// Colours
$c__neutral-darkest: hsb(300, 32, 8);
$c__neutral-dark: hsb(300, 16, 24);
$c__neutral-mid: hsb(300, 8, 48);
$c__neutral-light: hsb(300, 4, 72);
$c__neutral-lightest: hsb(300, 0, 96);

$c__primary: hsb(300, 60, 80);
$c__secondary: hsb(20, 80, 80);

$c__invalid: hsb(0, 60, 80);
$c__valid: hsb(170, 60, 80);

// Breakpoints
$b__a: 32rem; // 512px
$b__ax: 31.9375rem; // 511px
$b__b: 45rem; // 720px
$b__bx: 44.9375rem; // 719px
$b__c: ($u__max-width + 2rem);
$b__cx: ($u__max-width + 2rem - 0.0625rem);
$b__d: 65rem; // 1040px
$b__dx: 64.9375rem; // 1039px

// Theming
:root {
  --page-background: #{$c__neutral-lightest};
  --page-text: #{$c__neutral-dark};
}

.t-dark {
  --page-background: #{$c__neutral-darkest};
  --page-text: #{$c__neutral-lightest};
}
