{% assign hash = remark.email | to_gravatar | remove: 'http://www.gravatar.com/avatar/' %}
<article class="remark{% if hash == '15091a37bacfa4bdd011282627eaca2b' %} author{% endif %}" id="remark-{{ forloop.rindex }}">
    <header class="remark__header">
        <h1><a href="{{remark.url}}">{{ remark.author }}<img src="{{ remark.email | to_gravatar }}?s=96" width="64" height="64" alt=""/></a></h1>
    </header>

    <div class="remark__main">
        {{ remark.content | typeset }}
    </div>

    <footer class="remark__footer">
        <time class="remark__pubdate" datetime="{{ remark.date | date_to_xmlschema }}">{{ remark.date | date: "%e %B %Y" }}</time>
    </footer>
</article>
