<article class="remark{% if remark.gravatar == '15091a37bacfa4bdd011282627eaca2b' %} remark--author{% endif %}" id="remark-{{ forloop.rindex }}">
    <header class="remark__header  h-card">
        {% if remark.url %}
        <h1 class="remark__title"><a class="remark__author  p-name u-url" href="{{ remark.url }}">{{ remark.author }}<img class="remark__avatar u-photo" src="https://gravatar.com/avatar/{{ remark.gravatar }}?s=128&amp;d=http%3A%2F%2F{{ site.url }}%2Fassets%images%2Fgravatar.png" width="80" height="80" alt=""/></a></h1>
        {% else %}
        <h1 class="remark__title"><span class="remark__author  p-name">{{ remark.author }}<img class="remark__avatar  u-photo" src="https://gravatar.com/avatar/{{ remark.gravatar }}?s=128&amp;d=http%3A%2F%2F{{ site.url }}%2Fassets%images%2Fgravatar.png" width="80" height="80" alt=""/></span></h1>
        {% endif %}
    </header>

    <div class="remark__main  prose">
        {{ remark.content | markdownify }}
    </div>

    <footer class="remark__footer">
        <time class="remark__pubdate" datetime="{{ remark.date | date_to_xmlschema }}">{{ remark.date | date: "%e %B %Y" }}</time>
    </footer>
</article>
