<article class="summary summary--{{ summary.layout }}">
    {% if summary.embed != "photo" %}
    <header class="summary__header">
        {% if summary.layout == "link" %}
        <h1 class="summary__title"><a href="{{ summary.link | remove:'.html' }}">{{ summary.title | smart }}&nbsp;→</a></h1>
        {% else %}
        <h1 class="summary__title"><a href="{{ summary.url | remove:'.html' }}" rel="bookmark">{{ summary.title | smart }}</a></h1>
        {% endif %}
    </header>
    {% endif %}

    <div class="summary__main">
    {% if summary.embed == "photo" %}
        {% embed {{ summary.link }} %}
    {% endif %}

    {% if summary.layout == "link" %}
        {{ summary.content | markdownify | widont }}
    {% elsif summary.excerpt != null %}
        {{ summary.excerpt | widont  }}
    {% endif %}

    {% if summary.layout == "entry" %}
        <a class="summary__permalink" href="{{ summary.url | remove:'.html' }}" rel="bookmark">Continue reading&nbsp;→</a>
    {% endif %}
    </div>

    <footer class="summary__footer">
    {% if summary.layout == "link" %}
        <abbr class="summary__permalink" title="Permalink"><a href="{{ summary.url | remove:'.html' }}" rel="bookmark">#</a></abbr>
    {% elsif summary.layout == "entry" %}
        <time class="summary__pubdate" datetime="{{ summary.date | date_to_xmlschema }}">{{ summary.date | date: "%e %B %Y" }}</time>
    {% else %}
        <time class="summary__pubdate" datetime="{{ summary.date | date_to_xmlschema }}">{{ summary.date | date: "%B %Y" }}</time>
    {% endif %}
    </footer>
</article>
