---
layout: index
title: Work
---
<section class="section section--projects" id="projects">
    <h1 class="section__title"><a href="/projects/">Projects</a></h1>
    {% for summary in site.categories.projects | sort: 'date' %}
        {% include articles/summary.html %}
    {% endfor %}
</section>

<section class="section section--essays" id="essays">
    <h1 class="section__title"><a href="/essays/">Academic Essays</a></h1>
    {% for summary in site.categories.essays | sort: 'date' %}
        {% if summary.chapter-title == null %}
            {% include articles/summary.html %}
        {% endif %}
    {% endfor %}
</section>
