---
layout: index
title: Work
---
<section class="section section--projects" id="projects">
    <h1 class="section__title"><a href="/projects/">Projects</a></h1>
    <div class="grid">
    {% for summary in site.categories.projects | sort: 'date' %}
        <article class="summary summary--project grid__item">
            <header class="summary__header">
                <h1 class="summary__title"><a href="{{ summary.url }}">{{ summary.title | typeset }}</a></h1>
            </header>

            <div class="summary__main">
                {{ summary.excerpt | typeset }}
            </div>
        </article>
    {% endfor %}
    </div>
</section>

<section class="section section--essays" id="essays">
    <h1 class="section__title"><a href="/essays/">Academic Essays</a></h1>
    {% for summary in site.categories.essays | sort: 'date' %}
        {% if summary.chapter-title == null %}
            {% include articles/summary.html %}
        {% endif %}
    {% endfor %}
</section>
