/* ==========================================================================
   Structure > Banner
   ========================================================================== */
.banner {
    margin-bottom: 4em;
    border-bottom: 1px solid var(--c_neutral-7);
    padding: 2em 0;
}
.banner__title {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.banner__menu {
    display: none;
}