<footer class="contentinfo" role="contentinfo">
    <p class="contentinfo__copyright">
        <small><strong>© <abbr title="2014">MMXIV</abbr> Paul Robert Lloyd</strong> All content <a rel="license" href="{{ site.license.url }}" title="{{ site.license.title }}">Creative Commons licensed</a> unless otherwise stated. <a href="/about/colophon/">Colophon</a> · <a href="/about/styleguide/">Styleguide</a></small>
    </p>
    <p class="contentinfo__feeds">
        <a rel="me" href="https://twitter.com/paulrobertlloyd">@paulrobertlloyd</a> · <a rel="alternate" href="/feed.xml" type="application/atom+xml">RSS Feed</a> · <a href="/journal/archive/">Archive</a>
    </p>
</footer><!--/@contentinfo-->
