<head>
    <link rel="dns-prefetch" href="#"/>
    <script>
        (function flagSVG() {
            var ns = {'svg': 'http://www.w3.org/2000/svg'};
            if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1")) {document.getElementsByTagName('html')[0].className += ' svg';}
        })();
    </script>

    <link rel="alternate"  href="/feed.xml" type="application/atom+xml" title="RSS Feed"/>
    <link rel="canonical" href="{{ page.url }}"/>
    <link rel="stylesheet" href="/assets/stylesheets/styles.min.css"/>

{% if page.style %}
     <style type="text/css">
         {{ page.style }}
     </style>
{% endif %}

    <meta charset="utf-8"/>
    <meta name="author" content="Paul Robert Lloyd"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% if page.layout != "index" %}
    <meta name="twitter:site" content="@paulrobertlloyd"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>
    <meta name="twitter:creator" content="@paulrobertlloyd"/>
    {% if page.image %}<meta name="twitter:image" content="{{ page.image }}"/>{% endif %}
    <meta name="twitter:card" content="summary"/>
{% endif %}

{% if page.title == "Home" %}
    <meta name="geo.placename" content="Brighton"/>
    <meta name="geo.region" content="gb-bnh"/>
    <meta name="geo.country" content="gb"/>
    <meta name="geo.position" content="50.8420;-0.1539"/>
{% endif %}

    <title>{% if page.title != "Home" %}{{ page.title }} – {% endif %}{{ site.title }}</title>
</head>
