{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<nav class="navigation" role="navigation" id="menu">
    <h1>Sections</h1>
    <ul class="nav nav--primary">
        <li class="nav__item{% if location == 'journal' or page.layout == 'entry' %} is-active{% endif %}"><a href="/journal/">Journal</a>
        <li class="nav__item{% if location == 'work' or location == 'projects' or location == 'essays' %} is-active{% endif %}"><a href="/work/">Work</a></li>
        <!--li class="nav__item{% if location == 'photos' %} is-active{% endif %}"><a href="/photos/">Photos</a></li-->
        <li class="nav__item{% if location == 'about' %} is-active{% endif %}"><a href="/about/">About</a></li>
        <li class="nav__item{% if location == 'contact' %} is-active{% endif %}"><a href="/contact/">Contact</a></li>
    </ul>
</nav><!--/@navigation-->
