/* ==========================================================================
   Structure > Navigation
   ========================================================================== */
.navigation {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.nav--primary > .nav__item {
    margin-left: 1em;
    padding: 0;
    display: inline-block;
    position: relative;
}

.nav--primary .nav--secondary {
    position: absolute;
    top: 1.5em;
    left: 0;
}

.nav--secondary > .nav__item {
    font-weight: normal;
    text-align: left;
    display: block;
}