<nav class="navigation" role="navigation" id="menu">
    <h1 class="u--hidden">Site sections</h1>
    <ul class="nav nav--primary">
        <li class="nav__item{% if location == 'journal' or category == 'journal' %} is-active{% endif %}"><a href="/journal/">Journal</a>
        <li class="nav__item{% if location == 'projects' %} is-active{% endif %}"><a href="/projects/">Work</a></li>
        <li class="nav__item{% if location == 'about' %} is-active{% endif %}"><a href="/about/">About</a></li>
        <li class="nav__item{% if location == 'contact' %} is-active{% endif %}"><a href="/contact/">Contact</a></li>
    </ul>
</nav>
