<footer class="c-contentinfo u-container" role="contentinfo">
  <div class="c-contentinfo__main">
    <p class="c-contentinfo__social">
      <a class="c-social" rel="me" href="https://twitter.com/paulrobertlloyd">
        {% asset_source c-social__logo--twitter.svg %}
      </a>
      <a class="c-social" rel="me" href="https://dribbble.com/paulrobertlloyd">
        {% asset_source c-social__logo--dribbble.svg %}
      </a>
      <a class="c-social" rel="me" href="https://github.com/paulrobertlloyd">
        {% asset_source c-social__logo--github.svg %}
      </a>
      <a class="c-social" rel="me" href="https://flickr.com/people/paulrobertlloyd">
        {% asset_source c-social__logo--flickr.svg %}
      </a>
    </p>

    <p class="c-contentinfo__links">
      <a href="/contact/">Contact</a><span class="u-separate"></span>
      <a href="/colophon">Colophon</a><span class="u-separate"></span>
      <a href="/styleguide">Style guide</a><span class="u-separate"></span>
      <a href="{{ site.scm.url }}">Source</a>
    </p>

    <p class="c-contentinfo__copyright">
      <small>© <time>{{ site.time | date:"%Y" }}</time> <a class="h-card p-author" rel="author" href="{{ site.author.url }}">{{ site.author.name }}</a></small>
    </p>
  </div>
</footer>
