<nav class="section section--pages" aria-labelledby="pagination">
    <h1 class="section__title audible" id="pagination">Browse {{ page.categories | first }}</h1>

    <div class="nav nav--pages">
    {% if page.next_in_category != nil %}
        <a class="nav__item nav__item--prev" rel="prev bookmark" href="{{ page.next_in_category.url | remove:'.html' }}" title="{{ page.next_in_category.title }}">
            <span class="nav__item__label">Previous entry</span>
        </a>
    {% endif %}

    {% if page.previous_in_category != nil %}
        <a class="nav__item nav__item--next" rel="next bookmark" href="{{ page.previous_in_category.url | remove:'.html' }}" title="{{ page.previous_in_category.title }}">
            <span class="nav__item__label">Next entry</span>
        </a>
    {% endif %}
    </div>
</nav>
