//  ===========================================================================
//  Mixins
//  ===========================================================================

// Clearfix
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

// Font families
@mixin ff--serif($font-weight: normal) {
    font-family: "Georgia", serif;
    font-weight: $font-weight;

    .fonts-loaded & {
        font-family: "Tiempos", "Georgia", serif;
        // TODO: font-size-adjust: 0.481;
    }
}

@mixin ff--sans-serif($font-weight: normal) {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: $font-weight;

    .fonts-loaded & {
        font-family: "Calibre", "Helvetica Neue", sans-serif;
        // TODO: font-size-adjust: 0.523;
    }
}

@mixin ff--monospace($font-weight: normal) {
    font-family: "Menlo", monospace;
    font-weight: $font-weight;
}

// Font sizes
@mixin fs--title {
    line-height: (28 / 32);
    font-size: 2rem; // 32px
    letter-spacing: -0.015em;

    @media (min-width: $b__b) {
        font-size: 3rem; // 48px
    }

    @media (min-width: $b__c) {
        font-size: 3.75rem; // 60px
    }
}

@mixin fs--heading-1 {
    line-height: 0.875;
    font-size: 2rem; // 32px
    letter-spacing: -0.025em;

    @media (min-width: $b__b) {
        font-size: 2.5rem; // 40px
    }
}

@mixin fs--heading-2 {
    line-height: 1;
    font-size: 1.5rem; // 24px
    letter-spacing: -0.02em;

    @media (min-width: $b__b) {
        font-size: 1.75rem; // 28px
    }
}

@mixin fs--heading-3 {
    line-height: 1.125;
    font-size: 1.25rem; // 20px
    letter-spacing: -0.015em;

    @media (min-width: $b__b) {
        font-size: 1.5rem; // 24px
    }
}

@mixin fs--lede {
    line-height: 1.125;
    font-size: 1.3125rem; // 21px
    letter-spacing: -0.015em;

    @media (min-width: $b__c) {
        font-size: 1.6875rem; // 27px
    }
}

@mixin fs--body {
    line-height: 1.3334;
    font-size: 1.125rem; // 18px
    letter-spacing: -0.015em;

    @media (min-width: $b__c) {
        font-size: 1.3125rem; // 21px
    }
}

@mixin fs--caption {
    line-height: 1.25;
    font-size: 1rem; // 16px
}

// Caps
@mixin smcp { font-feature-settings: "smcp", "onum"; }

@mixin c2sc { font-feature-settings: "c2sc", "onum"; }

// Text highlight
@mixin text-highlight($color: $c__select) {
    border-radius: 0.125rem;
    background-color: $color;
    margin-right: -0.125rem;
    margin-left: -0.125rem;
    padding: 0.125rem;
}

// Text underline colour
@mixin text-decoration-color($color, $background-color: transparent) {
    @if $color != "none" {
        background-image: linear-gradient(to bottom, transparent 89%, $color 89%, $color 92.5%, transparent 92.5%);
        text-decoration: none;
        text-shadow:
            0 0.03em $background-color,
            0 -0.03em $background-color,
            0.06em 0 $background-color,
            0 -0.06em $background-color,
            0.03em 0 $background-color,
            -0.03em 0 $background-color,
            0.06em 0 $background-color,
            -0.06em 0 $background-color,
            0.09em 0 $background-color,
            -0.09em 0 $background-color,
            0.12em 0 $background-color,
            -0.12em 0 $background-color,
            0.15em 0 $background-color,
            -0.15em 0 $background-color;
    }

    @else {
        text-shadow: none !important;
    }
}

// Background placeholder
@mixin background-placeholder {
    background-image: repeating-linear-gradient(-58deg, transparent, transparent 3px, rgba($c__neutral-mid, 0.2) 4px, rgba($c__neutral-mid, 0.2) 6px);
}

// Line rule
@mixin rule($height: $u__rule-height, $width: 100%, $position: "before") {
    &::#{$position} {
        display: inline-block;
        border-top: $height solid rgba($c__neutral-mid, 0.5);
        width: $width;
        content: "";
    }
}

// Visually hide content
@mixin visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
