//  ===========================================================================
//  Global Variables
//  ===========================================================================

// Units
$u__max-width: 60rem;
$u__rule-height: 0.0625rem;

// Colours
$c__neutral-black: #000;
$c__neutral-darkest: hsb(300, 12, 8);
$c__neutral-dark: hsb(300, 9, 28);
$c__neutral-mid: hsb(300, 6, 40);
$c__neutral-light: hsb(300, 3, 76);
$c__neutral-lightest: hsb(300, 0, 96);
$c__neutral-white: #fff;

$c__primary: hsb(300, 60, 80);
$c__secondary: hsb(248, 60, 80);

$c__invalid: hsb(0, 60, 80);
$c__valid: hsb(170, 60, 80);
$c__focus: scale-color($c__secondary, $lightness: 60%);
$c__select: rgba($c__focus, 0.5);

// Breakpoints
$b__a: 32rem; // 512px
$b__ax: 31.9375rem; // 511px
$b__b: 45rem; // 720px
$b__bx: 44.9375rem; // 719px
$b__c: ($u__max-width + 2rem);
$b__cx: ($u__max-width + 2rem - 0.0625rem);
$b__d: 65rem; // 1040px
$b__dx: 64.9375rem; // 1039px

// Grid (Susy)
$susy:
    (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: auto,
        container-position: center,
        columns: 12,
        gutters: 1 / 3,
        global-box-sizing: border-box,
        last-flow: to
    );

// Nested grid constructs
$gn__ratio: (12 / 8); // Ratio: outer columns/inner columns
$gn__gutter: (gutter() * $gn__ratio);

$gn__span1: (span(1) * $gn__ratio);
$gn__span1-wide: ($gn__span1 + $gn__gutter);

$gn__span2: (span(2) * $gn__ratio);
$gn__span2-wide: ($gn__span2 + $gn__gutter);

$gn__span3: (span(3) * $gn__ratio);
$gn__span3-wide: ($gn__span3 + $gn__gutter);

$gn__span4: (span(4) * $gn__ratio);
$gn__span4-wide: ($gn__span4 + $gn__gutter);
