//  ============================================================================
//  Global Variables
//  ============================================================================

// Units
$u__font-size: (16/16)*100%;
$u__baseline-unitless: 16/(16*($u__font-size/100%));
$u__baseline: $u__baseline-unitless * 1rem;
$u__max-width: 57.5rem;


// Colours
$c__neutral: #101112;
$c__neutral--1: lighten($c__neutral, 10%);
$c__neutral--2: lighten($c__neutral, 20%);
$c__neutral--3: lighten($c__neutral, 30%);
$c__neutral--4: lighten($c__neutral, 40%);
$c__neutral--5: lighten($c__neutral, 50%);
$c__neutral--6: lighten($c__neutral, 60%);
$c__neutral--7: lighten($c__neutral, 70%);
$c__neutral--8: lighten($c__neutral, 80%);
$c__neutral--9: lighten($c__neutral, 90%);

$c__24-ways: #ff0040;
$c__bradshaws-guide: #363330;
$c__matter: #874a88;
$c__dacs: #560a5e;
$c__the-week: #ed1c24;
$c__fontdeck: #d0021b;
$c__ngenera: #00173b;


// Breakpoints
$b__a: 32em; // 512px
$b__b: 45em; // 720px
$b__c: $u__max-width + ($u__baseline * 2);


// Grid (Susy)
$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 8,
    gutters: 0.5,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
    debug: (
        image: hide,
        color: rgba(#f00, 0.1),
        output: overlay,
        toggle: top right,
    )
);
