//  ===========================================================================
//  Webfonts
//  ===========================================================================

@font-face {
    font-family: "Calibre";
    font-weight: normal;
    font-style: normal;
    src: url(asset_path("calibre-regular.woff")) format("woff");
}

@font-face {
    font-family: "Calibre";
    font-weight: normal;
    font-style: italic;
    src: url(asset_path("calibre-italic.woff")) format("woff");
}

@font-face {
    font-family: "Calibre";
    font-weight: 700;
    font-style: normal;
    src: url(asset_path("calibre-semibold.woff")) format("woff");
}
