<section class="c-item c-item--about  h-card">
  <header class="c-item__header">
    <h1 class="c-item__title  p-name">Paul Robert Lloyd</h1>
  </header>

  <div class="c-item__main  s-prose s-prose--body">
    <p class="p-note">An independent <a href="/projects/">designer</a>, <a href="/articles/">writer</a> and <a href="/talks/">speaker</a> based in <span class="p-locality">Brighton</span>, <span class="p-country-name">England</span>. I help responsible organisations create purposeful digital&nbsp;products.</p>
    <p><a href="/about/">Learn more about me</a> or <a href="/contact/">get in touch</a>.</p>
  </div>
</section>
