<article class="c-item c-item--article">
  <header class="c-item__header">
    <h1 class="c-item__title">
      <a href="{{ item.url }}">{{ item.title | smartify }}</a>
    </h1>
  </header>

  <footer class="c-item__footer">
    {% if item.publication %}{{ item.publication }}<span aria-label=","> ·</span>{% endif %}
    <time datetime="{{ item.date | date_to_xmlschema }}">{% if item.publication %}{{ item.date | date: site.date_format }}{% else %}{{ item.date | date: "%B %Y" }}{% endif %}</time>
  </footer>
</article>
