<article class="c-item c-item--entry  h-entry">
  <header class="c-item__header">
    <h1 class="c-item__title  p-name">
      <a class="c-item__link  u-url" href="{{ item.url }}" rel="bookmark">
        {{ item.title | smartypants }}
      </a>
    </h1>
  </header>

  <footer class="c-item__footer">
    <p class="c-item__meta">
      <a href="{{ item.url }}" rel="bookmark">
        <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date:"%e %B %Y" }}</time>
      </a>
    </p>
  </footer>

  <div class="c-item__main">
    <div class="s-prose s-prose--body  p-summary">
      {% if item.image.url %}
      <a class="c-item__media u-bleed u-block-link" href="{{ item.url }}">
        {% picture {{ item.image.preset }} {{ item.image.url }} alt="{{ item.title }}" class="u-photo" %}
      </a>
      {% endif %}
      {{ item.excerpt | markdownify | improve }}
    </div>
  </div>
</article>
