<article class="c-item c-item--link">
  <header class="c-item__header">
    <h1 class="c-item__title">
      <a href="{{ item.link }}">{{ item.title | smartify }}</a>
    </h1>
  </header>

  {% if item.embed.src %}
  <div class="c-item__media u-bleed">
    {% include embed.html src=item.embed.src title=item.title %}
  </div>
  {% endif %}

  <div class="c-item__main s-prose">
    {{ item.content | markdownify | smartify }}
  </div>

  <footer class="c-item__footer">
    <a class="c-item__permalink" href="{{ item.url }}" rel="bookmark">
      <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}</time>
    </a>
  </footer>
</article>
