<article class="c-item c-item--link  h-entry">
  <header class="c-item__header">
    <h1 class="c-item__title  p-name">
      <a href="{{ item.link }}">{{ item.title | smartify }}</a>
    </h1>
  </header>

  {% if item.embed.src %}
  <div class="c-item__media u-bleed">
    {% include embed.html src=item.embed.src title=item.title %}
  </div>
  {% endif %}

  <div class="c-item__main">
    <div class="s-prose  p-summary">
      {{ item.content | markdownify | smartify }}
    </div>
  </div>

  <footer class="c-item__footer">
    <a class="c-item__permalink  u-url" href="{{ item.url }}" rel="bookmark"><time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%e %B %Y" }}</time></a>
  </footer>
</article>
