<article class="c-item c-item--note">
  {% if item.title != "" %}
  <header class="c-item__header">
    <h3 class="c-item__title">{{ item.title | smartify }}</h3>
  </header>
  {% endif %}

  <div class="c-item__main s-prose">
    {% if item.mf-photo %}
    <a class="c-item__media u-block-link" href="{{ item.url }}">
      {% include image.html src=item.mf-photo class="u-photo" alt=item.title %}
    </a>
    {% endif %}
    {{ item.content | markdownify | smartify }}
  </div>

  <footer class="c-item__footer">
    <a href="{{ item.url }}" rel="bookmark">
      <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }} @{{ item.date | date: "%l:%M%P" }}</time>
    </a>
  </footer>
</article>
