<article class="c-item c-item--note">
  {% if item.title != "" %}
  <header class="c-item__header">
    <h3 class="c-item__title">{{ item.title | smartify }}</h3>
  </header>
  {% endif %}

  <div class="c-item__main s-prose">
    {% if item.images %}
    <p class="c-item__media">
      <a href="{{ item.url }}">
        {% for image in item.images %}
          {% include image.html
            src=image
            class="u-photo"
          %}
        {% endfor %}
      </a>
    </p>
    {% endif %}
    {{ item.content | markdownify | smartify }}
  </div>

  <footer class="c-item__footer">
    {% if include.showtype == true %}<b class="p-category">{{ item.layout | capitalize }}</b><span aria-label=","> ·</span>{% endif %}
    <a href="{{ item.url }}" rel="bookmark">
      <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}, {{ item.date | date: "%l:%M%P" }}</time>
    </a>
  </footer>
</article>
