<article class="c-item c-item--entry">
  <header class="c-item__header">
    <h1 class="c-item__title">
      <a href="{{ item.url }}">{{ item.title | smartify }}</a>
    </h1>
  </header>

  <div class="c-item__main s-prose s-prose--body">
    {% if item.image.src %}
    <a class="c-item__media u-bleed u-block-link" href="{{ item.url }}">
      {% include image.html src=item.image.src preset=item.image.preset class="u-photo" alt=item.title %}
    </a>
    {% endif %}
    {{ item.excerpt | markdownify | smartify }}
  </div>

  <footer class="c-item__footer">
    <a href="{{ item.url }}" rel="bookmark">
      <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}</time>
    </a>
    {% if item.location %}<span aria-label=",">·</span> {{ item.location }}{% endif %}
  </footer>
</article>
