<article class="c-item c-item--entry">
  <header class="c-item__header">
    <h3 class="c-item__title">
      <a href="{{ item.url }}">{{ item.title | smartify }}</a>
    </h3>
  </header>

  <div class="c-item__main s-lede">
    {{ item.excerpt | markdownify | smartify }}
  </div>

  <footer class="c-item__footer">
    {% if include.showtype == true %}<b class="p-category">{{ item.layout | capitalize }}</b><span aria-label=","> ·</span>{% endif %}
    <a href="{{ item.url }}" rel="bookmark">
      <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}</time>
    </a>
    {% if item.location %}<span aria-label=",">·</span> {{ item.location }}{% endif %}
  </footer>
</article>
