<article class="c-item c-item--comment{% if item.gravatar == "15091a37bacfa4bdd011282627eaca2b" %} c-item--comment-author{% endif %}" id="remark-{{ forloop.rindex }}  p-comment h-entry">
  <header class="c-item__header">
    <h3 class="c-item__title  h-card">
      {% if item.url %}<a class="c-item__author-url  u-url" href="{{ item.url }}">{% endif %}
      <span class="c-item__author  p-author p-name">{{ item.author }}</span>
      <img class="c-item__avatar  u-photo" src="https://gravatar.com/avatar/{{ item.gravatar }}?s=96&d=identicon" alt=""/>
      {% if item.url %}</a>{% endif %}
    </h3>
  </header>

  <div class="c-item__main s-prose  e-content">
    {{ item.content | markdownify }}
  </div>

  <footer class="c-item__footer">
    <a class="u-url" href="#remark-{{ forloop.rindex }}">
      <time class="dt-published" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}</time>
    </a>
  </footer>
</article>
