<article class="c-item c-item--talk">
  <header class="c-item__header">
    <h1 class="c-item__title">
      <a class="u-url" href="{{ item.url }}" rel="bookmark">{{ item.event | smartify }}</a>
    </h1>
  </header>

  <footer class="c-item__footer">
    <a href="{{ item.url }}" rel="bookmark">
      <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date_format }}</time>
    </a>
    <span aria-label=",">·</span> {{ item.event }}
    <span aria-label=",">·</span> {{ item.location }}
  </footer>
</article>
