//  ============================================================================
//  Mixins
//  ============================================================================

// Clearfix
@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}


// Image replacement
@mixin image-replace {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
}


// Visually hidden, but still audible
@mixin hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}


// Media Queries
@mixin mq($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}


// Line rule
@mixin rule($el: 'before', $color: $c__neutral--8) {
    @if $el == 'before' or $el == 'after' {
        &:#{$el} {
            display: block;
            margin-bottom: $u__baseline/4;
            border-top: 0.25rem solid $color;
            width: $u__gutter*2;
            content: '';
        }
    } @else {
        @error "`#{$el}` is not a valid pseudo-element.";
    }
}


// Font families
@mixin ff--serif($font-weight: 400) {
    font-family: $f__serif, serif;
    font-weight: $font-weight;
}

@mixin ff--sans-serif($font-weight: 500) {
    font-family: $f__sans-serif, sans-serif;
    font-weight: $font-weight;
}

@mixin ff--monospace($font-weight: 400) {
    font-family: $f__monospace, monospace;
    font-weight: $font-weight;
}


// Font sizes
@mixin fs--pica($line-height: (16/12)) {
    font-size: 0.75rem; // 12px
    line-height: $line-height; // Default: 16px
}

@mixin fs--english($line-height: (20/14)) {
    font-size: 0.875rem; // 14px
    line-height: $line-height; // Default: 20px
}

@mixin fs--double-brevier($line-height: (20/16)) {
    font-size: 1rem; // 16px
    line-height: $line-height; // Default: 20px
}

@mixin fs--great-primer($line-height: (24/18)) {
    font-size: 1.125rem; // 18px
    line-height: $line-height; // Default: 24px
}

@mixin fs--paragon($line-height: (24/20)) {
    font-size: 1.25rem; // 20px
    line-height: $line-height; // Default: 24px
}

@mixin fs--double-pica($line-height: (28/24)) {
    font-size: 1.5rem; // 24px
    line-height: $line-height; // Default: 28px
}

@mixin fs--double-english($line-height: (32/28)) {
    font-size: 1.75rem; // 28px
    line-height: $line-height; // Default: 32px
}

@mixin fs--double-great-primer($line-height: (40/36)) {
    font-size: 2.25rem; // 36px
    line-height: $line-height; // Default: 40px
}

@mixin fs--canon($line-height: (52/48)) {
    font-size: 3rem; // 48px
    line-height: $line-height; // Default: 52px
}

@mixin fs--inch($line-height: (76/72)) {
    font-size: 4.5rem; // 72px
    line-height: $line-height; // Default: 76px
}


// Small caps
@mixin smcp {
    font-feature-settings: 'smcp' 1;
}


// Caps to small caps
@mixin c2sc {
    font-feature-settings: 'c2sc' 1;
}


// Captions and metadata
@mixin caption {
    @include fs--english;
    @include ff--sans-serif;
    color: $c__neutral--4;

    strong {
        color: $c__neutral--2;
    }
}
