//  ============================================================================
//  Variables
//  ============================================================================

// Unit sizing
$base-font-size: (18/16)*100%;
$baseline-unitless: 28/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

// Fonts
$f__serif: 'Charter ITC Std', serif;
$f__sans-serif: 'Source Sans Pro', sans-serif;
$f__monospace: 'Source Code Pro', monospace;
$f__icon: 'Icons', serif; // TODO: Add icon font, font-awesome?

// Colours
$c__accent-light: #3d8;
$c__accent-dark: #0a5;

$c__neutral-1: #222;
$c__neutral-2: #444;
$c__neutral-3: #666;
$c__neutral-4: #888;
$c__neutral-5: #bbb;
$c__neutral-6: #ddd;
$c__neutral-7: #eee;
$c__neutral-8: #fff;

$c__link: #170880;
$c__link-hover: lighten($c__link, 20%);
$c__link-active: #800817;

// Breakpoints
$mq__a: 32em; // 512px
$mq__b: 45em; // 720px
$mq__c: 64em; // 1024px

// Grid
$g__col-width: 80px;
