//  ============================================================================
//  Variables
//  ============================================================================

// Units
$u__font-size: (16/16)*100%;
$u__baseline-unitless: 20/(16*($u__font-size/100%));
$u__baseline: $u__baseline-unitless * 1rem;
$u__gutter: 1.25rem;

// Fonts
$f__serif: 'Charter ITC Std', serif;
$f__sans-serif: 'Avenir Next', sans-serif;
$f__monospace: 'Source Code Pro', monospace;
$f__icon: 'Icons', serif; // TODO: Add icon font, font-awesome?

// Colours
$c__accent: #12c;
$c__accent--invert: #c21;

$c__neutral: #101112;
$c__neutral--1: lighten($c__neutral, 10%);
$c__neutral--2: lighten($c__neutral, 20%);
$c__neutral--3: lighten($c__neutral, 30%);
$c__neutral--4: lighten($c__neutral, 40%);
$c__neutral--5: lighten($c__neutral, 50%);
$c__neutral--6: lighten($c__neutral, 60%);
$c__neutral--7: lighten($c__neutral, 70%);
$c__neutral--8: lighten($c__neutral, 80%);
$c__neutral--9: lighten($c__neutral, 90%);

$c__link: lighten($c__accent, 0);
$c__link--hover: lighten($c__accent, 20%);
$c__link--active: $c__accent--invert;

$c__24-ways: #ff0040;
$c__unicef-uk: #00aeef;
$c__bradshaws-guide: #363330;
$c__matter: #874a88;
$c__dacs: #560a5e;
$c__the-week: #ed1c24;
$c__fontdeck: #d0021b;
$c__ngenera: #00173b;

// Breakpoints
$mq__a: 32em; // 512px
$mq__b: 45em; // 720px
$mq__c: 64em; // 1024px

// Grid
$g__col-width: 80px;
