/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
    color: $c_neutral-8;
    font-family: $f_sans-serif;
    background-color: $c_accent-light;
    background-image: none;
    padding: 0.5em;
    display: block;
}