/*  =========================================================================
    Pull left/right
    ========================================================================= */
.pull-left {
    float: left;
}
img.pull-left {
    margin: 0 1em 1em 0;
/*  width: 33%;*/
}
figure img.pull-left {
    margin: 0 1em 1em 0;
}

.pull-right {
    float: right;
}
img.pull-right {
    margin: 0 0 1em 1em;
/*  width: 33%;*/
}
figure img.pull-right {
    margin: 0.5em 0 0.5em 0;
}