<footer class="c-page__footer">
    <p>Published
        <span class="c-page__author u-hidden">
            by <a class="p-author h-card" href="{{ site.author.url }}" rel="author">{{ site.author.name }}</a>
        </span>

        <span class="c-page__pubdate">
            on <a class="c-page__link u-url" href="{{ page.url }}" rel="bookmark"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date:"%e %B %Y" }}</time></a>
        </span>

        {% if page.location %}
        {% assign page_location = page.location | split:", " %}
        <span class="c-page__location">
            in <span class="p-location h-adr"><span class="p-locality">{{ page_location[0] }}</span>, <span class="p-country-name">{{ page_location[1] }}</span></span>
        </span>
        {% endif %}

        {% if page.tags %}
        <span class="c-page__tags">
            and tagged: {% for tag in page.tags %}{% include tag.html tag=tag %}{% endfor %}
        </span>
        {% endif %}
    </p>
</footer>
