{% if page.series %}
{% assign series = site.documents | where:"series",page.series | sort:"date" %}
<aside class="c-section c-section--complementary" role="complementary" aria-labelledby="series">
  <header class="c-section__header">
    <h1 class="c-section__title" id="series">Also in This Series</h1>
  </header>

  <div class="c-section__main u-triad">
    {% for item in series %}
      {% if item.url != page.url %}
        {% include item/series.html %}
      {% endif %}
    {% endfor %}
  </div>
</aside>
{% endif %}
