{% if page.series %}
    {% assign series = site.posts | where:"series",page.series | sort:date %}
    <aside class="c-page__section c-container c-container--series" aria-labelledby="series">
        <header class="c-container__header">
            <h1 class="c-container__title" id="series">
                <span class="c-container--series__label">Series:</span>
                <span class="c-container--series__title">{{ page.series }}<span>
            </h1>
        </header>

        <div class="c-container__main">
            {% for item in series %}
                {% if item.url != page.url %}
                    {% include item/series.html %}
                {% endif %}
            {% endfor %}
        </div>
    </aside>
{% endif %}
