// ========================================================
// Global Variables
// ========================================================

// Units
$u__max-width: 60rem;
$u__rule-height: 0.0625rem;
$u__unit-height: 0.75rem;

// Units > Grids
$nested-ratio: (12 / 8);
$u__colspan1: (percentage(1/9) * $nested-ratio);
$u__colspan2: (percentage(2/12) * $nested-ratio);
$u__colspan3: (percentage(2/9) * $nested-ratio);
$u__colspan4: (percentage(4/12) * $nested-ratio);
$u__gutter: 1.5rem;

// Colours
$c__neutral-darkest: hsl(320, 20%, 7%);
$c__neutral-dark: hsl(320, 10%, 21%);
$c__neutral-mid: hsl(320, 5%, 42%);
$c__neutral-light: hsl(320, 2%, 70%);
$c__neutral-lightest: hsl(320, 0, 98%);

$c__primary: hsl(320, 67%, 50%);
$c__secondary: hsl(20, 67%, 50%);

$c__invalid: hsl(0, 67%, 50%);
$c__valid: hsl(180, 67%, 50%);

// Breakpoints
$b__a: 32rem; // 512px
$b__ax: 31.9375rem; // 511px
$b__b: 45rem; // 720px
$b__bx: 44.9375rem; // 719px
$b__c: ($u__max-width + 2rem);
$b__d: 65rem; // 1040px

// Breakpoints
$b__a: 32rem; // 512px
$b__ax: 31.9375rem; // 511px
$b__b: 45rem; // 720px
$b__bx: 44.9375rem; // 719px
$b__c: ($u__max-width + 2rem);
$b__d: 65rem; // 1040px

// Properties
:root {
  --page-gutter: 1rem;
  --page-background: #{$c__neutral-lightest};
  --page-text: #{$c__neutral-dark};

  @media (min-width: $b__a) {
    --page-gutter: 2rem;
  }

  @media (min-width: $b__c) {
    --page-gutter: 15vw;
  }
}

// Theming
.t-dark {
  --page-background: #{$c__neutral-darkest};
  --page-text: #{$c__neutral-lightest};
}
