/*  =========================================================================
    Banner
    ========================================================================= */

.c-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: rgba($c__neutral--9, 0.95);
    padding-bottom: ($u__baseline * 2);
    text-align: center;

    @include susy-media($b__a) {
        padding-bottom: 0;
        text-align: left;
    }

    .t-dark & {
        background-color: rgba($c__neutral--1, 0.95);
    }

    .t-home & {
        background-color: rgba($c__identity--1, 0.95);
    }
}

.c-banner__title {
    line-height: 0;
}

.c-banner__home {
    display: inline-block;
}

.c-banner__logo {
    width: ($u__baseline * 3);
    height: ($u__baseline * 3);
    fill: $c__neutral--2;

    @include susy-media($b__a) {
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }

    .t-dark &,
    .t-home & {
        fill: $c__neutral--9;
    }
}
