/*  =========================================================================
    Banner
    ========================================================================= */

.c-banner {
    text-align: center;

    @media (min-width: $b__a) {
        text-align: left;
    }
}

.c-banner__title {
    line-height: 0;
}

.c-banner__home {
    display: inline-block;
}

.c-banner__logo {
    width: ($u__baseline * 3);
    height: ($u__baseline * 3);
    fill: $c__neutral--2;

    @media (min-width: $b__a) {
        width: ($u__baseline * 4);
        height: ($u__baseline * 4);
    }

    @media screen {
        .t-inverted & {
            fill: $c__neutral--9;
        }
    }
}
