/*  =========================================================================
    Button
    ========================================================================= */

.c-button {
    @include ff--sans-serif;
    display: inline-block;
    border: 1px solid;
    background: none;
    padding: ($u__baseline / 2) $u__baseline;
    text-decoration: none;
    line-height: 1.25;
    font-weight: 700;

    &:hover {
        border-color: $c__identity--1;
        color: $c__identity--1;
    }
}
