/*  =========================================================================
    Content Info
    ========================================================================= */

.c-contentinfo {
    margin-bottom: ($u__baseline * 2);
}

.c-contentinfo__main {
    border-top: 1px solid;
    padding: ($u__baseline / 2) 0;
    line-height: (16 / 14);
    font-size: 0.875rem; // 14px

    @media screen and (min-width: $b__b) {
        margin-left: span(3 wide);
    }
}

.c-contentinfo__license {
    margin-bottom: ($u__baseline / 2);
}

.c-contentinfo__links {
    @media print {
        display: none;
    }
}
