/*  =========================================================================
    Container
    ========================================================================= */

.c-container {
    @include clearfix;
    margin-bottom: ($u__baseline * 3);
}

.c-container__header {
    margin-bottom: $u__baseline;
}

.c-container__main {
    > *:last-child {
        margin-bottom: 0;
    }
}

.c-container__title {
    @include ff--sans-serif;
    @include fs--heading-2;
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;
}


/* Index container */
.c-container--index {
    .c-container__header {
        @media (min-width: $b__a) {
            @include span(2 of 9 first);
        }
    }

    .c-container__main {
        @media (min-width: $b__a) {
            @include span(7 of 9 last);
        }
    }
}


/* Homepage intro */
.c-container--intro {
    @media (min-width: $b__b) {
        .c-container__header {
            @include span(3 first);
        }

        .c-container__main {
            @include span(9 at 3 last);
        }
    }

    .c-container__title {
        @include fs--heading-1;

        &::after {
            content: ',';
        }
    }
}


/* Homepage pitch */
.c-container--pitch {
    @media (min-width: $b__b) {
        @include span(7);
    }

    .c-container__title {
        @include fs--heading-3;
    }
}


/* Homepage extra */
.c-container--extra {
    @media (min-width: $b__b) {
        @include span(5 at 8);
    }

    .c-container__title {
        @include fs--heading-3;
    }
}


/* Projects, Series */
.c-container--projects,
.c-container--series {
    @media (min-width: $b__b) {
        margin-right: (-$r__span1-wide);
    }

    .c-item,
    .c-nav__item {
        @include gallery(2 of 4);

        @media (min-width: $b__b) {
            @include gallery(2 of 6);
        }
    }
}
