/*  =========================================================================
    Content Info
    ========================================================================= */

.c-contentinfo {
    margin-top: $u__baseline;
    margin-bottom: $u__baseline;
    text-align: center;
    line-height: (16 / 14);
    font-size: 0.875rem; // 14px

    @include susy-media($b__b) {
        text-align: left;
    }
}

.c-contentinfo__legal {
    border-top: 0.05rem solid;
    padding: ($u__baseline / 2) 0;

    @include susy-media($b__b) {
        margin-left: span(1 wide);
    }
}

.c-contentinfo__copyright {
    font-size: 100%;
}

.c-contentinfo__links {
    @include susy-media($b__b) {
        margin-left: span(1 wide);
    }
}
