/*  =========================================================================
    Container
    ========================================================================= */

.c-container {
    @include clearfix;
    margin-bottom: $u__baseline;

    + .c-container {
        border-top: 1px solid $c__neutral--a;
        padding-top: ($u__baseline / 4);

        .t-inverted & {
            border-color: $c__neutral--9a;
        }
    }
}

.c-container__header {
    margin-bottom: $u__baseline;
}

.c-container__title {
    @include ff--sans-serif;
    @include fs--heading-2;
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;
}


/* Index container */
.c-container--index {
    .c-container__header {
        @media (min-width: $b__a) {
            @include span(1 of (3 3 3 3) first);
        }
    }

    .c-container__main {
        @media (min-width: $b__a) {
            @include span(3 of (3 3 3 3) last);
        }
    }
}


/* Homepage intro */
.c-container--intro {
    @media (min-width: $b__b) {
        .c-container__header {
            @include span(1 first);
        }

        .c-container__main {
            @include span(4 at 2 last);
        }
    }

    .c-container__title {
        @include fs--heading-1;

        &::after {
            content: ',';
        }
    }

    .p-name {
        @include text-decoration-color('none');
    }
}


/* Homepage pitch */
.c-container--pitch {
    @media (min-width: $b__b) {
        @include span(3);
    }

    .s-lede {
        @include fs--body;
        line-height: (5/4);
    }
}


/* Homepage extra */
.c-container--extra {
    @media (min-width: $b__b) {
        @include span(2 at 4);
    }

    .s-lede {
        @include fs--body;
        line-height: (5/4);
    }
}


/* Projects */
.c-container--projects {
    .c-nav__item {
        @include gallery(2 of 4);

        @media (min-width: $b__b) {
            @include gallery(2 of 6);
        }
    }
}
