/*  =========================================================================
    Content Info
    ========================================================================= */

.c-contentinfo {
    margin-top: $u__baseline;
    margin-bottom: $u__baseline;
    text-align: center;
    line-height: (16 / 14);
    font-size: 0.875rem; // 14px

    @media (min-width: $b__b) {
        text-align: left;
    }
}

.c-contentinfo__legal {
    border-top: 1px solid $c__neutral--a;
    padding: ($u__baseline / 2) 0;

    @media (min-width: $b__b) {
        margin-left: span(1 wide);
    }

    .t-inverted & {
        border-color: $c__neutral--9a;
    }
}

.c-contentinfo__copyright {
    font-size: 100%;
}

.c-contentinfo__links {
    @media (min-width: $b__b) {
        margin-left: span(1 wide);
    }

    @media print {
        display: none;
    }
}
