/*  =========================================================================
    Embeded content
    ========================================================================= */

[class*="c-embed--"] {
    position: relative;
    background-color: $c__neutral--a;
    padding-bottom: percentage(2/3);
    height: 0;
}

.c-embed--video {
    padding-bottom: percentage(9/16);
}

.c-embed--slidedeck {
    padding-top: 63px; // Speaker Deck player header and footer chrome height
    padding-bottom: percentage(3/4);
}

.c-embed__iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
