/*  =========================================================================
    EXIF
    ========================================================================= */

.c-exif__title {
    position: absolute;
    top: ($u__baseline / 2);
}

.c-exif__values {
    position: absolute;
    bottom: 0;
}

.c-exif__value {
    margin-left: 0;
    opacity: 0.66;

    &:nth-child(2n+2) {
        float: left;
        width: 50%;
    }

    &[data-exif="date_created"],
    &[data-exif="model"] {
        width: 100%;
    }
}
