/*  =========================================================================
    EXIF
    ========================================================================= */

.exif {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.exif__title {
    position: absolute;
    top: ($u__baseline / 2);
}

.exif__values {
    position: absolute;
    bottom: 0;
}

.exif__value {
    @include gallery(1 of 2);
    margin-left: 0;

    &[data-exif="date_created"],
    &[data-exif="model"] {
        @include span(full);
    }
}
