/*  =========================================================================
    EXIF
    ========================================================================= */

.c-exif__title {
    @include susy-media($b__c) {
        position: absolute;
        top: ($u__baseline / 2);
    }
}

.c-exif__values {
    margin-bottom: $u__baseline;
    overflow: hidden;

    @include susy-media($b__c) {
        position: absolute;
        bottom: 0;
    }
}

.c-exif__value {
    float: left;
    opacity: 0.66;
    margin-left: 0;
    width: 25%;

    &:nth-child(2n+2) {
        @include susy-media($b__c) {
            width: 50%;
        }
    }

    &[data-exif="date_created"],
    &[data-exif="model"] {
        width: 50%;

        @include susy-media($b__c) {
            width: 100%;
        }
    }
}
