/*  =========================================================================
    Figure
    ========================================================================= */
.c-figure {
    @include clearfix;
    margin-bottom: ($u__baseline * 2);
}

.c-figure__main {
    img {
        display: block;
        max-width: 100%;
    }
}

.c-figure__caption {
    @include ff--sans-serif;
    @include fs--caption;
    margin-top: $u__baseline;

    p {
        margin-bottom: $u__baseline;
    }

    .u-bleed &,
    .u-extend & {
        margin-right: $u__baseline;
        margin-left: $u__baseline;

        @media (min-width: $b__a) {
            margin-right: ($u__baseline * 2);
            margin-left: ($u__baseline * 2);
        }

        @media (min-width: $b__b) {
            $margin-left: span(1 wide);
            $gutter-left: $u__baseline;

            padding-left: calc(#{$margin-left} - #{$gutter-left});
        }

        @media (min-width: $b__c) {
            margin-right: 0;
            margin-left: 0;
            padding-left: span(1 wide);
        }
    }
}


/* Caption positioning */
.c-figure--caption-right {
    .c-figure__main {
        @media (min-width: $b__c) {
            @include span(3 at 1 of (3 3 3 3));
        }
    }

    .c-figure__caption {
        @media (min-width: $b__c) {
            @include rule(before);
            @include rule(after, $display: none);
            @include span(1 at 4  of (3 3 3 3));
            margin-top: 0;
        }
    }

    &.u-bleed {
        .c-figure__main {
            @media (min-width: $b__c) {
                @include span(3 at 1 of (4 3 3 3 3));
            }
        }

        .c-figure__caption {
            @media (min-width: $b__c) {
                @include span(2 at 4 of (4 3 3 3 3));
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}


/* Photo */
.c-figure--photo {
    position: relative;
    margin-bottom: ($u__baseline * 3);
    min-height: ($u__baseline * 10);

    .c-figure__main {
        @include clearfix;
        background-color: $c__neutral--a;
    }

    .c-figure__caption {
        @media (min-width: $b__c) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}


/* Image groups */
[class*="figure--image"] {
    .c-figure__main {
        @include clearfix;
        margin-top: ($u__baseline * -1.5);
    }

    img {
        @include gutters($u__baseline);
        margin-top: ($u__baseline * 1.5);
    }
}

.c-figure--image-duo {
    img {
        @include gallery(4 of 8);
    }
}

.c-figure--image-trio {
    img {
        @include gallery(3 of 9);
    }
}

.c-figure--image-quartet {
    img {
        @include gallery(2 of 8);
    }
}

.c-figure--image-quintet {
    img {
        @include gallery(2 of 10);
    }
}
