/*  =========================================================================
    Figure
    ========================================================================= */

.c-figure {
    @include clearfix;
    margin-bottom: $u__baseline;
}

.c-figure__main {
    img {
        display: block;
        max-width: 100%;
    }
}

.c-figure__caption {
    @include ff--sans-serif;
    @include fs--caption;
    margin-top: $u__baseline;
    margin-bottom: $u__baseline;

    p {
        margin-bottom: $u__baseline;
        color: $c__neutral-4;
    }

    .u-bleed & {
        margin-right: $u__baseline;
        margin-left: $u__baseline;

        @media (min-width: $b__a) {
            margin-right: ($u__baseline * 2);
            margin-left: ($u__baseline * 2);
        }

        @media screen and (min-width: $b__b) {
            margin-right: 0;
            margin-left: 0;
            padding-left: span(3 wide);
        }
    }

    .u-extend & {
        @media screen and (min-width: $b__b) {
            padding-left: span(3 wide);
        }
    }
}


/* Caption positioning */
.c-figure--caption-right {
    @extend %u-extend;

    .c-figure__main {
        @media (min-width: $b__c) {
            @include span(8 first);
        }
    }

    .c-figure__caption {
        @media (min-width: $b__c) {
            @include span(4 last);
            margin-top: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }
}


/* Photo */
.c-figure--photo {
    position: relative;
    margin-bottom: ($u__baseline * 3);
    min-height: ($u__baseline * 10);

    .c-figure__main {
        @include background-placeholder;
    }
}


/* Image groups */
[class*="figure--image"] {
    .c-figure__main {
        @include clearfix;
        margin-top: ($u__baseline * -1.5);
    }

    img {
        @include gutters($u__baseline);
        margin-top: ($u__baseline * 1.5);
    }
}

.c-figure--image-duo {
    img {
        @include gallery(4 of 8);
    }
}

.c-figure--image-trio {
    img {
        @include gallery(3 of 9);
    }
}

.c-figure--image-quartet {
    img {
        @include gallery(2 of 8);
    }
}

.c-figure--image-quintet {
    img {
        @include gallery(2 of 10);
    }
}

/* Tweet */
.c-figure--tweet {
    blockquote {
        @include ff--sans-serif;
        @include fs--lede;
        position: relative;
        border: 1px solid rgba($c__neutral-1, 0.2);
        padding: $u__baseline;

        &::before { // Double colon not supported in IE8 so can use a transform
            display: block;
            position: absolute;
            top: auto;
            bottom: -0.85rem;
            left: ($u__baseline * 1.5);
            transform: rotate(-45deg);
            opacity: 1;
            border-bottom: 1px solid rgba($c__neutral-1, 0.2);
            border-left: 1px solid rgba($c__neutral-1, 0.2);
            background-color: $c__neutral-9;
            width: 1.5rem;
            height: 1.5rem;
            content: '';
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
