/*  =========================================================================
    Figure
    ========================================================================= */
.figure {
    margin-bottom: ($u__baseline * 1.5);
}

.figure__main {
    margin-bottom: ($u__baseline / 2);
}

.figure__caption {
    @include ff--sans-serif;
    @include fs--caption;
    @include rule(after);

    p {
        margin-bottom: ($u__baseline / 2);
    }

    .l-extend & {
        //padding-right: (gutter());
        //padding-left: (gutter());

        @include susy-media($b__a) {
            padding-left: span(1 wide);
        }
    }
}


/* Caption positioning */
.figure--caption-right {
    @include clearfix;

    .figure__main {
        @include susy-media($b__a) {
            @include span(3 at 1 of (3 3 3 3));
        }
    }

    .figure__caption {
        padding-left: 0;

        @include susy-media($b__a) {
            @include rule(before);
            @include rule(after, $display: none);
            @include span(1 at 4  of (3 3 3 3));
        }
    }

    &.l-extend {
        .figure__main {
            @include susy-media($b__a) {
                @include span(3 at 1 of (4 3 3 3 3));
            }
        }

        .figure__caption {
            @include susy-media($b__a) {
                @include span(2 at 4 of (4 3 3 3 3));
            }
        }
    }
}


/* Image groups */
[class*="figure--image"] {
    .figure__main {
        @include clearfix;
        margin-top: ($u__baseline * -1.5);
    }

    img {
        margin-top: ($u__baseline * 1.5);
    }
}

.figure--image-duo {
    img {
        @include gallery(1 of 2);
    }
}

.figure--image-trio {
    img {
        @include gallery(1 of 3);
    }
}

.figure--image-quartet {
    img {
        @include gallery(1 of 4);
    }
}

.figure--image-quintet {
    @include with-layout(10, 0.2) {
        img {
            @include gallery(1 of 5);
        }
    }
}


/* Photo */
.figure--photo {
    position: relative;
    margin-bottom: ($u__baseline * 3);
    min-height: ($u__baseline * 8);

    .figure__main {
        @include clearfix;
        margin-bottom: 0;
        background-color: $c__neutral--a;
    }

    img {
        margin: 0 auto;
    }
}


/* Tweet */
.figure--tweet {
    blockquote {
        position: relative;
        border-left: 0;
        background-color: $c__neutral--8;
        padding: $u__baseline;

        &::after {
            display: block;
            position: absolute;
            bottom: ($u__baseline / -2);
            left: ($u__baseline * 1.5);
            transform: rotate(45deg);
            background-color: $c__neutral--8;
            width: $u__baseline;
            height: $u__baseline;
            content: '';
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .figure__caption {
        @include rule(after, none);
    }
}
