/*  =========================================================================
    Hero
    ========================================================================= */

$u__shadow-size: 4px;

.c-hero {
    position: relative;
    margin-bottom: ($u__baseline * 2);
    border-bottom: 1px solid $c__neutral--1a;
    padding-bottom: 40%;
    overflow: hidden;
}

.c-hero__screen {
    display: block;
    position: absolute;
    top: 0;
}

.c-hero__screen--desktop,
.c-hero__screen--desktop-1,
.c-hero__screen--desktop-2 {
    box-shadow: 0 0 0 1px $c__neutral--1a, 0 0 $u__shadow-size 2px $c__neutral--1a;
    width: span(3 at 3);
}

.c-hero__screen--desktop,
.c-hero__screen--desktop-1 {
    top: ($u__baseline * 2);
    z-index: 1;
}

.c-hero__screen--desktop-2 {
    top: $u__shadow-size;
    right: ($u__baseline * 2);
    z-index: 2;
}

.c-hero__screen--tablet {
    top: 0;
    right: 10%;
    z-index: 2;
    background-image: url(asset_path('hero-tablet.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5.5% 2% 0;
    width: span(2 at 3);
}

.c-hero__screen--mobile {
    top: ($u__baseline * 6);
    right: 0;
    z-index: 3;
    background-image: url(asset_path('hero-mobile.png'));
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2.5% 0.8% 0;
    width: span(1 at 3);
}
