/*  =========================================================================
    Hero
    ========================================================================= */

$u__shadow-size: 4px;

.c-hero {
    position: relative;
    border-bottom: 1px solid $c__neutral--a;
    padding-bottom: 50%;
    overflow: hidden;
}

.c-hero__screen {
    display: block;
    position: absolute;
    top: 0;
}

.c-hero__screen[src*="desktop"] {
    box-shadow: 0 0 0 1px $c__neutral--a, 0 0 $u__shadow-size 2px $c__neutral--a;
    width: span(3 at 3);
}

.c-hero__screen[src*="desktop_1"] {
    top: ($u__baseline * 2);
    left: $u__baseline;
    z-index: 1;

    @include susy-media($b__a) {
        left: ($u__baseline * 2);
    }
}

.c-hero__screen[src*="desktop_2"] {
    top: $u__shadow-size;
    right: $u__baseline;
    z-index: 2;

    @include susy-media($b__a) {
        right: ($u__baseline * 2);
    }
}

.c-hero__screen[src*="mobile"] {
    top: ($u__baseline * 6);
    right: ($u__baseline * 2);
    z-index: 3;
    background-image: url(asset_path('mobile.png'));
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.5% 0.8% 0;
    width: span(1 at 3);

    @include susy-media($b__a) {
        right: 0;
    }
}
