/*  =========================================================================
    Hero
    ========================================================================= */

$u__shadow-size: 4px;

.c-hero {
    position: relative;
    margin-bottom: $u__baseline;
    border-bottom: 1px solid rgba($c__neutral-0, 0.2);
    padding-bottom: 40%;
    overflow: hidden;

    @media screen and (min-width: $b__b) {
        &.u-extend {
            padding-bottom: 60%;
        }
    }
}

.c-hero__screen {
    display: block;
    position: absolute;
    top: $u__shadow-size;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Desktop screens */
.c-hero__screen--desktop,
.c-hero__screen--desktop-1,
.c-hero__screen--desktop-2 {
    box-shadow: 0 0 0 1px rgba($c__neutral-0, 0.2), 0 0 $u__shadow-size 2px rgba($c__neutral-0, 0.2);
    width: 56%;
}

.c-hero__screen--desktop,
.c-hero__screen--desktop-1 {
    top: ($u__baseline * 2);
    left: $u__shadow-size;
    z-index: 1;

    @media (min-width: $b__b) {
        left: ($u__baseline * 2);
    }
}

.c-hero__screen--desktop-2 {
    top: $u__shadow-size;
    right: $u__shadow-size;
    z-index: 2;

    @media (min-width: $b__b) {
        right: ($u__baseline * 2);
    }
}

/* Tablet screen */
.c-hero__screen--tablet,
.c-hero__screen--tablet-1 {
    top: $u__shadow-size;
    right: 16%;
    z-index: 2;
    background-image: url(asset_path('device-tablet-portrait.svg'));
    padding: 5.4% 2.1%;
    width: 36%;
}

.c-hero__screen--tablet-1 {
    right: $u__shadow-size;
    z-index: 3;

    @media (min-width: $b__b) {
        right: ($u__baseline * 2);
    }
}

.c-hero__screen--tablet-2 {
    top: auto;
    bottom: ($u__baseline * -1.5);
    left: 16%;
    z-index: 2;
    background-image: url(asset_path('device-tablet-landscape.svg'));
    padding: 2.1% 5.4%;
    width: (36% * 946/640); // Width/height of tablet image
}

/* Phablet screen */
.c-hero__screen--phablet {
    top: ($u__baseline * 2);
    left: span(3 wide);
    z-index: 1;
    background-image: url(asset_path('device-phablet.svg'));
    padding: 4.8% 1.6% 0;
    width: 24%;
}

/* Phone screen */
.c-hero__screen--phone {
    top: 24%;
    right: $u__baseline;
    z-index: 3;
    background-image: url(asset_path('device-phone.svg'));
    padding: 2.4% 0.8% 0;
    width: 16%;
}
