/*  =========================================================================
    Index
    ========================================================================= */

.c-index__header {
    padding-bottom: ($u__baseline * 1.5);

    @include susy-media($b__b) {
        @include span(1 first);
        padding-bottom: ($u__baseline * 3);
    }
}

.c-index__main {
    margin-bottom: ($u__baseline * 2);

    @include susy-media($b__b) {
        @include span(4 at 2 last);
        margin-top: ($u__baseline * 1.5);
    }
}

.c-index__title {
    @include fs--heading-1;
    font-weight: 700;
    word-break: break-all;
}
