/*  =========================================================================
    Index
    ========================================================================= */

.c-index {
    @include clearfix;
    position: relative;
}

.c-index__header {
    padding-bottom: ($u__baseline * 1.5);

    @media (min-width: $b__b) {
        @include span(3 first);
    }

    // Hide title on smallest breakpoint, as can be seen in sticky header
    .c-index--landing & {
        @media (max-width: $b__a) {
            display: none;
        }
    }
}

.c-index__section {
    @include clearfix;
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        @include span(9 last);
    }

    .c-item {
        margin-right: span(1);
    }
}

.c-index__title {
    @include fs--heading-1;
    font-weight: 700;

    @media (min-width: $b__b) {
        @include fs--heading-2;
    }
}
