/*  =========================================================================
    Items
    ========================================================================= */

.item {
    display: flex;
    position: relative;
    margin-bottom: ($u__baseline * 2);
    flex-direction: column;
}

.item__header {
    order: 1;
}

.item__footer {
    margin-bottom: $u__baseline;
    order: 2;
}

.item__main {
    order: 3;

    ol,
    ul {
        list-style-position: inside;
    }
}

.item__title {
    @include fs--heading-3;
}

.item__body {
    > * {
        margin-bottom: ($u__baseline * 0.75);
    }
}

.item__meta {
    @include fs--caption;
    color: $c__neutral--4;
}

.item__pubdate {
    color: $c__neutral--4;
}

.item__avatar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $c__neutral--a;
    width: span(1 of 8);
    height: auto;
}


/* Article */
.item--article,
.item--presentation {
    margin-bottom: $u__baseline;
}


/* Entry */
.item--album,
.item--entry,
.item--project {
    .item__title {
        @include fs--heading-2;
    }
}


/* Link */
.item--link {
    @include susy-media($b__c) {
        padding-right: span(1 of 6);
    }

    .item__title a[href^="http://"]::after {
        content: ' \2192';
    }
}


/* Remark */
.item--remark {
    @include susy-media($b__c) {
        padding-right: span(1 of 6);
    }
}


/* Project */
.item--project {
    @include span(2 of 6);

    &:nth-child(3n) {
        @include last;
    }

    &:nth-child(3n+1) {
        clear: left;
    }

    &:last-child {
        float: left;
    }
}
