/*  =========================================================================
    Items
    ========================================================================= */

.c-item {
    display: flex;
    position: relative;
    margin-bottom: ($u__baseline * 2.5);
    flex-direction: column;
}

.c-item__header {
    order: 1;
}

.c-item__footer {
    margin-bottom: ($u__baseline / 2);
    order: 2;
}

.c-item__main {
    order: 3;
}

.c-item__title {
    @include fs--heading-3;
}

.c-item__meta {
    @include fs--caption;
    color: $c__neutral--3;
}

.c-item__pubdate {
    color: $c__neutral--3;
}

.c-item__avatar {
    position: absolute;
    top: ($u__baseline / 2);
    left: 0;
    background-color: $c__neutral--a;
    width: span(1 of 8);
    height: auto;

    @media (min-width: $b__b) {
        left: ((span(1 of 8) + gutter()) * -1);
    }
}


/* Entry */
.c-item--album,
.c-item--entry,
.c-item--project {
    .c-item__title {
        @include fs--heading-2;
        padding-top: ($u__baseline / 2);
        padding-bottom: ($u__baseline / 4);
        font-weight: 700;
    }
}


/* Link */
.c-item--link {
    .c-item__title a[href^="http://"]::after {
        content: ' \2192';
    }
}


/* Remark */
.c-item--remark {
    padding-left: (span(1 of 8) + gutter());

    @media (min-width: $b__b) {
        padding-left: 0;
    }

    @media (min-width: $b__c) {
        padding-right: span(1 of 4 wide);
    }
}


/* Album */
.c-item--album {
    padding-left: ($u__baseline * 7);
    min-height: ($u__baseline * 6);

    .c-item__photo {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 4px 4px $c__neutral--a;
        width: ($u__baseline * 6);
        height: ($u__baseline * 6);
    }
}


/* Project */
.c-item--project {
    @include gallery(2 of 4);

    @media (min-width: $b__c) {
        @include gallery(2 of 6);
    }
}
