/*  =========================================================================
    Items
    ========================================================================= */

.c-item {
    position: relative;
    margin-bottom: ($u__baseline * 3);
}

.c-item__footer {
    margin-bottom: ($u__baseline / 2);
}

.c-item__title {
    @include fs--heading-3;
}

.c-item__meta {
    @include fs--caption;
    color: $c__neutral-4;
}

.c-item__avatar {
    @include background-placeholder;
    position: absolute;
    top: ($u__baseline / 4);
    left: 0;
    width: span(1 of 8);
    height: auto;

    @media (min-width: $b__b) {
        left: ((span(1 of 8) + gutter()) * -1);
    }
}


/* Entry */
.c-item--album,
.c-item--entry,
.c-item--project {
    .c-item__title {
        @include fs--heading-2;
        padding-bottom: ($u__baseline / 4);
        font-weight: 700;
    }
}


/* Remark */
.c-item--remark {
    padding-left: (span(1 of 8) + gutter());

    @media screen and (min-width: $b__b) {
        padding-left: 0;
    }
}


/* Album */
.c-item--album {
    padding-left: ($u__baseline * 7);
    min-height: ($u__baseline * 7);

    .c-item__cover {
        position: absolute;
        top: 0;
        left: 0;

        &::before,
        &::after {
            position: absolute;
            background: $c__neutral-7;
            height: 1px;
            content: '';
        }

        &::before {
            top: -4px;
            right: 8px;
            left: 8px;
        }

        &::after {
            top: -2px;
            right: 4px;
            left: 4px;
        }
    }

    .c-item__cover-photo {
        width: ($u__baseline * 6);
        height: ($u__baseline * 6);
    }
}
