/*  =========================================================================
    Lede
    ========================================================================= */

.lede {
    @include ff--sans-serif;
    @include fs--heading-3;
    margin-bottom: ($u__baseline * 2);
    font-feature-settings: 'liga', 'dlig', 'onum';

    > p,
    > ul,
    > ol,
    > dl {
        margin-bottom: ($u__baseline * 0.75);
    }
}
