/*  =========================================================================
    Main content
    ========================================================================= */

.c-main {
    @media print {
        padding-top: ($u__baseline * 4);
    }

    @media screen {
        padding-top: ($u__baseline * 6);
    }

    @media screen and (min-width: $b__c) {
        padding-top: ($u__baseline * 10);
    }

    a {
        color: $c__identity--1;

        .t-inverted & {
            color: $c__neutral--8;
        }
    }

    a:hover {
        color: $c__identity--2;

        .t-inverted & {
            color: $c__neutral--9;
        }
    }

    a:active {
        color: lighten($c__identity--2, 10%);

        .t-inverted & {
            color: lighten($c__neutral--9, 10%);
        }
    }
}
