/*  =========================================================================
    Main content
    ========================================================================= */

.c-main {
    padding-top: ($u__baseline * 6);

    @include susy-media($b__c) {
        padding-top: ($u__baseline * 8);
    }

    a {
        color: $c__identity--1;

        .t-dark &,
        .t-home & {
            color: $c__neutral--8;
        }
    }

    a:hover {
        color: $c__identity--2;

        .t-dark &,
        .t-home & {
            color: $c__neutral--9;
        }
    }

    a:active {
        color: lighten($c__identity--2, 10%);

        .t-dark &,
        .t-home & {
            color: lighten($c__neutral--9, 10%);
        }
    }
}
