/*  =========================================================================
    Meta
    ========================================================================= */

.c-meta {
    @include ff--sans-serif;
    @include fs--caption;
    overflow: hidden;
}

.c-meta__title {
    @media (max-width: $b__b) {
        @include span(3 first);
        clear: left;
        padding-bottom: $u__baseline;
    }
}

.c-meta__value {
    margin-left: 0;
    padding-bottom: $u__baseline;

    @media (max-width: $b__b) {
        @include span(9 last);
    }

    p {
        margin: 0;
    }

    li {
        list-style-position: inside;
    }
}
