/*  =========================================================================
    Meta
    ========================================================================= */

.c-meta {
    @include ff--sans-serif;
    @include fs--caption;
}

.c-meta__title {
    @include rule($height: 1px);

    &:first-of-type {
        @include rule;
    }
}

.c-meta__value {
    margin-left: 0;
    padding-bottom: $u__baseline;

    p {
        margin: 0;
    }

    li {
        list-style-position: inside;
    }
}
