/*  =========================================================================
    Nav
    ========================================================================= */

.c-nav__item {
    &.is-active {
        font-weight: 700;
    }
}


/* Series navigation */
.c-nav--series {
    @include ff--sans-serif;
    @include fs--caption;

    .c-nav__item__label {
        display: block;
        background: none;
        padding-bottom: $u__baseline;
        line-height: 1;
    }
}


/* Page navigation */
.c-nav--pagination {
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        position: absolute;
        bottom: 0;
    }

    @media print {
        display: none;
    }

    .c-nav__item {
        float: left;
        margin-right: $u__baseline;
        font-weight: 700;
    }

    .c-nav__item--prev::before {
        content: '\27E8\00A0';
    }

    .c-nav__item--next::after {
        content: '\00A0\27E9';
    }
}
