/*  =========================================================================
    Nav
    ========================================================================= */

.c-nav__item {
    &.is-active {
        font-weight: 700;
    }
}


/* Primary navigation */
.c-nav--primary {
    @include clearfix;
    margin-top: ($u__baseline * 3);
    padding-top: ($u__baseline * 0.5);
    padding-bottom: ($u__baseline * 0.5);

    @include susy-media($b__a) {
        margin-top: 0;
        margin-left: span(1 wide);
        padding-top: ($u__baseline * 2);
        padding-bottom: $u__baseline;
        width: span(4 last);
        text-align: right;
        line-height: (16/18);
        font-size: 1.125rem; // 18px
    }

    .c-nav__item {
        @include span(1 of 4);

        @include susy-media($b__a) {
            display: inline-block;
            float: none;
            margin-right: gutter();
            text-align: right;
        }

        @include susy-media($b__b) {
            width: span(1 of 6);
        }
    }

    .c-nav__item:last-child {
        margin-right: 0;
    }
}


/* Series navigation */
.c-nav--series {
    @include ff--sans-serif;
    @include fs--caption;

    .c-nav__item__label {
        display: block;
        border-top: 1px solid;
        padding-top: ($u__baseline / 8);
        padding-bottom: $u__baseline;
    }
}


/* Page navigation */
.c-nav--pagination {
    @include rule;
    overflow: hidden;

    @include susy-media($b__c) {
        @include rule($display: none);
    }

    .c-nav__item {
        float: left;
        margin-right: $u__baseline;
        font-weight: 700;

        @include susy-media($b__c) {
            overflow: hidden;
            position: fixed;
            bottom: ($u__baseline * 1.5);
            transition: all 0.2s;
        }
    }

    .c-nav__item__label {
        @include susy-media($b__c) {
            display: none;
            line-height: ($u__baseline * 4);
            height: ($u__baseline * 4);
            float: left;
        }
    }

    .c-nav__item--prev {
        &::before {
            content: "\27E8";
            color: $c__neutral--a;

            @include susy-media($b__c) {
                font-size: ($u__baseline * 4);
                float: left;
                height: ($u__baseline * 4);
                line-height: ($u__baseline * 4);
                display: block;
            }
        }

        @include susy-media($b__c) {
            margin-left: $u__baseline;
            left: 0;
        }
    }

    .c-nav__item--next {
        &::after {
            content: "\27E9";

            @include susy-media($b__c) {
                font-size: ($u__baseline * 4);
                float: left;
                height: ($u__baseline * 4);
                line-height: ($u__baseline * 4);
                display: block;
                color: $c__neutral--a;
            }
        }

        @include susy-media($b__c) {
            right: 0;
        }
    }

    // Hover states
    .c-nav__item--prev:hover::before,
    .c-nav__item--next:hover::after {
        @include susy-media($b__c) {
            color: $c__neutral--6;
        }
    }
}
