/*  =========================================================================
    Nav
    ========================================================================= */

.c-nav__item {
    &.is-active {
        font-weight: 700;
    }
}


/* Chapter navigation */
.c-nav--chapters {
    @include ff--sans-serif;
    @include fs--caption;
    margin-bottom: $u__baseline;

    .c-nav__title {
        @include fs--lede;
        margin-bottom: $u__baseline;
    }

    .c-nav__item__label {
        display: block;
        padding-bottom: ($u__baseline * 1.25);
        line-height: 1;
    }

    @media print {
        display: none;
    }
}


/* Page navigation */
.c-nav--pagination {
    @include fs--caption;
    margin-bottom: ($u__baseline * 2);
    overflow: hidden;

    @media (min-width: $b__b) {
        position: absolute;
        bottom: 0;
    }

    @media print {
        display: none;
    }

    .c-nav__item {
        float: left;
        margin-right: $u__baseline;
    }

    .c-nav__item--prev::before {
        font-family: sans-serif;
        content: '\27E8\2009';
    }

    .c-nav__item--next::after {
        font-family: sans-serif;
        content: '\2009\27E9';
    }

    .c-nav__item__label {
        font-weight: 700;
    }
}
