/*  =========================================================================
    Navigation
    ========================================================================= */

.c-navigation {
    position: absolute;
    top: ($u__baseline * 3);
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: rgba($c__neutral--9, 0.95);

    &.is-fixed {
        position: fixed;
        top: 0;
        box-shadow: 0 0 10px $c__neutral--a;
    }

    @media (min-width: $b__a) {
        top: 0;
        height: 0;
    }

    @media print {
        display: none;
        position: static;
    }
}

.c-navigation__links {
    @media (min-width: $b__a) {
        @include span(4 at 2 last);
        line-height: (20/18);
        font-size: 1.125rem; // 18px
    }
}

.c-navigation__link {
    @include span(1 of 4);
    display: block;
    padding-top: ($u__baseline * 0.5);
    padding-bottom: ($u__baseline * 0.5);

    @media (min-width: $b__a) {
        @include span(1 of $g__inner at 1);
        padding-top: ($u__baseline * 2);
        padding-bottom: $u__baseline;
    }

    &:last-child {
        margin-right: 0;
    }

    &.is-active {
        font-weight: 700;

        .is-fixed & {
            box-shadow: inset 0 2px 0 0;
        }

        @media (min-width: $b__a) {
            box-shadow: inset 0 3px 0 0;
        }
    }
}

.c-navigation__link:hover {
    .is-fixed & {
        box-shadow: inset 0 2px 0 0;
    }

    @media (min-width: $b__a) {
        box-shadow: inset 0 3px 0 0;
    }
}
