/*  =========================================================================
    Page
    ========================================================================= */

.c-page {
    position: relative;
}

.c-page__header {
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        padding-top: 0;
        padding-left: span(3 wide);
    }

    .c-page--index & {
        @media (min-width: $b__b) {
            width: span(3 first);
            position: absolute;
            padding-left: 0;
        }
    }
}

.c-page__section,
.c-page__footer {
    @include clearfix;
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        padding-right: span(1 wide);
        padding-left: span(3 wide);
    }
}

.c-page__footer {
    @include ff--sans-serif;
    @include fs--caption;

    p {
        margin: 0;
    }
}

.c-page__title {
    @include fs--heading-1;
    margin-bottom: $u__baseline;
    font-weight: 700;

    .c-page--index & {
        @media (min-width: $b__b) {
            @include fs--heading-2;
        }
    }
}

.c-page__excerpt {
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        margin-bottom: ($u__baseline * 4);
    }
}
