/*  =========================================================================
    Page
    ========================================================================= */

.c-page {
    position: relative; // Required for .c-page__pubdate
}

.c-page__header {
    margin-top: $u__baseline;
    margin-bottom: $u__baseline;

    @include susy-media($b__b) {
        margin-top: 0;
        margin-bottom: ($u__baseline * 2);
        padding-left: span(1 wide);
    }
}

.c-page__main {
    margin-bottom: ($u__baseline * 2);

    @include susy-media($b__b) {
        padding-left: span(1 wide);
    }
}

.c-page__title {
    @include fs--heading-1;
    margin-bottom: $u__baseline;
    font-weight: 700;
}

.c-page__location {
    @include ff--sans-serif;
    @include fs--caption;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
}

.c-page__pubdate {
    @include ff--sans-serif;
    @include fs--caption;
    position: absolute;
    top: 0;
    left: 0;
    color: $c__neutral--4;

    @include susy-media($b__b) {
        top: 1.75rem;
    }
}

.c-page__tags,
.c-page__discussion {
    @include rule;
    margin-bottom: ($u__baseline * 2);

    @include susy-media($b__b) {
        @include span(4 at 2);
    }
}

.c-page__tags {
    .c-container__header {
        float: left;
    }

    .c-container__title {
        @include fs--caption;
        margin-right: ($u__baseline / 2);
        line-height: 1.5;
    }

    .list--inline {
        display: inline-block;
    }
}
