/*  =========================================================================
    Page
    ========================================================================= */

.c-page__header {
    @media screen and (min-width: $b__b) {
        margin-bottom: ($u__baseline * 2);
        padding-top: 0;
        padding-left: span(3 wide);
    }

    .c-page--index & {
        @media screen and (min-width: $b__b) {
            position: absolute;
            padding-left: 0;
            width: span(3 first);
        }
    }
}

.c-page__section,
.c-page__footer {
    @include clearfix;
    margin-bottom: ($u__baseline * 2);

    @media screen and (min-width: $b__b) {
        padding-right: span(1 wide);
        padding-left: span(3 wide);
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.c-page__footer {
    @include ff--sans-serif;
    @include fs--caption;

    p {
        margin: 0;
    }
}

.c-page__title {
    @include fs--title;
    margin-bottom: ($u__baseline * 3/4);
    font-weight: 700;

    .c-page--index & {
        @media (min-width: $b__b) {
            @include fs--heading-1;
        }
    }
}

.c-page__excerpt {
    margin-bottom: ($u__baseline * 2);

    @media (min-width: $b__b) {
        margin-bottom: ($u__baseline * 3);
    }
}
