/*  =========================================================================
    Section
    ========================================================================= */

.section {
    margin-bottom: ($u__baseline * 1.5);
    overflow: hidden;
}

.section__title {
    @include ff--sans-serif;
    @include fs--heading-3;
    margin-bottom: ($u__baseline / 2);
    font-weight: 700;
    word-break: break-word;
    hyphens: auto;

    .is-expandable & {
        display: inline-block;
    }
}


/* Homepage intro section */
.section--intro {
    @include susy-media($b__b) {
        .section__header {
            @include span(2 of 8);
        }

        .section__main {
            @include span(6 of 8 last);
        }
    }

    .section__title {
        @include fs--heading-1;

        &::after {
            content: ',';
        }
    }

    .prose .p-name {
        @include text-decoration-color('none');
    }
}


/* Homepage pitch section */
.section--pitch {
    @include susy-media($b__b) {
        @include span(5);
    }
}


/* Homepage extra section */
.section--extra {
    @include susy-media($b__b) {
        @include span(3 last);
    }
}
