/*  =========================================================================
    Tag
    ========================================================================= */

.c-tag {
    @include ff--sans-serif;
    @include fs--caption;
    display: inline-block;
    margin-right: ($u__baseline / 2);
    text-transform: lowercase;
    white-space: nowrap;

    &::before {
        opacity: 0.25;
        content: '#\2009';
    }
}
