/*  =========================================================================
    Tag
    ========================================================================= */

.c-tag {
    @include ff--sans-serif;
    display: inline-block;
    margin-right: 0.25em;
    text-transform: lowercase;
    word-spacing: -0.2em;
    white-space: nowrap;

    &::before {
        opacity: 0.25;
        content: '#\2009';
    }
}
