/*  =========================================================================
    Post
    ========================================================================= */
.post__title {
    @include fs--1;
    @include ff--sans-serif;
}

.post__subtitle {
    @include fs--2;
    @include ff--sans-serif;
}

.post__location,
.post__pubdate {
    @include ff--sans-serif;
    @extend %c2sc;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
    color: $c__neutral-2;
}

.post__footer .post__location::before,
.js .post__main .post__location::after {
    margin: 0 0.25rem; // 0 4px
    color: $c__neutral-5;
    content: '\2022';
}

.js .post__main .post__location::after {
    margin: 0 0.5rem 0 0.25rem; // 0 8px 0 4px
}
