/*  =========================================================================
    Summary
    ========================================================================= */
.summary {
    margin-bottom: 2rem; // 32px
}

.summary__main {
    @include fs--4;
}

.summary__title {
    @extend %t-title;
}

.summary__permalink {
    display: block;
}

.summary__pubdate,
.summary__meta {
    @extend %t-caption;
}

/* Journal entry summary */


/* Journal link summary */
.summary--link {
    .summary__link::after {
        content: ' \2192';
    }

    .summary__permalink {
        opacity: 0.5;
        width: 1rem;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            content: '#';
        }

        &:hover {
            opacity: 1;
        }
    }
}
