// Serif
@mixin ff--serif($font-weight: 400) {
    font-family: "Charter ITC Std", serif;
    font-weight: $font-weight;
}

// Sans-serif
@mixin ff--sans-serif($font-weight: 400) {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: $font-weight;
}

// Monospace
@mixin ff--monospace($font-weight: 400) {
    font-family: "Source Code Pro", monospace;
    font-weight: $font-weight;
}
