//  ============================================================================
//  Typography
//  ============================================================================

// Font sizes
@mixin fs--1 {
    margin-bottom: 2rem; // 32px
    line-height: 0.8333; // 40px
    font-size: 3rem; // 48px
    letter-spacing: -0.125rem;
}

@mixin fs--2 {
    margin-bottom: 0.5em; // 12px
    line-height: 1; // 24px
    font-size: 1.5rem; // 24px
}

@mixin fs--3 {
    margin-bottom: 0.6em; // 12px
    line-height: 1.2; // 24px
    font-size: 1.25rem; // 20px
}

@mixin fs--4 {
    margin-bottom: 0.6875em; // 11px
    line-height: 1.375; // 22px
    font-size: 1rem; // 16px
}

@mixin fs--5 {
    margin-bottom: 0.61538461538462em; // 8px
    line-height: 1.23077; // 16px
    font-size: 0.875rem; // 14px
}

@mixin fs--6 {
    margin-bottom: 0.6667em; // 8px
    line-height: 1.3333; // 16px
    font-size: 0.75rem; // 12px
}

// Small caps
.caps,
%c2sc {
    font-feature-settings: 'c2sc' 1;
}

%smcp {
    font-feature-settings: 'smcp' 1;
}
