//  ============================================================================
//  Layout helpers
//  ============================================================================

// Container
@mixin l-container {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;

    @include mq(b) {

    }

    @include mq(c) {

    }

//    &::before,
//    &::after {
//        display: block;
//        position: absolute;
//        z-index: 0;
//        top: 0;
//        bottom: 0;
//        width: 10%;
//        background-color: rgba($c__neutral-1, 0.1);
//        content: '';
//    }
//
//    &::before {
//        left: 0;
//    }
//
//    &::after {
//        right: 0;
//    }
}

// Align item to left/right of another
@mixin l-align-left {
    float: left;
    margin-right: 1rem;
}

@mixin l-align-right {
    float: right;
    margin-left: 1rem;
}

// Prise item out to left/right gutter
@mixin l-hang-left {
    float: left;
    margin-right: 1rem;
    margin-left: -16.6667%;
    width: 50%;
}

@mixin l-hang-right {
    float: right;
    margin-right: -16.6667%;
    margin-left: 1rem;
    width: 50%;
}

// Item touches left/right/both edge(s) of page
@mixin l-bleed {
    margin-right: -16.6667%;
    margin-left: -16.6667%;
    width: 160%;
}

@mixin l-bleed-left {
    margin-left: -16.6667%;
    width: 120%;
}

@mixin l-bleed-right {
    margin-right: -16.6667%;
    width: 120%;
}
