<section class="section section--about" aria-labelledby="about">
    <h1 class="section__title" id="about">About</h1>

    <img class="pull-left" src="https://gravatar.com/avatar/15091a37bacfa4bdd011282627eaca2b?s=256" width="128" height="128" alt="The author, photographed in May 2010"/>
    <p>Paul Robert Lloyd is a graphic designer, writer and speaker who lives in beautiful Brighton, England.</p>
    <ul>
        <li><a href="/contact/">Contact</a></li>
        <li><a rel="me" href="https://twitter.com/paulrobertlloyd">@paulrobertlloyd</a></li>
    </ul>
</section>
