<section class="section section--about" aria-labelledby="about">
    <h1 class="section__title" id="about">About</h1>
    <p class="h-card">
        <a class="u-url" href="//paulrobertlloyd.com" rel="home">
            <img class="u-photo" src="//gravatar.com/avatar/15091a37bacfa4bdd011282627eaca2b?s=256" width="128" height="128" alt="The author, photographed in May 2010"/>
        </a>
        <span class="p-name">Paul Robert Lloyd</span> is a <span class="p-role">graphic designer</span>, <span class="p-role">writer</span> and <span class="p-role">speaker</span> who lives in beautiful <span class="p-locality">Brighton</span>, <span class="p-country-name">England</span>.
    </p>
</section>
