<section class="section section--chapters u--cf" id="chapters">
    <h1 class="section__title">Chapters</h1>
    <ol class="nav nav--chapters">
    {% for essay in site.essays %}
        {% for tag in essay.tags %}
            {% if page.tags contains tag %}
                <li class="nav__item{% if page.permalink == essay.url %} is-active{% endif %}"><a href="{{ essay.url }}">{% if essay.chapter-title %}{{ essay.chapter-title }}{% else %}Introduction{% endif %}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ol>
</section>
