{% if page.discussion == "open" %}
<p><a class="btn" href="mailto:remark+{{ page.id | remove_first: "/" | replace: "/", "-" }}@public.paulrobertlloyd.com?subject=[paulrobertlloyd.com] {{ page.title }}">Comment on this article</a></p>
{% endif %}

{% if page.remark_count >= 1 %}
<section class="section section--remarks u--cf" id="remarks">
{% case page.remark_count %}
    {% when 0 %}
    {% when 1 %}
    <h1 class="section__title">1 Remark</h1>
    {% else %}
    <h1 class="section__title">{{ page.remark_count }} Remarks</h1>
{% endcase %}

{% for remark in page.remarks reversed %}
    {% include articles/remark.html %}
{% endfor %}
</section>
{% endif %}