{% unless include.title == 'false' %}
<section class="section section--projects" aria-labelledby="projects">
    <h1 class="section__title" id="projects">All Projects</h1>
{% endunless %}

    <ul class="list">
    {% for summary in site.categories.projects | sort: 'date' %}
        {% if summary.featured != true %}
        <li class="list__item">
            {% include articles/summary.html %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>

{% unless include.title == 'false' %}
</section>
{% endunless %}