<section class="section section--services" aria-labelledby="services">
    <h1 class="section__title" id="services">Services</h1>

    <ul class="list list--services">
    {% for service in site.data.services %}
        <li class="list__item">
            <article class="summary summary--service">
                <h1 class="summary__title">{{ service.title | smart }}</h1>
                <p class="summary__meta">{{ service.description }}</p>
            </article>
        </li>
    {% endfor %}
    </ul>
</section>
