// ========================================================
// Text-level semantics
// https://w3c.github.io/html/textlevel-semantics.html
// ========================================================

a {
  @include link;
  // Remove gray background color from active links in IE 10
  background-color: transparent;
  transition: color 0.1s ease-out;

  &:hover,
  &:active {
    // Improve readability when focused and mouse hovered in all browsers
    outline: 0;
  }

  &:focus {
    outline: 0;
    background-color: $c__focus;
    color: $c__neutral-darkest;

    [data-whatinput="mouse"] &,
    [data-whatinput="touch"] & {
      background-color: transparent;
    }
  }

  &[rel=tag] {
    display: inline-block;
    margin-right: 0.75rem;
    text-transform: lowercase;
    word-spacing: -0.2em;
    white-space: nowrap;

    &::before {
      content: "#\2009";
      color: $c__primary;
    }
  }
}

@media print {
  a,
  a:visited {
    color: black;
  }
}

small {
  // Address inconsistent and variable font size in all browsers
  font-size: 100%;
}

abbr[title] {
  text-decoration: underline dotted rgba($c__neutral-darkest, 0.33);

  &:hover {
    cursor: help;
  }
}

code,
kbd,
samp {
  @include ff--monospace;
  font-size: 90%;
  font-variant-ligatures: none;
}

kbd {
  margin: 0 0.2rem;
  border: 1px solid rgba($c__neutral-darkest, 0.25);
  border-radius: 0.2rem;
  box-shadow: inset 0 -2px 0 rgba($c__neutral-darkest, 0.1);
  background-color: white;
  padding: 0.2rem 0.5rem;
  line-height: 1;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  // Prevent `sub` and `sup` affecting `line-height` in all browsers
  line-height: 0;
  font-size: 75%;
}

sub {
  bottom: -0.2rem;
}

sup {
  top: -0.5rem;
}

mark {
  @include text-highlight;
}
