<footer class="c-contentinfo u-container" role="contentinfo">
    <div class="c-contentinfo__main">
        <p class="c-contentinfo__license">
            <small>© <abbr title="{{ site.time | date:"%Y" }}">{{ site.time | date:"%Y" | roman }}</abbr> <a rel="author" href="{{ site.author.url }}">{{ site.author.name }}</a>. Content <a rel="license" href="{{ site.license.url }}" title="{{ site.license.title }}">{{ site.license.type }} licensed</a> unless otherwise stated.</small>
        </p>

        <ul class="c-contentinfo__links o-list o-list--inline">
            <li class="o-list__item o-list__item--separate">
                <a href="/archive">Archive</a>
            </li>
            <li class="o-list__item o-list__item--separate">
                <a href="/colophon">Colophon</a>
            </li>
            <li class="o-list__item o-list__item--separate">
                <a href="/styleguide">Styleguide</a>
            </li>
            <li class="o-list__item o-list__item--separate">
                <a href="{{ site.scm.url }}" rel="source">Source</a>
            </li>
        </ul>
    </div>
</footer>
