<footer class="c-contentinfo u-container" role="contentinfo">
    <div class="c-contentinfo__main">
        <p class="c-contentinfo__license">
            <small>© <time datetime="{{ site.time | date:"%Y" }}" title="{{ site.time | date:"%Y" }}">{{ site.time | date:"%Y" | roman }}</time> <a rel="author" href="{{ site.author.url }}">{{ site.author.name }}</a></small><br/>
            <a href="/contact/">Contact</a><span class="u-separate"></span>
            <a href="/colophon">Colophon</a><span class="u-separate"></span>
            <a href="/styleguide">Styleguide</a><span class="u-separate"></span>
            <a href="{{ site.scm.url }}">Source</a>
        </p>

        <div class="c-contentinfo__social">
            <a class="c-social c-social--twitter" rel="me" href="https://twitter.com/paulrobertlloyd">
                {% asset_source c-social__logo--twitter.svg %}
            </a>
            <a class="c-social c-social--dribbble" rel="me" href="https://dribbble.com/paulrobertlloyd">
                {% asset_source c-social__logo--dribbble.svg %}
            </a>
            <a class="c-social c-social--github" rel="me" href="https://github.com/paulrobertlloyd">
                {% asset_source c-social__logo--github.svg %}
            </a>
            <a class="c-social c-social--flickr" rel="me" href="https://flickr.com/people/paulrobertlloyd">
                {% asset_source c-social__logo--flickr.svg %}
            </a>
        </div>
    </div>
</footer>
