<footer class="c-contentinfo u-container" role="contentinfo">
    <div class="c-contentinfo__main">
        <p class="c-contentinfo__license">
            <small>© <time datetime="{{ site.time | date:"%Y" }}" title="{{ site.time | date:"%Y" }}">{{ site.time | date:"%Y" | roman }}</time> <a rel="author" href="{{ site.author.url }}">{{ site.author.name }}</a></small><br/>
            <a href="/contact/">Contact</a><span class="u-separate"></span>
            <a href="/colophon">Colophon</a><span class="u-separate"></span>
            <a href="/styleguide">Style guide</a><span class="u-separate"></span>
            <a href="{{ site.scm.url }}">Source</a>
        </p>

        <div class="c-contentinfo__social">
            <a class="c-social c-social--twitter" rel="me" href="https://twitter.com/paulrobertlloyd">
                <svg class="c-social--twitter__logo" version="1.1" width="24" height="24" role="img" aria-labelledby="title">
                    <title>Twitter</title>
                    <use xlink:href="#c-logo__twitter"/>
                </svg>
            </a>
            <a class="c-social c-social--dribbble" rel="me" href="https://dribbble.com/paulrobertlloyd">
                <svg class="c-social--dribbble__logo" version="1.1" width="24" height="24" role="img" aria-labelledby="title">
                    <title>Dribbble</title>
                    <use xlink:href="#c-logo__dribbble"/>
                </svg>
            </a>
            <a class="c-social c-social--github" rel="me" href="https://github.com/paulrobertlloyd">
                <svg class="c-social--github__logo" version="1.1" width="24" height="24" role="img" aria-labelledby="title">
                    <title>GitHub</title>
                    <use xlink:href="#c-logo__github"/>
                </svg>
            </a>
            <a class="c-social c-social--flickr" rel="me" href="https://flickr.com/people/paulrobertlloyd">
                <svg class="c-social--flickr__logo" version="1.1" width="24" height="24" role="img" aria-labelledby="title">
                    <title>Flickr</title>
                    <use xlink:href="#c-logo__flickr"/>
                </svg>
            </a>
        </div>
    </div>
</footer>
