{% if include.url contains "flickr" %}
  {% assign embed_src = include.url | append:"player/" %}
  {% assign embed_type = "photo" %}
  {% assign embed_action = "View photo on Flickr" %}
{% elsif include.url contains "mapbox" %}
  {% assign embed_src = include.url %}
  {% assign embed_type = "map" %}
  {% assign embed_action = "View map on Mapbox" %}
{% elsif include.url contains "speakerdeck" %}
  {% assign embed_src = include.id | prepend:"https://speakerdeck.com/player/" %}
  {% assign embed_type = "slidedeck" %}
  {% assign embed_action = "View presentation on Speaker Deck" %}
{% elsif include.url contains "vimeo" %}
  {% assign embed_src = include.url | replace:"vimeo.com","player.vimeo.com/video" | append:"?color=cc52cc&#38;title=0&#38;byline=0&#38;badge=0&#38;portrait=0" %}
  {% assign embed_type = "video" %}
  {% assign embed_action = "Watch video on Vimeo" %}
{% elsif include.url contains "youtube" %}
  {% assign embed_src = include.url | replace:"www.youtube.com/watch?v=","www.youtube-nocookie.com/embed/" | append:"?showinfo=0&#38;rel=0&#38;modestbranding=1" %}
  {% assign embed_type = "video" %}
  {% assign embed_action = "Watch video on YouTube" %}
{% else %}
{% endif %}
<div class="c-embed" data-embed-src="{{ embed_src }}" data-embed-type="{{ embed_type }}" data-embed-title="Media embed: {{ include.title | xml_escape }}"{% if include.ratio %} data-embed-ratio="{{ include.ratio }}"{% endif %}>
  <p><a href="{{ include.url }}">{{ embed_action }}</a></p>
</div>
