<nav class="c-navigation" role="navigation" aria-labelledby="menu">
    <h1 class="c-navigation__title u-audible" id="menu">Menu</h1>

    <ul class="c-nav c-nav--primary o-list">
        <li class="c-nav__item o-list__item{% if section == "journal" %} is-active{% endif %}">
            <a class="c-nav__item__label" href="/journal/">Journal</a>
        </li>
        <li class="c-nav__item o-list__item{% if section == "projects" %} is-active{% endif %}">
            <a class="c-nav__item__label" href="/projects/">Projects</a>
        </li>
        <li class="c-nav__item o-list__item{% if section == "photos" %} is-active{% endif %}">
            <a class="nav__item__label" href="/photos/">Photos</a>
        </li>
        <li class="c-nav__item o-list__item{% if section == "contact" %} is-active{% endif %}">
            <a class="nav__item__label" href="/contact/">Contact</a>
        </li>
    </ul>
</nav>
