//  ============================================================================
//  Mixins
//  ============================================================================

// Clearfix
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        clear: both;
        content: '';
    }
}


// Image replacement
@mixin image-replace {
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
}


// Visually hidden, but still audible
@mixin hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}


// Font families
@mixin ff--serif($font-weight: normal) {
    font-family: serif;
    font-weight: $font-weight;

    .fonts-loaded & {
        font-family: 'Charter', serif;
    }
}

@mixin ff--sans-serif($font-weight: normal) {
    font-family: sans-serif;
    font-weight: $font-weight;

    .fonts-loaded & {
        font-family: 'Calibre', sans-serif;
    }
}

@mixin ff--monospace($font-weight: normal) {
    font-family: 'Menlo', monospace;
    font-weight: $font-weight;
}


// Font sizes
@mixin fs--heading-1 {
    line-height: (14/16);
    font-size: 2rem; // 32px
    letter-spacing: -0.015em;

    @include susy-media($b__b) {
        font-size: 2.5rem; // 40px
    }

    @include susy-media($b__c) {
        font-size: 3.5rem; // 56px
    }
}

@mixin fs--heading-2 {
    line-height: (14/16);
    font-size: 1.5rem; // 24px
    letter-spacing: -0.02em;

    @include susy-media($b__b) {
        font-size: 1.75rem; // 28px
    }

    @include susy-media($b__c) {
        font-size: 2rem; // 32px
    }
}

@mixin fs--heading-3 {
    line-height: (16/12);
    font-size: 1.25rem; // 20px
    letter-spacing: -0.015em;

    @include susy-media($b__c) {
        font-size: 1.5rem; // 24px
    }
}

@mixin fs--heading-4 {
    line-height: (16/10);
    font-size: 1rem; // 16px
    letter-spacing: -0.01em;

    @include susy-media($b__c) {
        font-size: 1.25rem; // 20px
    }
}

@mixin fs--body {
    line-height: (16/10);
    font-size: 1rem; // 16px
    letter-spacing: 0.01em;

    @include susy-media($b__b) {
        font-size: 1.125rem; // 18px
    }

    @include susy-media($b__c) {
        font-size: 1.1875rem; // 19px
    }
}

@mixin fs--caption {
    line-height: (16/16);
    font-size: 1rem; // 16px
}


// Caps
@mixin smcp { font-feature-settings: 'smcp' 1; }
@mixin c2sc { font-feature-settings: 'c2sc' 1; }


// Text underline colour
@mixin text-decoration-color($color) {
    @if $color != 'none' {
        background-image: linear-gradient(to bottom, transparent 50%, rgba($color, 0.66) 50%);
        background-repeat: repeat-x;
        background-position: 0% 90%;
        background-size: 0.5em 2px;
        text-decoration: none;
    } @else {
        background-image: none;
    }
}


// Line rule
@mixin rule($el: 'before', $color: $c__neutral--8, $display: block) {
    @if $el == 'before' or $el == 'after' {
        &:#{$el} {
            display: $display;
            border-top: ($u__baseline / 5) solid $color;
            width: ($u__baseline * 2);
            content: '';
            @if $el == 'before' {
                margin-bottom: ($u__baseline / 2);
            }
            @if $el == 'after' {
                margin-top: ($u__baseline / 5);
            }
        }
    } @else {
        @error "`#{$el}` is not a valid pseudo-element.";
    }
}
