//  ============================================================================
//  Global Variables
//  ============================================================================

// Units
$u__font-size: (16/16)*100%;
$u__baseline-unitless: 16/(16*($u__font-size/100%));
$u__baseline: $u__baseline-unitless * 1rem;
$u__max-width: 60rem;


// Colours
$c__neutral: hsb(300, 20, 10);
$c__neutral-1: lighten($c__neutral, 04%);
$c__neutral-4: lighten($c__neutral, 48%);
$c__neutral-7: lighten($c__neutral, 64%);
$c__neutral-9: lighten($c__neutral, 88%);

$c__primary-purple: hsb(300, 60, 80);
$c__primary-blue: hsb(220, 60, 80);
$c__primary-red: hsb(0, 60, 80);
$c__primary-yellow: hsb(50, 40, 100);

$c__highlight: $c__primary-yellow;
$c__select: rgba($c__highlight, 0.5);
$c__focus: $c__primary-yellow;


// Breakpoints
$b__a: 32rem; // 512px
$b__b: 45rem; // 720px
$b__c: $u__max-width + ($u__baseline * 2);
$b__d: 65rem; // 1040px


// Grid (Susy)
$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 12,
    gutters: 1/4,
    global-box-sizing: border-box,
    last-flow: to,
//    debug: (
//        image: show,
//        output: overlay,
//        toggle: bottom right,
//    )
);
