//  ============================================================================
//  Global Variables
//  ============================================================================

// Units
$u__font-size: (16/16)*100%;
$u__baseline-unitless: 16/(16*($u__font-size/100%));
$u__baseline: $u__baseline-unitless * 1rem;
$u__max-width: 57.5rem;


// Colours
$c__identity--1: #03c;
$c__identity--2: #60c;

$c__neutral: #101112;
$c__neutral--a: rgba($c__neutral, 0.05);
$c__neutral--1: lighten($c__neutral, 15%);
$c__neutral--2: lighten($c__neutral, 25%);
$c__neutral--3: lighten($c__neutral, 35%);
$c__neutral--4: lighten($c__neutral, 45%);
$c__neutral--5: lighten($c__neutral, 55%);
$c__neutral--6: lighten($c__neutral, 65%);
$c__neutral--7: lighten($c__neutral, 75%);
$c__neutral--8: lighten($c__neutral, 85%);
$c__neutral--9: lighten($c__neutral, 95%);

$c__selection: rgba($c__identity--2, 0.1);

$c__24-ways: #ff0040;
$c__bradshaws-guide: #363330;
$c__matter: #874a88;
$c__dacs: #560a5e;
$c__the-week: #ed1c24;
$c__fontdeck: #d0021b;
$c__ngenera: #00173b;


// Breakpoints
$b__a: 32em; // 512px
$b__b: 45em; // 720px
$b__c: $u__max-width;


// Grid (Susy)
$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 4 3 3 3 3,
    gutters: 0.5,
    global-box-sizing: border-box,
    last-flow: to,
    debug: (
        image: show,
        color: $c__selection,
        output: overlay,
        toggle: bottom right,
    )
);
