//  ============================================================================
//  Global Variables
//  ============================================================================

// Units
$u__font-size: (16/16)*100%;
$u__baseline: 1rem;
$u__max-width: 60rem;


// Colours
$c__neutral-0: hsb(300, 20, 10);
$c__neutral-1: lighten($c__neutral-0, 04%);
$c__neutral-4: lighten($c__neutral-0, 36%);
$c__neutral-7: lighten($c__neutral-0, 64%);
$c__neutral-9: lighten($c__neutral-0, 88%);

$c__primary-purple: hsb(300, 60, 80);
$c__primary-blue: hsb(220, 60, 80);
$c__primary-red: hsb(0, 60, 80);
$c__primary-yellow: hsb(50, 40, 100);
$c__primary-green: hsb(170, 60, 80);

$c__focus: $c__primary-yellow;
$c__highlight: $c__primary-yellow;
$c__select: rgba($c__highlight, 0.5);
$c__valid: rgba($c__primary-green, 0.5);
$c__invalid: rgba($c__primary-red, 0.5);


// Breakpoints
$b__a: 32rem; // 512px
$b__b: 45rem; // 720px
$b__c: $u__max-width + ($u__baseline * 2);
$b__d: 65rem; // 1040px


// Grid (Susy)
$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 12,
    gutters: 1/4,
    global-box-sizing: border-box,
    last-flow: to,
//    debug: (
//        image: show,
//        output: overlay,
//        toggle: bottom right,
//    )
);


// Nested grid constructs
$gn__ratio: (12/8); // Ratio: outer columns/inner columns
$gn__gutter: (gutter() * $gn__ratio);

$gn__span1: (span(1) * $gn__ratio);
$gn__span1-wide: ($gn__span1 + $gn__gutter);

$gn__span2: (span(2) * $gn__ratio);
$gn__span2-wide: ($gn__span2 + $gn__gutter);

$gn__span3: (span(3) * $gn__ratio);
$gn__span3-wide: ($gn__span3 + $gn__gutter);

$gn__span4: (span(4) * $gn__ratio);
$gn__span4-wide: ($gn__span4 + $gn__gutter);
