/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/grouping-content.html
    ========================================================================= */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    margin: 0;
    orphans: 3;
    widows: 3;
}

pre {
    overflow: auto;
    white-space: pre;
    hyphens: none;
    tab-size: 4;
}

blockquote {
    position: relative;
    padding-right: $u__baseline;
    padding-left: $u__baseline;

    @media print {
        page-break-inside: avoid;
    }

    > * {
        margin-bottom: ($u__baseline / 2);
    }

    &:before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 1px solid $c__neutral--a;
        content: '';
    }
}

figure,
figcaption {
/*  Correct `block` display for `figure` and `figcaption` elements in IE 8/9 */
    display: block;
}

ol,
ul {
    padding: 0;
    list-style-position: inside;

    @media (min-width: $b__a) {
        list-style-position: outside;
    }

    blockquote & {
        list-style-position: inside;
    }
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

dt {
    @include ff--sans-serif;
    font-weight: 700;
}

li li,
dd {
    margin-left: ($u__baseline * 2);
}

li > *,
dd > * {
    margin-top: 0;
}
