/*  =========================================================================
    Links
    http://developers.whatwg.org/links.html
    ========================================================================= */

a {
    text-decoration: none;
    color: inherit;

    &:active,
    &:hover {
    /*  Improve readability when focused and mouse hovered in all browsers */
        outline: 0;
    }

    &:active {
    /*  Remove gray background color from active links in IE 10 */
        background-color: transparent;
    }

    &:focus {
        outline: 4px solid $c__focus;
        background-color: $c__focus;
    }
}

@media print {
    a,
    a:visited {
        color: #000 !important;
    }
}
