/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */

::selection {
    background: $c__select;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    @include ff--sans-serif;
    margin: 0 auto;
    background-color: $c__neutral--9;
    text-rendering: geometricPrecision;
    color: $c__neutral--2;
    line-height: ($u__baseline-unitless * 1.5);
    font-size: $u__font-size;
    font-smoothing: antialiased;

    .t-inverted & {
        background-color: $c__neutral--1;
        color: $c__neutral--9;
    }

    .t-home & {
        background-color: $c__identity--1;
    }

    .t-24-ways & {
        background-color: $c__24-ways;
//        background-image: linear-gradient(to bottom, $c__24-ways 10%, mix($c__24-ways, $c__identity--2, 70%) 90%);
    }

    .t-unicef-uk & {
        background-color: $c__unicef-uk;
//        background-image: linear-gradient(to bottom, $c__unicef-uk 10%, mix($c__unicef-uk, $c__identity--2, 70%) 90%);
    }

    .t-bradshaws-guide & {
        background-color: $c__bradshaws-guide;
//        background-image: linear-gradient(to bottom, $c__bradshaws-guide 10%, mix($c__bradshaws-guide, $c__identity--2, 70%) 90%);
    }

    .t-matter & {
        background-color: $c__matter;
//        background-image: linear-gradient(to bottom, $c__matter 10%, mix($c__matter, $c__identity--2, 70%) 90%);
    }

    .t-dacs & {
        background-color: $c__dacs;
//        background-image: linear-gradient(to bottom, $c__dacs 10%, mix($c__dacs, $c__identity--2, 70%) 90%);
    }

    .t-the-week & {
        background-color: $c__the-week;
//        background-image: linear-gradient(to bottom, $c__the-week 10%, mix($c__the-week, $c__identity--2, 70%) 90%);
    }

    .t-fontdeck & {
        background-color: $c__fontdeck;
//        background-image: linear-gradient(to bottom, $c__fontdeck 10%, mix($c__fontdeck, $c__identity--2, 70%) 90%);
    }

    .t-ngenera & {
        background-color: $c__ngenera;
//        background-image: linear-gradient(to bottom, $c__ngenera 10%, mix($c__ngenera, $c__identity--2, 70%) 90%);
    }

    .t-ning & {
        background-color: $c__ning;
//        background-image: linear-gradient(to bottom, $c__ning 10%, mix($c__ning, $c__identity--2, 70%) 90%);
    }
}

article,
aside,
footer,
header,
main,
nav,
section {
/*  Correct `block` display for section elements in IE 8/9 */
/*  Correct `block` display for `main` in IE 11 */
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-size: 1em;

    @media print {
        page-break-after: avoid;
    }
}

hr {
    @include rule;
    margin: ($u__baseline * 2) auto;
    border: 0;
    height: 0;
    line-height: 0;
}
