/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */

::selection {
    background: $c__select;
}

html {
    box-sizing: border-box;

    &::after {
        display: none;
        content: 's';

        @media screen and (min-width: $b__a) {
            content: 'm';
        }

        @media screen and (min-width: $b__b) {
            content: 'l';
        }

        @media screen and (min-width: $b__c) {
            content: 'xl';
        }
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    @include ff--sans-serif;
    margin: 0 auto;
    text-rendering: geometricPrecision;
    line-height: 1.5;
    font-size: $u__font-size;
    font-smoothing: antialiased;

    @media print {
        margin: 0 1cm;
        color: $c__neutral !important;
    }
}

article,
aside,
footer,
header,
main,
nav,
section {
/*  Correct `block` display for section elements in IE 8/9 */
/*  Correct `block` display for `main` in IE 11 */
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizeLegibility;
    font-size: 1em;
    font-weight: inherit;

    @media print {
        page-break-after: avoid;
    }
}

hr {
    @include rule;
    margin: ($u__baseline * 2) auto;
    border: 0;
    height: 0;
    line-height: 0;
}
