/*  =========================================================================
    Grouping content
    http://developers.whatwg.org/sections.html
    ========================================================================= */

::selection {
    background: $c__select;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    @include ff--sans-serif;
    margin: 0 auto;
    background-color: $c__neutral--9;
    text-rendering: geometricPrecision;
    line-height: ($u__baseline-unitless * 1.5);
    color: $c__neutral--1;
    font-size: $u__font-size;
    font-smoothing: antialiased;

    @media print {
        color: $c__neutral !important;
    }

    .t-inverted & {
        background-color: $c__neutral--1;
        color: $c__neutral--9;
    }

    .t-home & {
        background-color: $c__identity--1;
    }

    .t-24-ways & {
        background-color: $c__24-ways;
    }

    .t-unicef-uk & {
        background-color: $c__unicef-uk;
    }

    .t-bradshaws-guide & {
        background-color: $c__bradshaws-guide;
    }

    .t-matter & {
        background-color: $c__matter;
    }

    .t-dacs & {
        background-color: $c__dacs;
    }

    .t-the-week & {
        background-color: $c__the-week;
    }

    .t-fontdeck & {
        background-color: $c__fontdeck;
    }

    .t-ngenera & {
        background-color: $c__ngenera;
    }

    .t-ning & {
        background-color: $c__ning;
    }
}

article,
aside,
footer,
header,
main,
nav,
section {
/*  Correct `block` display for section elements in IE 8/9 */
/*  Correct `block` display for `main` in IE 11 */
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-size: 1em;
    font-weight: inherit;

    @media print {
        page-break-after: avoid;
    }
}

hr {
    @include rule;
    margin: ($u__baseline * 2) auto;
    border: 0;
    height: 0;
    line-height: 0;
}
