---
layout: default
title: Work
---
<section class="index container">
    <header class="index__header">
        <h1 class="index__title">Work</h1>
    </header>

    <div class="index__main">
{%      for collection in site.collections %}
        <section>
            <h1><a href="{{ collection.label }}">{{ collection.title }}</a></h1>
            <ul>
{%              for doc in collection.docs %}
                <li><a href="{{ doc.url }}">{{ doc.title }}</a> <time datetime="{{ doc.date | date_to_xmlschema }}">{{ doc.date | date: "%e %B %Y" }}</time></li>
{%              endfor %}
            </ul>
        </section>
{%      endfor %}
    </div>
</section>