// ========================================================
// Items
// ========================================================

.c-item {
  margin-bottom: units(2);
}

.c-item--gallery,
.c-item--link,
.c-item--entry {
  &:not(:last-child) {
    margin-bottom: units(4);

    @media (min-width: $b__b) {
      margin-bottom: units(6);
    }
  }
}

.c-item__media,
.c-item__footer {
  display: block;
  margin-bottom: units(1);
}

.c-item__main {
  @media (min-width: $b__a) {
    .c-item--link &,
    .c-item--comment & {
      padding-right: percentage(1/8);
    }
  }
}

.c-item__title {
  @include fs--heading-2;
  margin-bottom: units(1 / 3);
  hanging-punctuation: first;

  .c-item--entry &,
  .c-item--gallery & {
    @include fs--heading-1;
    font-weight: 700;
  }

  .c-item--project & {
    display: inline;
    font-size: 1em;
    font-weight: 700;
  }
}

.c-item__meta {
  @include fs--caption;
  color: $c__neutral-mid;

  .c-item--project & {
    display: inline;
  }
}

.c-item__link {
  .c-item--link & {
    &::before {
      content: 'Link: ';
      opacity: 0.6;
    }
  }
}

.c-item__avatar {
  @include background-placeholder;
  width: percentage(1/8);
  height: auto;
}

// Project
.c-item--project {
  @include fs--caption;
}

// Gallery
.c-item--gallery {
  position: relative;
  padding-left: units(7);
  min-height: units(7);

  .c-item__cover {
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
      position: absolute;
      background: $c__neutral-mid;
      height: 1px;
      content: '';
    }

    &::before {
      top: -4px;
      right: 8px;
      left: 8px;
    }

    &::after {
      top: -2px;
      right: 4px;
      left: 4px;
    }
  }

  .c-item__cover-photo {
    width: units(6);
    height: units(6);
  }
}

// Comment
.c-item--comment {
  position: relative;
  padding-left: calc(#{percentage(1/8)} + #{$u__gutter});

  @media screen and (min-width: $b__b) {
    padding-left: 0;
  }

  .c-item__title {
    @include fs--heading-3;
  }

  .c-item__avatar {
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $b__b) {
      left: calc((#{percentage(1/8)} + #{$u__gutter}) * -1);
    }
  }
}
