// ========================================================
// Project
// ========================================================

.c-project {
  @include fs--caption;
  margin-bottom: units(2);
}

.c-project__logo {
  display: block;
  margin-bottom: units(1);
}

.c-project__title {
  @include separate;
  display: inline;
  font-weight: 700;

  &::after {
    margin: 0 0.15rem;
    color: rgba($c__neutral-mid, 0.5);
    font-weight: normal;
    content: "\00a0/";
  }
}

.c-project__meta {
  display: inline;
  color: $c__neutral-mid;
}
