/*  =========================================================================
    Theme: Articles
    ========================================================================= */

.t-articles {
    @media screen {
        a:active,
        a:hover {
            color: $c__theme--articles;
        }

        .s-prose {
            a {
                @include text-decoration-color($c__theme--articles);
            }
        }
    }
}
