/*  =========================================================================
    Theme: Inverted
    ========================================================================= */

.t-dark {
    @media screen {
        body {
            background-color: $c__neutral--1;
            color: $c__neutral--9;
        }

        a {
            color: $c__neutral--9;
        }

        a:active,
        a:hover {
            color: #fff;
        }

        .c-banner__logo {
            fill: $c__neutral--9;
        }

        .c-navigation {
            background-color: rgba($c__neutral--1, 0.95);
        }
    }
}
