/*  =========================================================================
    Theme: Dark
    ========================================================================= */

// Theme variables
$c__t-dark--background: $c__neutral-1;
$c__t-dark--text: $c__neutral-9;
$c__t-dark--hover: $c__primary-purple;
$c__t-dark--active: #fff;

.t-dark {
    @media screen {
        body {
            background-color: $c__t-dark--background;
            color: $c__t-dark--text;
        }

        a,
        .c-button {
            border-color: $c__t-dark--text;

            &:hover {
                border-color: $c__t-dark--hover;
                color: $c__t-dark--hover;
            }

            &:active {
                border-color: $c__t-dark--active;
                color: $c__t-dark--active;
            }
        }

        .c-banner__home {
            .c-banner__logo {
                fill: $c__t-dark--text;
            }

            &:focus .c-banner__logo {
                fill: $c__neutral-1;
            }

            &:hover .c-banner__logo {
                fill: $c__t-dark--hover;
            }

            &:active .c-banner__logo {
                fill: $c__t-dark--active;
            }
        }

        .c-form__input {
            border-color: $c__t-dark--text;
        }

        .c-form__label-inline .c-form__label {
            border-color: rgba($c__t-dark--text, 0.2);
        }

        .c-item--project {
            .c-item__logo {
                fill: $c__t-dark--text;
            }

            &:hover .c-item__logo {
                fill: $c__t-dark--hover;
            }

            &:active .c-item__logo {
                fill: $c__t-dark--active;
            }
        }

        .c-navigation {
            background-color: rgba($c__t-dark--background, 0.95);
        }

        .s-prose {
            a:not(.c-button):not(.c-nav__item__label) {
                @include text-decoration-color($c__t-dark--hover, $c__t-dark--background);
            }

            a:not(.c-button):not(.c-nav__item__label):focus {
                @include text-decoration-color('none');
            }

            a:not(.c-button):not(.c-nav__item__label):active {
                @include text-decoration-color($c__t-dark--active, $c__t-dark--background);
            }
        }

        .u-block-link .s-prose {
            color: $c__t-dark--text;
        }
    }
}
