/*  =========================================================================
    Theme: Dark
    ========================================================================= */

.theme--dark {
    background-color: $c__identity--1;
    color: $c__neutral--9;

    a {
        color: #fff;
    }

    .lede,
    .prose {
        a {
            @include text-decoration-color($c__neutral--9);
        }
    }

    .banner__logo {
        fill: #fff;
    }

    .index__title,
    .section__title {
        color: $c__neutral--9;
    }
}
