/*  =========================================================================
    Theme: Default
    ========================================================================= */

.theme--default {
    background-color: $c__neutral--9;
    color: $c__neutral--2;

    a {
        color: $c__identity--1;
    }

    .prose a {
        @include text-decoration-color($c__identity--1);
    }

    .banner__logo {
        fill: $c__identity--1;
    }

    .index__title,
    .section__title {
        color: $c__identity--1;
    }
}
