/*  =========================================================================
    Theme: Default
    ========================================================================= */

.theme--default {
    background-color: $c__neutral--9;
    color: $c__neutral--2;

    a {
        color: $c__identity--1;
    }

    .prose {
        a {
            @include text-decoration-color($c__identity--1);
        }

        blockquote::before {
            border-color: $c__identity--2;
        }
    }

    .banner__logo {
        fill: $c__identity--1;
    }
}
