/*  =========================================================================
    List
    ========================================================================= */

.o-list__item {
    list-style: none;
}

.o-list--inline {
    @media (max-width: $b__a) {
        line-height: 2;
    }

    .o-list__item {
        display: inline;
    }
}
