---
layout: index
title: Archive
permalink: /archive/
---
<section class="c-container c-container--index" aria-labelledby="search">
    <header class="c-container__header">
        <h1 class="c-container__title" id="search">Search</h1>
    </header>

    <div class="c-container__main">
        {% include form/search.html %}
    </div>
</section>

<section class="c-container c-container--index" aria-labelledby="tags">
    <header class="c-container__header">
        <h1 class="c-container__title" id="tags">
            <a href="/tags/">Tags</a>
        </h1>
    </header>

    <div class="c-container__main">
        <ol class="o-list o-list--inline">
        {% capture site_tags %}
            {% for tag in site.tags %}
                {{ tag[1].size | plus:1000 }}#{{ tag[0] | replace:" ","_" }}
            {% endfor %}
        {% endcapture %}
        {% assign popular_tags = site_tags | split:" " | sort | reverse %}
        {% for popular_tag in popular_tags limit:25 %}
            {% assign tag_array = popular_tag | split:"#" %}
            {% capture tag %}{{ tag_array[1] | replace:"_"," " }}{% endcapture %}
            <li class="o-list__item">{% include tag.html tag=tag %}</li>
        {% endfor %}
        </ol>
    </div>
</section>

{% for item in site.posts %}
    {% capture this_year %}{{ item.date | date:"%Y" }}{% endcapture %}
    {% capture this_month %}{{ item.date | date:"%m" }}{% endcapture %}
    {% capture this_month-name %}{{ item.date | date:"%B %Y" }}{% endcapture %}

    {% if this_year != year %}
        {% capture year %}{{ this_year }}{% endcapture %}
        {% capture month %}{{ this_month }}{% endcapture %}

        {% unless forloop.first %}
                </ol>
            </div>
        </section>
        {% endunless %}

        <section class="c-container c-container--index" aria-labelledby="month-{{ this_year }}{{ this_month }}">
            <header class="c-container__header">
                <h1 class="c-container__title" id="month-{{ this_year }}{{ this_month }}"><a href="/{{ this_year }}/">{{ this_year }}</a></h1>
            </header>

            <div class="c-container__main">
                <ol class="o-list o-list--inline" reversed>
    {% endif %}

                    <li class="o-list__item u-separate" value="{{ item.date | date:"%-d" }}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>

    {% if forloop.last %}
                </ol>
            </div>
        </section>
    {% endif %}
{% endfor %}

<section class="c-container c-container--index" aria-labelledby="lloydyweb">
    <header class="c-container__header">
        <h1 class="c-container__title" id="lloydyweb">
            <a href="http://lloydyweb.paulrobertlloyd.com/blog/archive/">1999-2007</a>
        </h1>
    </header>

    <div class="c-container__main">
        <p>Content written prior to 2008 can be found on <a href="http://lloydyweb.paulrobertlloyd.com/blog/archive/">my previous website</a>.</p>
    </div>
</section>
