---
layout: default
title: Journal
---
<section class="index index--journal">
    <header class="index__header">
        <h1 class="index__title">{{ page.title }}</h1>
    </header>

    {% for summary in paginator.posts %}
        {% include sections/summary.html %}
    {% endfor %}

    <nav class="nav nav--pagination grid">
    {% if paginator.next_page %}
        <div class="grid__item">
            <a class="nav__item nav__item--prev" rel="prev" href="{{ paginator.next_page_path }}">
                <span class="nav__item__label">Older</span>
            </a>
        </div>
    {% endif %}

    {% if paginator.previous_page %}
        <div class="grid__item">
            <a class="nav__item nav__item--next" rel="next" href="{{ paginator.previous_page_path }}">
                <span class="nav__item__label">Newer</span>
            </a>
        </div>
    {% endif %}
    </nav>

    {% include forms/search.html %}
</section>
