/*  =========================================================================
    Nav
    ========================================================================= */

.nav__item {
    &.is-active {
        font-weight: bold;
    }
}


/* Primary navigation  */
.nav--primary {
    .nav__item {
        @include fs--6;
        display: inline;
        margin-right: 1rem;
        text-transform: uppercase;
    }
}


/* Secondary navigation */
.nav--secondary {
    @include grid('.nav__item', 2);
}


/* Series navigation */
.nav--series,
.nav--years {
    .nav__item {
        border-top: 1px solid $c__neutral-6;
        padding: 0.25rem 0;
    }
}


/* Page navigation */
.nav--pages {
    position: fixed;
    top: 50%;
    right: 2rem;
    left: 2rem;
    z-index: 1;

    .nav__item {
        position: absolute;
        margin-top: -1rem;

        &::before {
            display: block;
            transform: rotate(45deg);
            border-style: solid;
            border-color: $c__neutral-5;
            width: 2rem;
            height: 2rem;
            content: '';
        }

        &:hover::before {
            border-color: $c__neutral-4;
        }
    }

    .nav__item--prev {
        left: 0;

        &::before {
            border-width: 0 0 1px 1px;
        }
    }

    .nav__item--next {
        right: 0;

        &::before {
            border-width: 1px 1px 0 0;
        }
    }

    .nav__item__label {
        @include u-hidden;
    }
}
