---
layout: default
title: Archive
---
<main class="main" role="main">
    <section class="index">
        <header class="index__header">
            <h1 class="index__title">{{ page.title }}</h1>
        </header>

        <div class="index__main">
        {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
            {% if month != nmonth %}
            {% if forloop.index != 1 %}</ul>{% endif %}
            <h2><a href="{{ post.date | date: '/%Y/%m/' }}">{{ post.date | date: '%B %Y' }}</a></h2>
            <ul class="list">
            {% endif %}
            {% if post.chapter-title == null %}
                <li class="list__item"><a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%e %B %Y" }}</time></li>
            {% endif %}
        {% endfor %}
        </div>
    </section>
</main><!--/@main-->