---
layout: default
---
<article class="entry container">
    <header class="entry__header">
        <h1 class="entry__title">{{ page.title | ampersand | replace: " '"," &#8216;" | replace: "'","&#8217;" }}</h1>
    </header>

    <div class="entry__main prose">
        {{ content | markdownify }}
    </div>

    <footer class="entry__footer">
        <time class="entry__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>

{% include sections/discussion.html %}
{% include navigation/nav--pagination.html %}