---
layout: default
---
<main class="main" role="main">
    <section class="index">
        <h1 class="index__title">{{ page.title }}</h1>

        <ul class="list">
        {% for summary in paginator.posts %}
            <li class="list__item">
                {% include summary.html %}
            </li>
        {% endfor %}
        </ul>
    </section>

    <nav class="nav nav--pagination">
    {% if paginator.previous_page %}
        <a class="nav__item" rel="next" href="{{paginator.previous_page_path}}">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
        <a class="nav__item" rel="prev" href="{{paginator.next_page_path}}">Older</a>
    {% endif %}
    </nav>
</main><!--/@main-->