---
layout: index
---
{% assign previous_index = paginator.previous_page | minus: 1 %}
{% assign next_index = paginator.next_page | minus: 1 %}
{% case page.archive.date_pattern %}
{% when "%Y" %}
    {% assign archivetype = "year" %}
    {% assign archivename = page.date | date: "%Y" %}
    {% assign archivename_previous = paginator.posts[previous_index].date | date: "%Y" %}
    {% assign archivename_next = paginator.posts[next_index].date | date: "%Y" %}
{% when "%Y/%m" %}
    {% assign archivetype = "month" %}
    {% assign archivename = page.date | date: "%B %Y" %}
    {% assign archivename_previous = paginator.posts[previous_index].date | date: "%B %Y" %}
    {% assign archivename_next = paginator.posts[next_index].date | date: "%B %Y" %}
{% endcase %}
<header class="index__header">
    <h1 class="index__title">{{ archivename }}</h1>

    <nav class="nav nav--pagination">
    {% if paginator.previous_page %}
        <a class="nav__item" rel="next" href="{{ paginator.previous_page_path | remove: "index.html" }}" title="{{ archivename_previous }}">Previous {{ archivetype }}</a>
    {% endif %}
    {% if paginator.next_page %}
        <a class="nav__item" rel="prev" href="{{ paginator.next_page_path | remove: "index.html" }}" title="{{ archivename_next }}">Next {{ archivetype }}</a>
    {% endif %}
    </nav>
</header>

<div class="index__main">
{% if archivetype == "year" %}
    {% for post in page.archive.posts reversed %}
        {% capture month %}{{ post.date | date: "%m%Y" }}{% endcapture %}
        {% capture nmonth %}{{ post.next.date | date: "%m%Y" }}{% endcapture %}
        {% if month != nmonth %}
            {% if forloop.index != 1 %}
    </ol>
            {% endif %}

    <h2><a href="{{ post.date | date: "/%Y/%m/" }}">{{ post.date | date: "%B" }}</a></h2>
    <ol class="list" reversed>
        {% endif %}

        {% if post.chapter-title == null %}<li class="list__item" value="{{ post.date | date: "%-d" }}"><a href="{{ post.url }}">{{ post.title | smart }}</a></li>{% endif %}

    {% endfor %}
    </ol>
{% else %}
    {% for summary in page.archive.posts reversed %}
    {% indent_include summary.html 4 %}
    {% endfor %}
{% endif %}
</div>