<!DOCTYPE html>
<html lang="en-gb">
{% include head.html %}

<body>
{% indent_include banner.html 4 %}
    <main class="main" role="main">
        <article class="page">
            <header class="page__header">
                <h1 class="page__title">{{ page.title | smart }}</h1>
            </header>

            <div class="page__main">
                {{ content | abbr | ampersand | indent: 16 }}
            </div>
        </article>
    </main><!--/@main-->
{% indent_include navigation.html 4 %}
{% indent_include search.html 4 %}
{% indent_include contentinfo.html 4 %}
{% indent_include foot.html 4 %}
</body>
</html>