---
layout: default
---
<article class="photo container">
    <header class="photo__header">
        <h1 class="photo__title">{{ page.title | ampersand | replace: " '"," &#8216;" | replace: "'","&#8217;" }}</h1>
    </header>

    <div class="photo__main prose">
        {% if page.embed %}{% oembed {{ page.link }} %}{% endif %}

        {{ content }}
    </div>

    <footer class="photo__footer">
        <time class="photo__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
    </footer>
</article>

{% include navigation/nav--pagination.html %}