---
layout: default
---
<main class="main" role="main">
    <article class="entry">
        <header class="entry__header">
            <h1 class="entry__title">{{ page.title }}</h1>
        </header>

        <div class="entry__main">
            {{ content | abbr | ampersand }}
        </div>

        <footer class="entry__footer">
            <time class="entry__pubdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%e %B %Y" }}</time>
        </footer>
    </article>

    <section class="section" id="comments">
    {% case page.comment_count %}
    {% when 0 %}
        <h1 class="section__title">No comments</h1>
    {% when 1 %}
        <h1 class="section__title">1 comment</h1>
    {% else %}
        <h1 class="section__title">{{ page.comment_count }} Comments</h1>
    {% endcase %}
    {% for c in page.comments %}
        <article class="comment">
            <header class="comment__header">
                <h1><a href="{{c.url}}">
                    {% if c.url and c.url != '' %}
                        {{ c.author }}
                    {% else %}
                        {{ c.author }}
                    {% endif %}
                    <img src="{{ c.email | to_gravatar }}?s=96" width="64" height="64" alt=""/>
                </a></h1>
            </header>
            <div class="comment__main">
                {{ c.content | abbr | ampersand | markdownify }}
            </div>
            <footer class="comment__footer">
                <time class="comment__pubdate" datetime="{{ c.date | date_to_xmlschema }}">{{ c.date | date: "%e %B %Y" }}</time>
            </footer>
        </article>
    {% endfor %}
    </section>

    <nav class="nav nav--pagination">
    {% assign previous = page.previous %}
        {% if previous.url %}<a class="pagination-item older" rel="prev" href="{{previous.url}}">{{previous.title}}</a>{% endif %}
    {% assign next = page.next %}
        {% if next.url %}<a class="pagination-item newer" rel="next"  href="{{next.url}}">{{next.title}}</a>{% endif %}
    </nav>

    <section class="section" id="related">
        <h1 class="section__title">Related Posts</h1>
        <ul class="list">
        {% for post in site.related_posts limit:3 %}
            <li class="list__item">
                {% include summary.html %}
            </li>
        {% endfor %}
        </ul>
    </section>
</main><!--/@main-->