---
layout: default
---
<main class="main" role="main">
    <article class="entry">
        <header class="entry__header">
            <h1 class="entry__title">{{ page.title }}</h1>
        </header>

        <div class="entry__main">
        {% assign posts_list = site.posts %}
        {% for summary in posts_list %}
            {% if summary.layout == "post-project" %}
                {% include summary.html %}
            {% endif %}
        {% endfor %}
        </div>
    </article>
</main><!--/@main-->