// ========================================================
// Banner
// ========================================================

.c-banner {
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);

  @media (min-width: $b__a) {
    margin-bottom: units(6);
  }
}

.c-banner__home {
  display: inline-block;
  line-height: 0;
}

.c-banner__logo {
  width: units(4);
  height: units(4);

  @media (min-width: $b__a) {
    width: units(6);
    height: units(6);
  }
}
