// ========================================================
// Content Info
// ========================================================

.c-contentinfo {
  @include fs--caption;
  margin-bottom: units(3);

  a {
    text-decoration: none;
  }
}

.c-contentinfo__main {
  position: relative;

  @media screen and (min-width: $b__b) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-contentinfo__social {
  display: flex;
  margin-bottom: units(1);

  @media screen and (min-width: $b__b) {
    flex: 0 0 auto;
    width: percentage(2/9);
  }

  @media print {
    display: none;
  }
}

.c-contentinfo__links {
  margin-bottom: units(1);

  @media screen and (min-width: $b__b) {
    flex: 0 1 auto;
  }

  @media print {
    display: none;
  }

  a {
    @include separate;
  }
}

.c-contentinfo__copyright {
  margin-bottom: units(1);

  @media screen and (min-width: $b__b) {
    flex: 0 0 auto;
    margin-right: percentage(1/9);
    margin-left: auto;
  }
}
