// ========================================================
// Main content
// ========================================================

.c-main {
  position: relative;
  flex: 1;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  margin-bottom: units(3);
}
