// ========================================================
// Page
// ========================================================

.c-page {
  display: flex;
  flex-direction: column;
}

.c-page__header,
.c-page__footer {
  order: -1;

  @media screen and (min-width: $b__b) {
    padding-left: percentage(2/9);
  }

  .c-page--note & {
    order: 0;
  }
}

.c-page__header {
  .c-page--index & {
    @media screen and (min-width: $b__b) {
      position: absolute;
      padding-left: 0;
      width: percentage(2/9);
    }

    .c-page__title {
      @media (min-width: $b__b) {
        @include fs--heading-2;
      }
    }
  }
}

.c-page__footer {
  margin-bottom: units(4);
  color: $c__neutral-mid;

  a {
    text-decoration: none;
  }
}

.c-page__title {
  @include fs--title;
  margin-bottom: units(1);
  font-weight: 700;
}
