// ========================================================
// Project
// ========================================================

.c-project {
  @include fs--caption;
  margin-bottom: units(2);
}

.c-project__logo {
  display: block;
  margin-bottom: units(1);
}

.c-project__title {
  @include separate;
  display: inline;
  font-weight: 700;
}

.c-project__meta {
  display: inline;
  color: $c__neutral-mid;
}
