// ========================================================
// Theme: Dark
// ========================================================

$c__t-dark--background: $c__neutral-darkest;
$c__t-dark--text: $c__neutral-lightest;
$c__t-dark--text-alt: white;

.t-dark {
  @media screen {
    body {
      background-color: $c__t-dark--background;
      color: $c__t-dark--text;
    }

    .c-form__label-inline .c-form__label {
      border-color: rgba($c__t-dark--text, 0.2);
    }

    .c-navigation {
      background-color: rgba($c__t-dark--background, 0.95);
    }
  }
}
