<section class="section section--articles" aria-labelledby="articles">
    <h1 class="section__title" id="articles">Selected writing</h1>

    <ul class="list list--articles">
    {% for article in site.data.articles %}
        <li class="list__item">
            <article class="summary summary--article">
                <h1 class="summary__title"><a href="{{ article.url }}">{{ article.title | smart }}</a></h1>
                <p class="summary__meta">{{ article.publication }}, <time datetime="{{ article.date | date_to_xmlschema }}">{{ article.date | date: "%Y" }}</time></p>
            </article>
        </li>
    {% endfor %}
    </ul>
</section>
