{% capture entry_id %}{{ page.path | remove: "journal/_posts/entries/" | remove: "journal/_posts/links/" | remove: ".markdown" }}{% endcapture %}
{% capture remark_count %}{{ site.data.remarks[entry_id] | size }}{% endcapture %}
<details class="section section--discussion section--is-expandable" aria-labelledby="discussion">
    <summary class="section__header">
        <h1 class="section__title" id="discussion">Discussion</h1>
        <p>
            {% case remark_count %}
            {% when "0" %}
                No remarks yet.
            {% when "1" %}
                1 Remark.
            {% else %}
                {{ remark_count }} remarks.
            {% endcase %}
            {% if page.discussion == "open" %}
                <a href="mailto:remark+{{ page.id | remove_first: "/" | replace: "/", "-" }}@public.paulrobertlloyd.com?subject=[paulrobertlloyd.com] {{ page.title }}">Comments are open on this article</a>
            {% else %}
                The dicussion has now ended.
            {% endif %}
        </p>
    </summary>

    <div class="section__main">
        {% if remark_count >= "1" %}
            {% for remark in site.data.remarks[entry_id] reversed %}
                {% include html/sections/remark.html %}
            {% endfor %}
        {% endif %}
    </div>
</details>
