<section class="section section--hello" aria-labelledby="hello">
    <h1 class="section__title" id="projects">Hello</h1>

    <p>I'm Paul, a Brighton-based graphic designer and front-end web developer.</p>
    <p>With over ten years agency and in-house experience, I'm comfortable with every stage of the digital product design process, be it sketching on whiteboards, creating visual compositions or building modern, modular front-end component libraries. I love working for ethical and sustainable businesses making a positive and measurable impact on society – and not in a cliched 'change the world' kind of way.</p>
    <p>I’m available from March 2015. If you have a project in mind, <a href="/contact/">please get in touch</a>!</p>
</section>
