<section class="section section--featured-projects" aria-labelledby="featured-projects">
    <h1 class="section__title audible" id="featured-projects">Featured Projects</h1>

    <ul class="list list--featured-projects">
    {% assign projects = site.categories.projects | sort: 'date' %}
    {% for summary in projects %}
        {% if summary.project_featured == true %}
        <li class="list__item">
            {% include html/sections/summary--project.html %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</section>
