{% if page.path contains 'projects' %}
    {% assign related = page.related_posts %}
{% else %}
    {% assign related = site.related_posts reversed | where: 'layout', 'entry' | sort: 'date' %}
{% endif %}
<section class="section section--related" aria-labelledby="related">
    <h1 class="section__title" id="related">Related</h1>

    <ul class="list list--related">
    {% for item in related | limit: 3 %}
        <li class="list__item">
            <article class="summary summary--related">
                <h1 class="summary__title"><a href="{{ item.url }}">{{ item.title | smart }}</a></h1>
                <p class="summary__meta">
                {% if page.path contains 'projects' %}
                    {{ item.url | remove: 'http://' | remove: 'https://' | split: '/' | first }}
                {% else %}
                    <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%e %B %Y" }}</time>
                {% endif %}
                </p>
            </article>
        </li>
    {% endfor %}
    </ul>
</section>
