<article class="summary summary--{{ summary.layout }}  h-entry">
    <header class="summary__header">
        <h1 class="summary__title  p-name">
            {% if summary.layout == "link" %}
                <a class="summary__link" href="{{ summary.link }}">{{ summary.title | smart }}</a>
            {% else %}
                <a class="summary__link" href="{{ summary.url }}">{{ summary.title | smart }}</a>
            {% endif %}
        </h1>
    </header>

    <div class="summary__main  p-summary">
        <div class="prose  e-content">
            {% if summary.link-embed == "photo" %}
                {% embed {{ summary.link }} %}
            {% endif %}

            {% if summary.layout == "link" %}
                {{ summary.content | markdownify | typogrify | smart }}
            {% elsif summary.excerpt != null %}
                {{ summary.excerpt | markdownify | typogrify | smart }}
            {% endif %}
        </div>
    </div>

    <footer class="summary__footer">
        <a class="summary__permalink  u-url" href="{{ summary.url }}" rel="bookmark">
            <time class="summary__pubdate  dt-published" datetime="{{ summary.date | date_to_xmlschema }}">{{ summary.date | date: "%B %Y" }}</time>
        </a>
    </footer>
</article>
