---
layout: default
theme: dark
---
{% for section in site.data.homepage %}
    <section class="section section--{{ section.class }}">
        <header class="section__header">
            <h1 class="section__title">{{ section.title | smartify }}</h1>
        </header>

        <div class="section__main">
            {% if section.class == 'intro' %}<div class="lede">{% endif %}
                {{ section.text | markdownify | typogrify }}
            {% if section.class == 'intro' %}</div>{% endif %}
        </div>
    </section>
{% endfor %}
