---
layout: default
theme: dark
---
<div class="c-page  h-card">
{% for container in site.data.homepage %}
    <section class="c-section c-section--{{ container.class }}">
        <header class="c-section__header">
            <h1 class="c-section__title">{{ container.title | smartify }}</h1>
        </header>

        <div class="c-section__main">
            <div class="s-prose s-prose--{% if container.class == "about" %}lede{% else %}billboard{% endif %}">
                {{ container.text | markdownify | typogrify | namespace }}
            </div>
        </div>
    </section>
{% endfor %}
</div>
