/*  =========================================================================
    Buttons
    ========================================================================= */
.button {
    display: inline-block;
    background-color: $c__accent-light;
    background-image: none;
    padding: 0.5em;
    color: $c__neutral-8;
    font-family: $f__sans-serif;
}
