/*  =========================================================================
    Button
    ========================================================================= */
.button {
    display: inline-block;
    border: 0;
    background-color: $c__accent-light;
    padding: 0.5em;
    color: $c__neutral-8;
    font-family: $f__sans-serif;
}
