/*  =========================================================================
    Form
    ========================================================================= */

.form {
    @include ff--sans-serif;
}

.form__title {
    @include fs--2;
    padding-bottom: 1rem;
}

.form__field {
    position: relative;
    margin: 0.75rem 0; // 12px 0
}

.form__label {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    padding: 1em 0.5em;
    width: 10em;
    line-height: 1;
}

.form__input {
    border: 1px solid rgba($c__neutral-3, 0.15);
    padding: 1em 0.5em 1em 6em;
    width: 100%;
    line-height: 1;

    &:focus {
        outline: 2px solid rgba($c__neutral-3, 0.25);
    }
}

.form__input--text {
    height: 3rem;
}
