/*  =========================================================================
    Icons
    ========================================================================= */
[data-icon] {
    font-family: $f__icon;

    &:before {
        content: attr(data-icon);
        speak: none;
    }
}
