/*  =========================================================================
    Prose
    ========================================================================= */
.prose {
    @include fs--4;
    @include ff--serif(400);
    font-feature-settings: 'liga', 'dlig', 'onum';

    @media screen and (min-width: $bp__b) {
        @include fs--3;
    }

    h2 {
        @include fs--2;
        @include ff--sans-serif(400);
    }

    h3 {
        @include fs--3;
        @include ff--sans-serif(600);
    }

    h4 {
        @include fs--3;
        @include ff--sans-serif(400);
    }

    h5 {
        @include fs--4;
        @include ff--sans-serif(400);
    }

    h6 {
        @include fs--5;
        @include ff--sans-serif(400);
        text-transform: uppercase;
    }
    
    blockquote {
        margin: 0.5rem 0 1.5rem -1.0625rem; // 8px 0 24px -17px
    }

    figcaption {
        @include fs--5;
        @include ff--sans-serif(400);
        display: block;
        clear: left;
        color: $c__neutral-4;
    }

    strong {
        font-family: $f__sans-serif;
    }

    a {
        background-image: linear-gradient(to left, rgba($c__link, 0.2), rgba($c__link, 0.2));
        background-repeat: repeat-x;
        background-position: 0 90%;
        background-size: 1px 1px;
        text-shadow: 2px 0 0 $c__neutral-8, -2px 0 0 $c__neutral-8;

        &:active,
        &:hover {
            background-image: linear-gradient(to left, rgba($c__link-hover, 0.4), rgba($c__link-hover, 0.4));
        }

        &:active {
            background-image: linear-gradient(to left, rgba($c__link-active, 0.4), rgba($c__link-active, 0.4));
        }
    }
}
