/*  =========================================================================
    Prose
    ========================================================================= */
.prose {
    @extend %fs--3;
    @include ff--serif(400);
    font-feature-settings: 'liga', 'dlig', 'onum';

    h2 {
        @extend %fs--2;
        @include ff--sans-serif(400);
    }

    h3 {
        @extend %fs--3;
        @include ff--serif(700);
    }

    h4 {
        @extend %fs--3;
        @include ff--sans-serif(400);
    }

    h5 {
        @extend %fs--4;
        @include ff--sans-serif(400);
    }

    h6 {
        @extend %fs--5;
        @include ff--sans-serif(400);
        text-transform: uppercase;
    }

    figcaption {
        @extend %fs--5;
        @include ff--sans-serif(400);
        display: block;
        clear: left;
        color: $c__neutral-3;
    }

    strong {
        font-family: $f__sans-serif;
    }

    a {
        background-image: linear-gradient(to left, rgba($c__link, 0.2), rgba($c__link, 0.2));
        background-repeat: repeat-x;
        background-position: 0 1.0625em;
        background-size: 1px 1px;
        text-shadow: 2px 0 0 $c__neutral-8, -2px 0 0 $c__neutral-8;

        &:active,
        &:hover {
            background-image: linear-gradient(to left, rgba($c__link-hover, 0.4), rgba($c__link-hover, 0.4));
        }

        &:active {
            background-image: linear-gradient(to left, rgba($c__link-active, 0.4), rgba($c__link-active, 0.4));
        }
    }

    .caps {
        font-feature-settings: 'c2sc' 1;
    }
}
