/*  =========================================================================
    Tag
    ========================================================================= */
.tag {
    @include fs--5;
    display: inline-block;
    margin-right: 0.25rem; // 4px
    color: $c__neutral-4;
}
