/*  =========================================================================
    Index
    ========================================================================= */

.index {
    overflow: hidden;
}

.index__header {
    @include susy-media($b__b) {
        @include span(2);
    }
}

.index__main {
    @include susy-media($b__b) {
        @include span(6 last);
    }

    .section__header {
        @include susy-media($b__c) {
            @include span(1 of 6);
            margin-top: ($u__baseline * 1.5);
        }
    }

    .section__main {
        @include susy-media($b__c) {
            @include span(5 of 6 last);
        }
    }
}

.index__title {
    @include fs--double-english;
    font-weight: 700;

    @include susy-media($b__a) {
        @include fs--canon;
    }
}
