/*  =========================================================================
    Layout: Entry
    ========================================================================= */

.page--entry .page__location::before {
    opacity: 0.5;
    margin: 0 ($u__baseline / 4);
    content: '/';
}

.js-enhanced .page--entry .page__location::before {
    display: none;
}

.js-enhanced .page--entry .page__location::after {
    opacity: 0.5;
    margin: 0 ($u__baseline / 2) 0 ($u__baseline / 4);
    content: '/';
}
