/*  =========================================================================
    Layout: Album
    ========================================================================= */

.page--album .figure {
    margin-bottom: ($u__baseline * 3);
    min-height: ($u__baseline * 8);
    max-height: ($u__baseline * 32);
}

.page--album .figure__main {
    background-color: $c__neutral--a;

    img {
        margin: 0 auto;
        max-height: 100%;
    }
}
