/*  =========================================================================
    Page
    ========================================================================= */

.page {
    display: flex;
    flex-direction: column;
}

.page-container {
    margin-bottom: $u__baseline;

    @include susy-media($b__a) {
        padding-right: span(1 wide);
        padding-left: span(1 wide);
    }
}

.page__header {
    padding-bottom: ($u__baseline * 4);
    order: 1;
}

.page__footer {
    margin-top: ($u__baseline * -4);
    margin-bottom: ($u__baseline * 4);
    order: 2;
}

.page__media {
    order: 3;
}

.page__main {
    order: 4;
}

.page__discussion {
    order: 5;
}

.page__tags {
    order: 6;

    .tag {
        @include fs--caption;
    }
}

.page__title {
    @include fs--heading-1;
    font-weight: 700;
}

.page__location {
    @include ff--sans-serif;
    @include fs--caption;
    text-transform: uppercase;
    letter-spacing: 0.03125rem; // 0.5px
}

.page__pubdate {
    @include ff--sans-serif;
    @include fs--caption;
    color: $c__neutral--4;
}
