/*  =========================================================================
    Layout: Project
    ========================================================================= */

.page--project {
    .page__header {
        padding-bottom: 0;
    }

    .page__title {
        text-align: center;
    }
}
