/*  =========================================================================
    EXIF info list
    ========================================================================= */

.exif-info {
    @include caption;
}

.exif-info__value {
    float: left;
    margin-left: 0;
    width: 50%;

    &[data-exif="exif-date_time"],
    &[data-exif="exif-model"] {
        float: none;
        width: auto;
    }
}
