/*  =========================================================================
    Figure
    ========================================================================= */

.figure__main {
    margin-bottom: $u__baseline/2;

    // TODO: Review these overrides
    p {
        @include clearfix;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

.figure__caption {
    @include caption;
    @include rule(after);
}


/* 2up */
.figure--2up {
    img {
        @include span(4 of 8);

        &:nth-of-type(2n) {
            @include last;
        }
    }
}


/* 4up */
.figure--4up {
    img {
        @include span(2 of 8);

        &:nth-of-type(4n) {
            @include last;
        }
    }
}


/* Tweet */
.figure--tweet {
    blockquote {
        position: relative;
        margin-bottom: $u__baseline;
        border-left: 0;
        background-color: $c__neutral--8;
        padding: $u__baseline/2 $u__gutter/2;

        &::after {
            display: block;
            position: absolute;
            bottom: -($u__baseline/2);
            left: $u__gutter/2;
            transform: rotate(45deg);
            background-color: $c__neutral--8;
            width: $u__baseline;
            height: $u__baseline;
            content: '';
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}
