/*  =========================================================================
    Figure
    TODO: Refactor all of this!
    ========================================================================= */
.figure {
    position: relative; // Helps position exif-info to bottom of figure__caption
}

.figure__caption {
    @include caption;
    @include rule(after);

    .l-pull-left & {
        @include rule(before);
        @include rule(after, $display: none);
    }
}


/* Ups */
%figure--up {
    p {
        @include clearfix;
    }
}

.figure--2up {
    @extend %figure--up;

    img {
        @include span(4 of 8);

        &:nth-of-type(2n) {
            @include last;
        }
    }
}

.figure--3up {
    @extend %figure--up;

    img {
        @include span(2 of 6);

        &:nth-of-type(3n) {
            @include last;
        }
    }
}

.figure--4up {
    @extend %figure--up;

    img {
        @include span(2 of 8);

        &:nth-of-type(4n) {
            @include last;
        }
    }
}

.figure--5up {
    @extend %figure--up;

    @include with-layout(10, 0.2) {
        img {
            @include span(2 of 10);

            &:nth-of-type(5n) {
                @include last;
            }
        }
    }
}


/* Tweet */
.figure--tweet {
    blockquote {
        position: relative;
        margin-bottom: $u__baseline;
        border-left: 0;
        background-color: $c__neutral--8;
        padding: ($u__baseline / 2) ($u__gutter / 2);

        &::after {
            display: block;
            position: absolute;
            bottom: -($u__baseline / 2);
            left: ($u__gutter / 2);
            transform: rotate(45deg);
            background-color: $c__neutral--8;
            width: $u__baseline;
            height: $u__baseline;
            content: '';
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    .figure__caption {
        @include rule(after, $display: none);
    }
}
