/*  =========================================================================
    Nav
    ========================================================================= */

.nav__item {
    &.is-active {
        font-weight: 600;
    }
}


/* Primary navigation  */
.nav--primary {
    @include l-container;
    position: relative;
    margin-top: 6rem;
    font-size: 1rem;
    line-height: 1;
    text-align: right;

    .nav__item {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .nav__item__label {
        color: $c__neutral-2;

        .inverted & {
            color: $c__neutral-7;
        }
    }
}


/* Secondary navigation */
.nav--secondary {
    @include grid('.nav__item', 2);
}


/* Series navigation */
.nav--series,
.nav--years {
    .nav__item {
        border-top: 1px solid $c__neutral-6;
        padding: 0.25rem 0;
    }
}


/* Page navigation */
.nav--pages {
    position: fixed;
    top: 14.5rem;
    right: 2rem;
    left: 2rem;
    z-index: 1;

    .nav__item {
        position: absolute;
        margin-top: -1rem;

        &::before {
            display: block;
            transform: rotate(45deg);
            border-style: solid;
            border-color: rgba($c__neutral-1, 0.1);
            width: 1.75rem;
            height: 1.75rem;
            content: '';
        }

        &:hover::before {
            border-color: rgba($c__neutral-1, 0.2);
        }
    }

    .nav__item--prev {
        left: 0;

        &::before {
            border-width: 0 0 2px 2px;
        }
    }

    .nav__item--next {
        right: 0;

        &::before {
            border-width: 2px 2px 0 0;
        }
    }

    .nav__item__label {
        @include hidden;
    }
}
