/*  =========================================================================
    Nav
    ========================================================================= */

.nav__item {
    &.is-active {
        font-weight: 600;
    }
}


/* Primary navigation  */
.nav--primary {
    @include fs--english;
    @include clearfix;

    .nav__item {
        @include span(1 of 3);
        margin-bottom: ($u__baseline / 2);

        &:nth-child(3n) {
            @include last;
        }
    }
}


/* Secondary navigation */
.nav--secondary {
    @include fs--english;
    @include clearfix; 

    .nav__item {
        @include span(1 of 3);

        &:nth-child(3n) {
            @include last;
        }
    }
}


/* Series navigation */
.nav--series,
.nav--years {
    .nav__item {
        border-top: 1px solid rgba($c__accent, 0.33);
        padding-top: ($u__baseline / 4);
        padding-bottom: ($u__baseline / 2);
    }

    .nav__item__label {
        @include fs--english;
        display: block;
    }
}


/* Page navigation */
.nav--pagination {
    position: relative;
    border-top: 1px solid rgba($c__accent, 0.33);
    height: ($u__baseline * 2);
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-right: 1px dashed rgba($c__accent, 0.33);
        width: 1px;
        content: '';
    }

    .nav__item {
        line-height: ($u__baseline * 2);

        .nav__item__icon {
            fill: $c__link;
        }

        &:hover .nav__item__icon {
            fill: $c__link--hover;
        }

        &:active .nav__item__icon {
            fill: $c__link--active;
        }
    }

    .nav__item--prev {
        float: left;
    }

    .nav__item--next {
        float: right;
    }
}
