/*  =========================================================================
    Project info list
    ========================================================================= */

.project-info {
    @include caption;
    @include clearfix;
    @include span(2 of 6 last);
    margin-right: -(span(1 wider));
    margin-left: gutter();
}

.project-info__title {
    border-top: 1px solid $c__neutral--8;
    padding-top: ($u__baseline / 4);
    color: $c__neutral--2;
}

.project-info__value {
    margin-left: 0;
    padding-bottom: ($u__baseline / 2);
}
