/*  =========================================================================
    Rating - 5-star ratings
    ========================================================================= */

.rating {
    color: $c__neutral--6;

    [data-icon] {
        margin-left: -0.125rem;
    }
}

.rating--score-1 [data-icon]:nth-child(-n+1),
.rating--score-2 [data-icon]:nth-child(-n+2),
.rating--score-3 [data-icon]:nth-child(-n+3),
.rating--score-4 [data-icon]:nth-child(-n+4),
.rating--score-5 [data-icon]:nth-child(-n+5) {
    color: $c__neutral--2;
}
