/*  =========================================================================
    Remark
    ========================================================================= */
$remark__avatar-size: $u__gutter*2;

.remark {
    display: flex;
    position: relative;
    clear: both;
    margin-bottom: 1rem;
    padding-left: $remark__avatar-size + 1rem;
    min-height: $remark__avatar-size;
    flex-direction: column;
}

.remark__header {
    order: 1;
}

.remark__main {
    order: 3;

    ol,
    ul {
        list-style-position: inside;
    }
}

.remark__footer {
    margin-bottom: 1rem;
    order: 2;
}

.remark__title {
    @include fs--great-primer;
    @include ff--sans-serif(600);
    @include rule(before, $c__accent);
}

.remark__avatar {
    @include l-align-left;
    position: absolute;
    top: 0;
    left: 0;
    width: $remark__avatar-size;
    height: $remark__avatar-size;
}

.remark__pubdate {
    @include t-caption;
}
