/*  =========================================================================
    Summary
    ========================================================================= */

.summary {
    margin-bottom: $u__baseline;
}

.summary__title {
    @include ff--sans-serif(600);
    @include fs--great-primer;

    .summary--related &,
    .summary--article &,
    .summary--presentation &,
    .summary--project & {
        @include rule(before, $c__accent);
    }
}

.summary__permalink {
    display: block;
}

.summary__pubdate,
.summary__meta {
    @include caption;
}

/* Entry summary */
.summary--entry {
    .summary__title {
        @include fs--double-english;
    }
}

/* Link summary */
.summary--link {
    .summary__link::after {
        content: ' \2192';
    }

    .summary__permalink {
        opacity: 0.5;
        width: 1rem;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            content: '#';
        }

        &:hover {
            opacity: 1;
        }
    }
}

/* Project summary */
.summary--featured-project {
    .summary__image {
        position: relative;
        margin-bottom: $u__baseline/2;
        background-color: $c__neutral--4;
        padding-bottom: 68%;
        height: 0;
    }

    .summary__image--24-ways         { background-color: $c__24-ways; }
    .summary__image--unicef-uk       { background-color: $c__unicef-uk; }
    .summary__image--bradshaws-guide { background-color: $c__bradshaws-guide; }
    .summary__image--matter          { background-color: $c__matter; }
    .summary__image--dacs            { background-color: $c__dacs; }
    .summary__image--the-week        { background-color: $c__the-week; }
    .summary__image--fontdeck        { background-color: $c__fontdeck; }
    .summary__image--ngenera         { background-color: $c__ngenera; }

    .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        fill: #fff;
    }
}
