/*  =========================================================================
    Summary
    ========================================================================= */

.summary {
    margin-bottom: $u__baseline;

    @include susy-breakpoint(b__a) {
        position: relative;
    }
}

.summary__footer {
    @include susy-breakpoint(b__a) {
        @include span(1 wider);
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -(span(1 wider));
    }
}

.summary__title {
    @include ff--sans-serif(600);
    @include fs--great-primer;

    .summary--related &,
    .summary--article &,
    .summary--presentation &,
    .summary--project & {
        @include rule(before, $c__accent);
    }
}

.summary__permalink {
    display: block;
}

.summary__pubdate,
.summary__meta {
    @include caption;
}

/* Entry summary */
.summary--entry {
    margin-bottom: (4 * $u__baseline);

    .summary__title {
        @include fs--canon;
        margin-bottom: $u__baseline;
    }
}

/* Link summary */
.summary--link {
    margin-bottom: (2 * $u__baseline);

    .summary__title {
        margin-bottom: ($u__baseline / 5);
    }

    .summary__link::after {
        content: ' \2192';
    }
}

/* Project summary */
.summary--featured-project {
    .summary__image {
        position: relative;
        margin-bottom: $u__baseline/2;
        background-color: $c__neutral--4;
        padding-bottom: 68%;
        height: 0;
    }

    .summary__image--24-ways         { background-color: $c__24-ways; }
    .summary__image--unicef-uk       { background-color: $c__unicef-uk; }
    .summary__image--bradshaws-guide { background-color: $c__bradshaws-guide; }
    .summary__image--matter          { background-color: $c__matter; }
    .summary__image--dacs            { background-color: $c__dacs; }
    .summary__image--the-week        { background-color: $c__the-week; }
    .summary__image--fontdeck        { background-color: $c__fontdeck; }
    .summary__image--ngenera         { background-color: $c__ngenera; }

    .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        fill: #fff;
    }
}
