/*  =========================================================================
    Syntax highlighting for programming languages
    ========================================================================= */

[class*="language-"] {
    background: #fff;

    .c { color: #998; font-style: italic; } // Comment
    .cm { color: #988; font-style: italic; } // Comment.Multiline
    .cp { color: #999; font-weight: 600; } // Comment.Preproc
    .c1 { color: #998; font-style: italic; } // Comment.Single
    .cs { color: #999; font-weight: 600; font-style: italic; } // Comment.Special

    .err { background-color: #edd; color: #a11; } // Error

    .ge { font-style: italic; } // Generic.Emph
    .gr { color: #a00; } // Generic.Error
    .gh { color: #999; } // Generic.Heading
    .go { color: #888; } // Generic.Output
    .gp { color: #555; } // Generic.Prompt
    .gs { font-weight: 600; } // Generic.Strong
    .gu { color: #aaa; } // Generic.Subheading
    .gt { color: #a00; } // Generic.Traceback
    .gd { background-color: #fdd; color: #000; // Generic.Deleted
        .x { background-color: #faa; color: #000; } // Generic.Deleted.Specific
    }
    .gi { color: #000; // Generic.Inserted
        .x { background-color: #dfd; background-color: #afa; color: #000; } // Generic.Inserted.Specific
    }

    .k { font-weight: 600; } // Keyword
    .kc { font-weight: 600; } // Keyword.Constant
    .kd { font-weight: 600; } // Keyword.Declaration
    .kp { font-weight: 600; } // Keyword.Pseudo
    .kr { font-weight: 600; } // Keyword.Reserved
    .kt { color: #458; font-weight: 600; } // Keyword.Type

    .m { color: #099; } // Literal.Number
    .mf { color: #099; } // Literal.Number.Float
    .mh { color: #099; } // Literal.Number.Hex
    .mi { color: #099; } // Literal.Number.Integer
    .mo { color: #099; } // Literal.Number.Oct
    .il { color: #099; } // Literal.Number.Integer.Long

    .na { color: #088; } // Name.Attribute
    .nb { color: #08b; } // Name.Builtin
    .bp { color: #999; } // Name.Builtin.Pseudo
    .nc { color: #458; font-weight: 600; } // Name.Class
    .no { color: #088; } // Name.Constant
    .ni { color: #808; } // Name.Entity
    .ne { color: #900; font-weight: 600; } // Name.Exception
    .nf { color: #900; font-weight: 600; } // Name.Function
    .nn { color: #555; } // Name.Namespace
    .nt { color: #111; } // Name.Tag
    .nv { color: #088; } // Name.Variable

    .s { color: #d14; } // Literal.String
    .sb { color: #d14; } // Literal.String.Backtick
    .sc { color: #d14; } // Literal.String.Char
    .sd { color: #d14; } // Literal.String.Doc
    .s2 { color: #d14; } // Literal.String.Double
    .se { color: #d14; } // Literal.String.Escape
    .sh { color: #d14; } // Literal.String.Heredoc
    .si { color: #d14; } // Literal.String.Interpol
    .sx { color: #d14; } // Literal.String.Other
    .sr { color: #092; } // Literal.String.Regex
    .s1 { color: #d14; } // Literal.String.Single
    .ss { color: #907; } // Literal.String.Symbol

    .o { font-weight: 600; } // Operator
    .ow { font-weight: 600; } // Operator.Word

    .vc { color: #088; } // Name.Variable.Class
    .vg { color: #088; } // Name.Variable.Global
    .vi { color: #088; } // Name.Variable.Instance

    .w { color: #bbb; } // Text.Whitespace
}
